<div class="col-12 mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb px-0">
            <li class="breadcrumb-item"><a href="#">Accreditation services</a></li>
            <li class="breadcrumb-item">
                <a href="#">Electronic auction applications</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Order details</li>
        </ol>
    </nav>
</div>
<div class="col-12">
    <div class="row">
        <div class="col-12">
            <h1 class="text-32 text-primary font-weight-medium">Order details</h1>
        </div>
        <div class="stepper-card">
            <div class="show-status">
                <div>
                    <label>Name of application</label><br>
                    <label style="font-size: 14px; color: #08594d; font-weight: bold;"> Auction of transport cars, equipment and
            trucks</label>
                </div>
                <div class="status-req">
                    <label>Status of request</label>
                    <div class="status-icon">
                        <div class="status-color"></div>
                        <label style="color: black">Waiting for the announcement.</label>
                    </div>
                </div>
            </div>
            <div class="stepper-btn">
                <ul class="steps-group shadow-sm p-3 mb-5 bg-white rounded">
                    <li class="step-item is-done">
                        <a href="">
                            <span class="step-number">1</span>
                            <span class="step-label">Request Accept</span>
                        </a>
                    </li>
                    <li class="step-item is-done">
                        <a href="">
                        </a>
                        <a href="">
                            <span class="step-number">2</span>
                            <span class="step-label">Pricing committee</span>
                        </a>
                    </li>
                    <li class="step-item is-active">
                        <a href="">
                        </a>
                        <a href="">
                            <span class="step-number">3</span>
                            <span class="step-label">Auction committee</span>
                        </a>
                    </li>
                    <li class="step-item">
                        <a href="">
                        </a>
                        <a href="">
                            <span class="step-number">4</span>
                            <span class="step-label">Announcement</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 nav-btn">
            <ul class="nav et-tabs et-tabs-filled">
                <li class="nav-item">
                    <a class="nav-link" href="#">Auction Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Product details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing Committee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Auction Committee</a>
                </li>
            </ul>
        </div>
        <div class="card flex-card">
            <div class="card flex-card-item">
                <div class="card-body">
                    <div style="
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding-bottom: 15px;
                border-bottom: 1px solid #DFEBE8;
              ">
                        <img src="assets\icons\User.svg" alt="User icon" />
                        <p>Committee president</p>
                        <button class="btn btn-ghost btn-sm fill-primary-light-green" data-toggle="modal" data-target="#auctionMemberModal" style="margin-left: 20px;">
              <span class="icon-Group-3286"></span>
            </button>
                    </div>
                    <p style="color: #414042;font-size: 16px;margin-top: 20px;">Abdullah Ahmed Saleh</p>
                    <div>
                        <div style="display: flex;justify-content: space-between;margin-top: 10px;">
                            <p style="color: #117ABE;">Job Number</p>
                            <p>103987</p>
                        </div>
                        <div style="display: flex;justify-content: space-between;margin-top: 5px;">
                            <p style="color: #117ABE;">E-mail</p>
                            <p>Abdulaziz@gov.sa</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card flex-card-item">
                <div class="card-body">
                    <div style="
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  padding-bottom: 15px;
                  border-bottom: 1px solid #DFEBE8;
                ">
                        <img src="assets\icons\User.svg" alt="User icon" />
                        <p>Committee president</p>
                        <button class="btn btn-ghost btn-sm fill-primary-light-green" data-toggle="modal" data-target="#auctionMemberModal" style="margin-left: 20px;">
              <span class="icon-Group-3286"></span>
            </button>
                    </div>
                    <p style="color: #414042;font-size: 16px;margin-top: 20px;">Abdullah Ahmed Saleh</p>
                    <div>
                        <div style="display: flex;justify-content: space-between;margin-top: 10px;">
                            <p style="color: #117ABE;">Job Number</p>
                            <p>103987</p>
                        </div>
                        <div style="display: flex;justify-content: space-between;margin-top: 5px;">
                            <p style="color: #117ABE;">E-mail</p>
                            <p>Abdulaziz@gov.sa</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card flex-card-item">
                <div class="card-body">
                    <div style="
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  padding-bottom: 15px;
                  border-bottom: 1px solid #DFEBE8;
                ">
                        <img src="assets\icons\User.svg" alt="User icon" />
                        <p>Committee president</p>
                        <button class="btn btn-ghost btn-sm fill-primary-light-green" data-toggle="modal" data-target="#auctionMemberModal" style="margin-left: 20px;">
              <span class="icon-Group-3286"></span>
            </button>
                    </div>
                    <p style="color: #414042;font-size: 16px;margin-top: 20px;">Abdullah Ahmed Saleh</p>
                    <div>
                        <div style="display: flex;justify-content: space-between;margin-top: 10px;">
                            <p style="color: #117ABE;">Job Number</p>
                            <p>103987</p>
                        </div>
                        <div style="display: flex;justify-content: space-between;margin-top: 5px;">
                            <p style="color: #117ABE;">E-mail</p>
                            <p>Abdulaziz@gov.sa</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card flex-card-item">
                <div class="card-body">
                    <div style="
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  padding-bottom: 15px;
                  border-bottom: 1px solid #DFEBE8;
                ">
                        <img src="assets\icons\User.svg" alt="User icon" />
                        <p>Committee president</p>
                        <button class="btn btn-ghost btn-sm fill-primary-light-green" data-toggle="modal" data-target="#auctionMemberModal" style="margin-left: 20px;">
              <span class="icon-Group-3286"></span>
            </button>
                    </div>
                    <p style="color: #414042;font-size: 16px;margin-top: 20px;">Abdullah Ahmed Saleh</p>
                    <div>
                        <div style="display: flex;justify-content: space-between;margin-top: 10px;">
                            <p style="color: #117ABE;">Job Number</p>
                            <p>103987</p>
                        </div>
                        <div style="display: flex;justify-content: space-between;margin-top: 5px;">
                            <p style="color: #117ABE;">E-mail</p>
                            <p>Abdulaziz@gov.sa</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card flex-card-item">
                <div class="card-body">
                    <div style="
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  padding-bottom: 15px;
                  border-bottom: 1px solid #DFEBE8;
                ">
                        <img src="assets\icons\User.svg" alt="User icon" />
                        <p>Committee president</p>
                        <button class="btn btn-ghost btn-sm fill-primary-light-green" data-toggle="modal" data-target="#auctionMemberModal" style="margin-left: 20px;">
              <span class="icon-Group-3286"></span>
            </button>
                    </div>
                    <p style="color: #414042;font-size: 16px;margin-top: 20px;">Abdullah Ahmed Saleh</p>
                    <div>
                        <div style="display: flex;justify-content: space-between;margin-top: 10px;">
                            <p style="color: #117ABE;">Job Number</p>
                            <p>103987</p>
                        </div>
                        <div style="display: flex;justify-content: space-between;margin-top: 5px;">
                            <p style="color: #117ABE;">E-mail</p>
                            <p>Abdulaziz@gov.sa</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="add-btn" data-toggle="modal" data-target="#auctionMemberModal">
        <div class="card flex-card-item last-card">
          <div class="card-body" style="align-items: center;
          justify-content: space-around;">
            <div style="
                display: flex;
                justify-content: space-around;
                align-items: center;
              ">
              <p>Add a committee member</p>
              <img src="assets\icons\User.svg" alt="User icon" />
            </div>
            <img src="assets\icons\plus.svg" alt="Add icon" />
          </div>
        </div>
      </button>
        </div>
        <div class="btn-submit-grp">
            <button class="btn btn-with-arrow btn-outline-light btn-md">
        <span class="icon-keyboard_arrow_left"></span>
        <font _mstmutation="1" _msthash="1230112" _msttexthash="94172"> Back </font>
      </button>
            <div>
                <button class="btn btn-danger" _msthash="1893008" _msttexthash="94172" style="direction: ltr"> Cancel </button> &nbsp; <button class="btn btn-primary-light" _msthash="1893008" _msttexthash="94172" data-toggle="modal" data-target="#confirmMemberModal"
                    style="direction: ltr"> Submit </button>
            </div>
        </div>
    </div>
    <!-- Model to add members -->
    <div class="modal fade" id="auctionMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"> Add Committee Secretary </h4>
                    <button type="button" class="modal-close btn-close btn-sm" data-dismiss="modal" aria-label="Close">
            <span class="icon-close"></span>
          </button>
                </div>
                <div class="modal-body">
                    <div class="">
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label class="d-flex" for="validationCustom02">Search by employee number or email</label>
                                <div class="search-group search-custom">
                                    <input type="text" class="search-input px-2" id="validationCustom02" placeholder="Enter employee number or email" required />
                                    <div class="text-light d-flex align-items-center mr-3">
                                        <span class="icon-filled-search"></span>
                                    </div>
                                    <div class="valid-feedback">Your input is valid</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row pt-2">
                            <div class="col-12 col-md-12">
                                <table>
                                    <thead>
                                        <tr>
                                            <td class="pr-3">
                                                <h5 class="text-info">Validity</h5>
                                            </td>
                                            <td class="pr-3">
                                                <h5 class="text-info">The name</h5>
                                            </td>
                                            <td class="pr-3">
                                                <h5 class="text-info">Job Number</h5>
                                            </td>
                                            <td class="pr-3">
                                                <h5 class="text-info">Email</h5>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="pr-3">Committee Secretary</td>
                                            <td class="pr-3">There are no data</td>
                                            <td class="pr-3">There are no data</td>
                                            <td class="pr-3">There are no data</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="justify-content: end">
                    <button type="button" class="btn btn-primary-light btn-md">
            <span class="icon-add"></span> Add </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Model to confirm -->
    <div class="modal fade" id="confirmMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel"> Confirmation of sending a quote request? </h4>
                    <button type="button" class="modal-close btn-close btn-sm" data-dismiss="modal" aria-label="Close">
            <span class="icon-close"></span>
          </button>
                </div>
                <div class="modal-body">
                    <label for="confirmation" style="color: #414042; font-size: 16px">Upon confirmation, the auction request will
            be approved and published in the online auction.</label>
                </div>
                <div class="modal-footer" style="justify-content: end">
                    <button type="button" class="btn btn-primary-light btn-md" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#showSuccessfulModal"> Post confirmation </button>
                    <button type="button" class="btn btn-md" data-dismiss="modal" aria-label="Close" style="border: 1px solid #cccccc; border-radius: 5px"> Back </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Model to show confirmed (Successful) -->
    <div class="modal fade" id="showSuccessfulModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content" style="align-items: center;">
                <button style="position: absolute;left: 90%;" type="button" class="modal-close btn-close btn-sm" data-dismiss="modal" aria-label="Close">
          <span class="icon-close"></span>
        </button>
                <span class="icon-check"></span>
                <div class="modal-header">
                    <div class="status-success-icon">
                        <div style="display: flex;">
                            <div class="circle"></div>
                        </div>
                        <h4 class="modal-title" id="exampleModalLabel" style="text-align: center"> The request has been successfully sent to the pricing committee </h4>
                    </div>
                </div>
                <div class="modal-body">
                    <label for="confirmation" style="color: #414042; font-size: 16px; text-align: center;">After pricing the
            products by the committee, the request will be returned to appoint the auction committee and publish the
            auction. </label>
                </div>
                <div class="modal-footer" style="justify-content: end">
                    <button type="button" class="btn btn-primary-light btn-md" data-dismiss="modal" aria-label="Close"> Back to
            Auction Requests </button>
                </div>
            </div>
        </div>
    </div>