.background {
    // height: 600px;
    // background-repeat: no-repeat;
    // display: flex;
    // background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}

.banner {
    display: flex;
}

.image {
    z-index: 999;

    img {
        margin-top: 80px;
        width: 376px;
    }
}

.image-text {
    display: flex;
    margin-top: 180px;
    display: block;
    z-index: 999;

    h1 {
        color: #005B4E;
        font-size: 45px;
    }

    p {
        color: #414042;
        font-size: 18px;
    }
}

.main-secion {
    margin-top: 250px;
}

.row {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    justify-content: space-around;
}

.auction-step-4 {
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
    position: relative;
    height: 522px;


}

.ar {
    .bg-body {
        width: 382px;
        height: 448px;
        background-color: #32AD71;
        position: absolute;
        left: 14%;
        border-radius: 20px;
    }

    .auction-card {
        width: 351px;
        height: 424px;
        bottom: -77px;
        // backdrop-filter: blur(30px);
        left: -200px;
        position: absolute;
    }

    .auction-price {
        width: 302px;
        height: 230px;
        position: absolute;
        right: -145px;
        top: 52px;
        backdrop-filter: blur(30px);
    }

    .auction-tab {
        width: 628px;
        height: 105px;
        position: absolute;
        bottom: 19px;
        z-index: 99;
        backdrop-filter: blur(30px);
        border-radius: 10px;

        @media screen and (max-width: 992px) {
            right: -158px;
            width: 533px;
        }

        @media screen and (max-width: 1200px) and (min-width: 992px) {
            right: -57px;
        }

        @media screen and (min-width: 1200px) {
            right: 88px;
        }
    }
}

.en {
    .bg-body {
        width: 382px;
        height: 448px;
        background-color: #32AD71;
        position: absolute;
        right: 14%;
        border-radius: 20px;
    }

    .auction-card {
        width: 351px;
        height: 424px;
        bottom: -77px;
        right: -200px;
        position: absolute;
    }

    .auction-price {
        width: 302px;
        height: 230px;
        position: absolute;
        left: -145px;
        top: 52px;
        backdrop-filter: blur(30px);
    }

    .auction-tab {
        width: 628px;
        height: 105px;
        position: absolute;
        bottom: 19px;
        z-index: 99;
        backdrop-filter: blur(30px);
        border-radius: 10px;

        @media screen and (max-width: 992px) {
            left: -158px;
            width: 533px;
        }

        @media screen and (max-width: 1200px) and (min-width: 992px) {
            left: -57px;
        }

        @media screen and (min-width: 1200px) {
            left: 88px;
        }
    }
}



.user-guide {
    margin-top: 80px;
    height: 192px;
    width: 100%;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        place-content: flex-start;

        button {
            margin: 0 40px;
        }
    }

    .logo-back {
        width: 121px;
        height: 121px;
        border-radius: 19px;
        display: flex;
        margin: 0 20px;
        justify-content: center;
        align-items: center;
        --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1) !important;
        --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color) !important;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;

        img {
            width: 161px;
            height: 72px;
        }
    }

    .card {
        width: inherit;
    }
}

.head-desc {
    font-size: 18px;
    line-height: 26px;
    color: #414042;
}

.step {
    display: flex;
    max-width: 316px;
    font-size: 25px;
    z-index: 999;
    position: relative;

    p {
        color: #414042;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: 50px;
    }

    h2 {
        color: #005B4E;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 35px;
    }

    .text {
        text-align: initial;

    }
}

.help-section {
    margin-top: 40px;
    height: 224px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, .125);

    .title {
        display: flex;
        place-content: flex-start;
    }

    .desc {
        display: flex;
        place-content: flex-start;
        text-align: initial;
        margin-left: 35px;
        margin-right: 35px;
    }

    .content {
        justify-content: center;
        align-items: center;
        height: inherit;
        place-content: flex-start;

        h1 {
            margin: 20px;
        }

    }

    .cs-button {
        display: flex;
        place-content: flex-end;

        button {
            border: 1px solid #32AD71;
            color: #32AD71;
            border-radius: 5px;
        }
    }

    img {
        width: 65px;
        height: 65px;
    }

    .card {
        width: inherit;
    }
}

.upcoming-auction {
    h1 {
        color: #005B4F;
        font-size: 45px;
        display: flex;
    }

    p {
        color: #005B4F;
        font-size: 14px;
        display: flex;
        place-content: end;
        align-items: center;
        cursor: pointer;

        span {
            font-size: 11px;
            margin: 0 7px;
        }
    }

    .auction-card-par {
        ::-webkit-scrollbar {
            display: none;
        }

        position: relative;

        .auction-card {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            width: 100%;
        }
    }

    .arrow_right,
    .arrow_left {
        position: absolute;
        top: 50%;
        z-index: 999;
        box-sizing: border-box;
        height: 28.2px;
        width: 14.7px;
        color: #32AD71;
        font-size: 28px;
        cursor: pointer;
    }

    .arrow_right {
        right: -40px;
    }

    .arrow_left {
        left: -40px;
    }
}

.line-1 {
    position: absolute;
    width: 361px;
    top: -73px;
}

.line-1.ar {
    right: 64px;
}

.line-1.en {
    left: 64px;
}

.line-2 {
    position: absolute;
    width: 137px;
    top: 20px;

}

.line-2.ar {
    left: -90px;
}

.line-2.en {
    right: -90px;
}

.line-3 {
    position: absolute;
    width: 250px;
    top: 20px;

}

.line-3.ar {
    left: -111px;
}

.line-3.en {
    right: -111px;
}

.line-4 {
    position: absolute;
    width: 486px;
    top: -12px;

}

.line-4.ar {
    left: -239px;
}

.line-4.en {
    right: -239px;
}