<div>
    <div class="container-fluid">
        <div class="background" style="background-image: url(assets/imgs/home-background.png);">
            <div class="image-text">
                <h1>Lorem ipsum </h1>
                <h1 style="margin-top: 10px;">Lorem ipsum dolor sit amet.</h1>
                <p style=" margin-top: 10px;margin-bottom:10px;">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Recusandae,
                    adipisci?</p>
                <p style="margin-top: 10px;margin-bottom:10px;">Lorem ipsum dolor, sit amet consectetur adipisicing
                    elit. Culpa, voluptate!</p>
                <button class="btn btn-primary-light btn-lg d-flex" style="min-width: 220px;">User</button>
            </div>
            <div>
                <img src="assets/imgs/home-illustrator.png" class="image" alt="">
            </div>

        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div style="display: flex;">
                <div style="width: min-content;">
                    <h2>Lorem, ipsum.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, eius?</p>
                </div>
                <div class="col">
                    <img src="assets/imgs/1.png" class="img
                    " alt="">
                </div>
            </div>
            <div style="display: flex;">
                <div style="width: min-content;">
                    <h2>Lorem, ipsum.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, eius?</p>
                </div>
                <div class="col">
                    <img src="assets/imgs/2.png" class="img
                            " alt="">
                </div>
            </div>
            <div style="display: flex;">
                <div style="width: min-content;">
                    <h2>Lorem, ipsum.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, eius?</p>
                </div>
                <div class="col">
                    <img src="assets/imgs/3.png" class="img
                                " alt="">
                </div>
            </div>
        </div>
        <div>
            <div class="detail">
                <div style="display: flex;">
                    <div style="width: min-content;">
                        <h2>Lorem, ipsum.</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, eius?</p>
                    </div>
                    <div class="col">
                        <img src="assets/imgs/4.png" class="img" alt="">
                    </div>
                </div>
                <div class="bg-body">
                    <div>
                        <img src="assets/imgs/auction-card.png" class="truck-img" alt="">
                    </div>
                    <div>
                        <img src="assets/imgs/auction-tab.png" class="truck-img2" alt="">
                        <img src="assets/imgs/auction-price.png" class="truck-img1" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="detail2">
            <div class="card-body">
                <div>
                    <img src="assets/icons/logo-mini.svg" class="img1" alt="">
                </div>
                <div class="card">
                    <div>
                        <button class="btn btn-primary-light btn-lg d-flex" style="min-width: 220px;">Submit the
                            data</button>
                    </div>
                    <div>
                        <h1>lorem</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, dicta!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail3">
            <div class="card-body1">
                <div>
                    <img src="assets/imgs/Hints.svg" class="img1" alt="">
                </div>

                <div class="card1">
                    <div>
                        <button class="btn btn-primary-light btn-lg d-flex" style="min-width: 220px;">Submit the
                            data</button>
                    </div>
                    <div>
                        <h1>lorem</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, dicta!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>