<div class="flex-card">
    <div class="card flex-card-item-data">
        <div class="card-body-data">
            <div
                style="display: flex; justify-content: space-around; align-items: center; padding-bottom: 15px; border-bottom: 1px solid #dfebe8;">
                <img src="assets\icons\User.svg" alt="User icon" />
                <p>{{"auctionModerator.am-detail.pricing-committee.card1-head2" | translate}}</p>
            </div>
            <p style="color: #414042; font-size: 16px; margin-top: 20px; text-align: center;">
                {{committeeChairData?.EmployeeName}}</p>
            <div>
                <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <p style="color: #117abe;">{{"auctionModerator.am-detail.pricing-committee.jobNumber" | translate}}
                    </p>
                    <p>{{committeeChairData?.EmployeeId}}</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin-top: 5px;">
                    <p style="color: #117abe;">{{"auctionModerator.am-detail.pricing-committee.email" | translate}}</p>
                    <p>{{committeeChairData?.EmpMailid}}</p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!!committeeSecData" class="card flex-card-item-data">
        <div class="card-body-data">
            <div
                style="display: flex; justify-content: space-around; align-items: center; padding-bottom: 15px; border-bottom: 1px solid #dfebe8;">
                <img src="assets\icons\User.svg" alt="User icon" />
                <p>{{"auctionModerator.am-detail.auction-committee.card2-head2" | translate}}</p>
            </div>
            <p style="color: #414042; font-size: 16px; margin-top: 20px;">
                {{committeeSecData?.EmployeeName}}</p>
            <div>
                <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <p style="color: #117abe;">{{"auctionModerator.am-detail.pricing-committee.jobNumber" | translate}}
                    </p>
                    <p>{{committeeSecData?.EmployeeId}}</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin-top: 5px;">
                    <p style="color: #117abe;">{{"auctionModerator.am-detail.pricing-committee.email" | translate}}</p>
                    <p>{{committeeSecData?.EmpMailid}}</p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!!committeeMem1Data" class="card flex-card-item-data">
        <div class="card-body-data">
            <div
                style="display: flex; justify-content: space-around; align-items: center; padding-bottom: 15px; border-bottom: 1px solid #dfebe8;">
                <img src="assets\icons\User.svg" alt="User icon" />
                <p>{{"auctionModerator.am-detail.pricing-committee.card3-head2" | translate}}</p>
            </div>
            <p style="color: #414042; font-size: 16px; margin-top: 20px;">{{committeeMem1Data?.EmployeeName}}</p>
            <div>
                <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <p style="color: #117abe;">{{"auctionModerator.am-detail.pricing-committee.jobNumber" | translate}}
                    </p>
                    <p>{{committeeMem1Data?.EmployeeId}}</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin-top: 5px;">
                    <p style="color: #117abe;">{{"auctionModerator.am-detail.pricing-committee.email" | translate}} </p>
                    <p>{{committeeMem1Data?.EmpMailid}}</p>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="!!committeeMem2Data" class="card flex-card-item-data">
        <div class="card-body-data">
            <div
                style="display: flex; justify-content: space-around; align-items: center; padding-bottom: 15px; border-bottom: 1px solid #dfebe8;">
                <img src="assets\icons\User.svg" alt="User icon" />
                <p>{{"auctionModerator.am-detail.pricing-committee.card3-head2" | translate}}</p>
            </div>
            <p style="color: #414042; font-size: 16px; margin-top: 20px;">{{committeeMem2Data?.EmployeeName}}</p>
            <div>
                <div style="display: flex; justify-content: space-between; margin-top: 30px;">
                    <p style="color: #117abe;">{{"auctionModerator.am-detail.pricing-committee.jobNumber" | translate}}
                    </p>
                    <p>{{committeeMem2Data?.EmployeeId}}</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin-top: 2px;">
                    <p style="color: #117abe;">{{"auctionModerator.am-detail.pricing-committee.email" | translate}}</p>
                    <p>{{committeeMem2Data?.EmpMailid}}</p>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="!!committeeMem3Data" class="card flex-card-item-data">
        <div class="card-body-data">
            <div
                style="display: flex; justify-content: space-around; align-items: center; padding-bottom: 15px; border-bottom: 1px solid #dfebe8;">
                <img src="assets\icons\User.svg" alt="User icon" />
                <p>{{"auctionModerator.am-detail.pricing-committee.card3-head2" | translate}}</p>
            </div>
            <p style="color: #414042; font-size: 16px; margin-top: 20px;">{{committeeMem3Data?.EmployeeName}}</p>
            <div>
                <div style="display: flex; justify-content: space-between; margin-top: 20px;">
                    <p style="color: #117abe;">{{"auctionModerator.am-detail.pricing-committee.jobNumber" | translate}}
                    </p>
                    <p>{{committeeMem3Data?.EmployeeId}}</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin-top: 5px;">
                    <p style="color: #117abe;">{{"auctionModerator.am-detail.pricing-committee.email" | translate}}</p>
                    <p>{{committeeMem3Data?.EmpMailid}}</p>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let committeeMemIData of addcommitteeMemberList; let i = index" class="card flex-card-item-data">
        <div class="card-body-data">
            <div
                style="display: flex; justify-content: space-around; align-items: center; padding-bottom: 15px; border-bottom: 1px solid #dfebe8;">
                <img src="assets\icons\User.svg" alt="User icon" />
                <p>{{"auctionModerator.am-detail.pricing-committee.card3-head2" | translate}}</p>
            </div>
            <p style="color: #414042; font-size: 16px; margin-top: 20px;">{{committeeMemIData?.EmployeeName}}</p>
            <div>
                <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <p style="color: #117abe;">{{"auctionModerator.am-detail.pricing-committee.jobNumber" | translate}}
                    </p>
                    <p>{{committeeMemIData?.EmployeeId}}</p>
                </div>
                <div style="display: flex; justify-content: space-between; margin-top: 5px;">
                    <p style="color: #117abe;">{{"auctionModerator.am-detail.pricing-committee.email" | translate}}</p>
                    <p>{{committeeMemIData?.EmpMailid}}</p>
                </div>
            </div>
        </div>
    </div>
</div>