<div class="col-12 mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb px-0">
            <li class="breadcrumb-item" style="font-size: 14px;"><a href="#">Accreditation services</a></li>
            <li class="breadcrumb-item" style="font-size: 14px;"><a href="#">Auctions</a></li>
            <li class="breadcrumb-item" style="font-size: 14px;"><a href="#">Auction details</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="font-size: 14px;">Payment Bill</li>
        </ol>
    </nav>
</div>
<br>
<div class="col-12">
    <h2 style="font-weight: bold; color: #08594D; font-size: 32px">Payment Bill</h2>
</div>
<hr>
<br>
<div style="padding-left: 10%;">
    <p style="color: #32AD71; font-size: 24px; font-weight: bold;">Invoice Information</p>
    <div style="border: #cac1c1 1px solid; border-radius: 5px; width: 896px;">
        <div style="width: 801px; margin: 5%;">
            <p style="color: #005B4D; font-size: 18px; font-weight: bold;">Auction Data</p>
            <br>
            <div style="display: flex;">
                <div style="width: 35%;">
                    <p style="color: #117ABE; font-size: 15px;">Auction reference number</p>
                    <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.auctionReferenceNo}}</p>
                </div>
                <div style="width: 35%;">
                    <p style="color: #117ABE; font-size: 15px;">Auction start date and time</p>
                    <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.auctionDate}}&nbsp;&nbsp;<span style="font-size: 6px; color: #32AD71;" class="icon-fiber_manual_record"></span>&nbsp;&nbsp;<span style="color: #cac1c1;">{{invoiceForSend.auctionTime}}</span></p>
                </div>
                <div style="width: 30%;">
                    <p style="color: #117ABE; font-size: 15px;">Products type</p>
                    <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.productsType}}</p>
                </div>
            </div>
            <br>
            <div style="display: flex;">
                <div style="width: 35%;">
                    <p style="color: #117ABE; font-size: 15px;">Offer award date</p>
                    <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.offerAwardDate}}&nbsp;&nbsp;<span style="font-size: 6px; color: #32AD71;" class="icon-fiber_manual_record"></span>&nbsp;&nbsp;<span style="color: #cac1c1;">{{invoiceForSend.offerAwardTime}}</span></p>
                </div>
            </div>
            <hr>
            <br>
            <div style="display: flex;">
                <div style="width: 50%;">
                    <p style="color: #005B4D; font-size: 18px; font-weight: bold;">Bill holder information</p>
                    <br>
                    <div>
                        <p style="color: #117ABE; font-size: 15px;">Facility Name</p>
                        <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.facilityName}}</p>
                    </div>
                    <br>
                    <div>
                        <p style="color: #117ABE; font-size: 15px;">Commercial Registration No</p>
                        <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.commercialRegNo}}</p>
                    </div>
                </div>
                <div style="width: 50%;">
                    <p style="color: #005B4D; font-size: 18px; font-weight: bold;">Biller data</p>
                    <br>
                    <div>
                        <p style="color: #117ABE; font-size: 15px;">Entity name</p>
                        <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.entityName}}</p>
                    </div>
                    <br>
                    <div>
                        <p style="color: #117ABE; font-size: 15px;">Entity No.</p>
                        <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.entityNo}}</p>
                    </div>
                </div>
            </div>
            <hr>
            <br>
            <p style="color: #005B4D; font-size: 18px; font-weight: bold;">Delivery Data</p>
            <br>
            <div>
                <div style="width: 40%;">
                    <p style="color: #117ABE; font-size: 15px;">Delivery date</p>
                    <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.deliveryDate}}</p>
                </div>
            </div>
            <br>
            <div style="display: flex;">
                <div style="width: 40%;">
                    <p style="color: #117ABE; font-size: 15px;">Region</p>
                    <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.region}}</p>
                </div>
                <div style="width: 35%;">
                    <p style="color: #117ABE; font-size: 15px;">City</p>
                    <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.city}}</p>
                </div>
                <div style="width: 25%;">
                    <p style="color: #117ABE; font-size: 15px;">District</p>
                    <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.district}}</p>
                </div>
            </div>
            <br>
            <div style="display: flex;">
                <div style="width: 40%;">
                    <p style="color: #117ABE; font-size: 15px;">Street</p>
                    <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.street}}</p>
                </div>
                <div style="width: 35%;">
                    <p style="color: #117ABE; font-size: 15px;">Other notes</p>
                    <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.otherNotes}}</p>
                </div>
            </div>
            <hr>
            <br>
            <p style="color: #005B4D; font-size: 18px; font-weight: bold;">Table of products and prices</p>
            <table id="inventoryAllocationTable" class="table table-bordered table-expanded">
                <thead class="thead-dark">
                    <tr>
                        <th style="width: 12%;" class="btn-primary-light" scope="col" (click)="sortByTableHeaderId(1, 'string')">
                            <div style=" padding-left: 10px;" class="table-header-cell">
                                <span>#</span>
                                <span class="arrow asc"><span class="icon-unfold_more"></span></span>
                            </div>
                        </th>
                        <th class="btn-primary-light" scope="col" (click)="sortByTableHeaderId(2, 'string')">
                            <div style=" padding-left: 10px;" class="table-header-cell">
                                <span>Product name</span>
                                <span class="arrow asc"><span class="icon-unfold_more"></span></span>
                            </div>
                        </th>
                        <th class="btn-primary-light" scope="col" (click)="sortByTableHeaderId(3, 'string')">
                            <div style=" padding-left: 10px;" class="table-header-cell">
                                <span>SKU . number</span>
                                <span class="arrow asc"><span class="icon-unfold_more"></span></span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="invoiceForSend.productDetails">
                        <ng-container *ngIf="invoiceForSend.productDetails.length > 0">
                            <tr *ngFor="let rowItem of invoiceForSend.productDetails;index as i">
                                <td>{{rowItem.referenceno}}</td>
                                <td>{{rowItem.productname}}</td>
                                <td>{{rowItem.SKUNumber}}</td>
                            </tr>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="invoiceForSend.productGrandTotal">
                        <tr>
                            <td colspan="3" style="color: #005B4D; font-weight: bold;"> Gear price <span style="color: #32AD71; margin-left: 78%;">{{invoiceForSend.productGrandTotal.gearPrice}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="color: #005B4D; font-weight: bold;"> 2.5% quest rate <span style="color: #32AD71; margin-left: 74%;">{{invoiceForSend.productGrandTotal.questRate}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="color: #005B4D; font-weight: bold;"> Value added tax <span style="color: #32AD71; margin-left: 74%;">{{invoiceForSend.productGrandTotal.valueAddTax}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="color: #005B4D; font-weight: bold;"> Total invoice price <span style="color: #32AD71; margin-left: 72%;">{{invoiceForSend.productGrandTotal.totalInvPrice}}</span>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <ng-container *ngIf="invoiceForSend.productDetails">
                <div class="mt-4 row margin-auto" *ngIf="invoiceForSend.productDetails.length > 0">
                    <div class="mb-5">
                        <nav aria-label="..." class="nav-pagination">
                            <ul *ngIf="PaginationServc.pages && PaginationServc.pages.length > 0" class="pagination">
                                <!-- <li class="page-item" [ngClass]="{ disabled: PaginationServc.currentPage === 1 }">
                                <a (click)="getServerData(1)" class="page-link" href="#">Last</a>
                            </li> -->
                                <li class="page-item" [ngClass]="{ disabled: PaginationServc.currentPage === 1 }">
                                    <a (click)="getServerData(PaginationServc.currentPage)" class="page-link" tabindex="-1" aria-disabled="true">{{ 'auctionlist.grid-previous' | translate
                                        }}</a>
                                </li>
                                <li *ngFor="let page of PaginationServc.pages" class="page-item" [ngClass]="{ active: PaginationServc.currentPage === page }">
                                    <a (click)="getServerData(page + 1)" class="page-link"> {{ page }} </a>
                                </li>
                                <li class="page-item" [ngClass]="{ disabled: PaginationServc.currentPage === PaginationServc.totalPages }">
                                    <a (click)="getServerData(PaginationServc.currentPage + 2)" class="page-link">{{
                                        'auctionlist.grid-next' | translate }}</a>
                                </li>
                                <!-- <li class="page-item" [ngClass]="{ disabled: PaginationServc.currentPage === PaginationServc.totalPages }">
                                <a (click)="getServerData(PaginationServc.currentPage + 1)" class="page-link" href="#">Last</a>
                            </li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <br>
    <div>
        <button type="button" style="outline: none; color: grey; background-color: white; height: 50px; width: 130px; border: 1px solid grey; border-radius: 5px; font-size: 18px;" class="btn arrow-btn arrow-btn-reverse btn-outline-light btn-lg btn-block">
            <span class="btn-text">Reference</span> <span class="v-divider"></span>
            <span class="icon icon-arrow-left"></span>
        </button>
        <button data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#showSuccessfulModal" style="margin-left: 63%; outline: none; background-color: #32AD71; color: white; font-weight: bold; height: 50px; width: 140px; border: none; border-radius: 5px;">Send
            Invoice </button>
    </div>
</div>
<!-- Approval of the final award and send the invoice -->
<div style="width: 600px; margin-left: 400px;" class="modal fade" id="showSuccessfulModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width: 100%; height: 100%;">
            <div class="" style="display: flex; margin-top: 10px;">
                <div style="width: 400px; text-align: left;">
                    <p style="font-family:DIN Next LT Arabic Regular; color: #32AD71; font-size: 22px; line-height: 26px; font-weight: bold;">
                        Approval of the final award and send the invoice ?</p>
                </div>
                <div style="margin-left: 110px;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;">
                        <span class="icon-close"></span>
                    </button>
                </div>
            </div>
            <div class="modal-body" style="width: 470px; margin-top: 10px; text-align: left;">
                <p style="font-family:DIN Next LT Arabic Regular; font-size: 20px; color: #414042; line-height: 24px;">
                    When the award is approved and the invoice is sent to complete the payment by the bidder, the auction will be awarded automatically. </p>
            </div>
            <div style="margin-left: 220px;">
                <button style="height:45px; width: 90px; border: 1px grey solid; outline: none; background-color: white; color: grey; border-radius: 5px;">Reference</button>
                <button type="button" class="btn btn-primary-light-green btn-md" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#secondPopup" style="height:45px; width: 120px; margin-left: 30px; background-color: #32AD71; color: white; font-weight: bold; outline: none; border: none; border-radius: 4px;">Send
                    Invoice</button>
            </div>
        </div>
    </div>
</div>
<!-- Approval of the final award and send the invoice -->
<div style="width: 600px; margin-left: 400px;" class="modal" id="secondPopup" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="card shadow-lg result result-success" style="align-items: center;">
            <button style="position: absolute;left: 90%;" type="button" class="modal-close btn-close btn-sm" data-dismiss="modal" aria-label="Close">
                <span class="icon-close"></span>
            </button>
            <div class="alert-body">
                <i class="alert-icon">
                    <span class="icon-alert-success"></span>
                </i>
                <div class="alert-content">
                    <h4>Invoice sent successfully</h4>
                    <p style="color: #414042;"> You will receive an email when payment has been completed and the auction has been awarded. </p>
                </div>
            </div>
            <div class="alert-action">
                <button type="button" class="btn btn-primary-light"> Back to auctions</button>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>