<!--=============== Enabled card area ===============-->
<div *ngIf="!disable && !notParticipated" class="card-body">
  <h2 class="text-21 text-primary mx-1">{{ 'bidderSendOffer.LatestOffersSent' | translate }}</h2>

  <div class="left-right-card-title mt-4">
    <div class="point-circle">
      <p class="text-align-center mb-0 text-18 font-weight-bold text-success">1</p>
    </div>
    <h5 class="text-primary text-16 mt-2 mx-2">{{ 'bidderSendOffer.AttachThePrimaryWarranty' | translate }}</h5>
  </div>

  <div class="mt-4">
    <p class="text-body text-16 m-0">{{ 'bidderSendOffer.ForHelpSupportManagingAuctions' | translate}}
      <!-- <a href="#" class="text-info text-15" style="text-decoration: underline;">{{ 'bidderSendOffer.ClickHere' |
        translate}}</a> -->
    </p>
  </div>
  <!-- ============= File upload area and view area ===============-->
  <div class="mt-4">

    <!-- <p *ngIf="invalidFileType" class="text-danger text-12">{{'message.alert_validfile' | translate}}</p> -->
    <p *ngIf="invalidFileSize" class="text-danger text-12">{{'message.alert_maxfilesize' | translate}}</p>
    <p *ngIf="invalidFileCount" class="text-danger text-12">{{'message.alert_validCount' | translate}}</p>
    <div *ngIf="!checkFile()" class="file-uploader-zone">


      <div class="buttons">
        <div class="uploader-button-caption d-flex px-4">
          <span class="icon-attachment mx-1" style="font-size: 20px;"></span>
          <label class="text-14 font-weight-bold" style="margin-top: 9px;">{{ 'bidderSendOffer.UploadFileFormat' |
            translate }}</label>
          <input accept=".docx,.doc,application/pdf,image/jpg,image/jpeg,image/png"
            qq-button-id="2ff16990-f1ca-4038-9656-00f140864b80" (change)="selectFiles($event, 'primaryWarranty')"
            title="file input" multiple="" type="file" name="qqfile"
            style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0; height: 100%;">

        </div>
      </div>
    </div>
    <div *ngIf="checkFile()">
      <div class="row ml-0 mr-0">
        <div class="form-group w-100">
          <div class="file-download file-download-sm">
            <h3>
              <label class="text-success text-15" for="" data-toggle="tooltip" data-placement="top"
                title="{{files[0].name}}">{{files[0].name}}</label>
            </h3>&nbsp;&nbsp;
            <div class="download-file-information">
              <label class="text-body text-14">{{files[0].size/1024 | number: '1.0-0'}}kb</label>
              <a (click)="openFile(files[0],'view')" class="btn btn-sm btn-ghost fill-primary-light-green">
                <span class="icon-eye-open"></span>
              </a>
              <a (click)="removeFile()" class="btn btn-sm btn-ghost fill-primary-light-green">
                <span class="icon-delete text-danger"></span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--===== End =========-->

  <div class="left-right-card-title mt-4">
    <div class="point-circle">
      <p class="text-align-center mb-0 text-18 font-weight-bold text-success">2</p>
    </div>
    <h5 class="text-primary text-16 mt-2 mx-2">{{ 'bidderSendOffer.AddYourOffer' | translate }}</h5>
  </div>
  <br>



  <div *ngIf="!amountValidation" class="d-flex"
    style="width: 98%; border: 1px solid #32AD71; border-radius: 5px; height: 50px;" role="group"
    aria-label="Basic example">
    <div style="width: 15%; align-items: center;">
      <button type="button"
        style="width: 100%; height: 100%;border-radius: 5px; color: #32AD71; border: none; outline: none; background-color: white;"
        (click)="decAmt()">
        <img src="assets/icons/minus.svg" alt="">
      </button>
    </div>


    <div class="" style="border-left: 1px solid #32AD71; border-right: 1px solid #32AD71; width: 70%;">
      <input type="text" digitOnly class="amt-input" (keyup)="calc()"
        style="height: 100%; width: 100%; border:none; text-align: center; color: #32AD71; font-size: 25px;"
        placeholder="Amount" aria-label="Amount" [(ngModel)]="totalBookValue" (blur)="resetAmount()" appComma
        aria-describedby="basic-addon2" />
    </div>
    <div style="width: 15%;">
      <button type="button"
        style="width: 100%;border-radius: 5px; height: 100%; border: none; outline: none; background-color: white;"
        (click)="incAmt()">
        <span class="icon-plus text-success"></span>
      </button>
    </div>
  </div>
  <div *ngIf="amountValidation" class="d-flex"
    style="width: 98%; border: 1px solid #F66F5B; border-radius: 5px; height: 50px;" role="group"
    aria-label="Basic example">
    <div style="width: 15%; align-items: center;">
      <button type="button"
        style="width: 100%; height: 100%;border-radius: 5px; color: #32AD71; border: none; outline: none; background-color: white;"
        (click)="decAmt()">
        <img src="assets/icons/minus.svg" alt="">
      </button>
    </div>


    <div class="" style="border-left: 1px solid #F66F5B; border-right: 1px solid #F66F5B; width: 70%;">
      <input type="text" digitOnly class="amt-input"
        style="height: 100%; width: 100%; border:none; text-align: center; color: #F66F5B; font-size: 25px;"
        placeholder="Amount" aria-label="Amount" [(ngModel)]="totalBookValue" (blur)="resetAmount()" appComma
        aria-describedby="basic-addon2" />
    </div>
    <div style="width: 15%;">
      <button type="button"
        style="width: 100%;border-radius: 5px; height: 100%; border: none; outline: none; background-color: white;"
        (click)="incAmt()">
        <span class="icon-plus text-success"></span>
      </button>
    </div>
  </div>
  <p *ngIf="amountValidation" class="text-danger text-12">{{'message.alert_validAmount' | translate}}</p>
  <p class="text-muted text-10" style="text-align: center;">{{ 'bidderSendOffer.SAR' | translate }}</p>

  <div style="border-bottom: 1px solid #B4B4B4;">
    <div style="display: flex;justify-content: space-between;">
      <p class="text-body text-12">{{ 'bidderSendOffer.PersuitRate' | translate }} {{commission | number}}%</p>
      <p class="text-primary text-12">{{persuitRate}} {{ 'bidderSendOffer.SAR' | translate }}</p>
    </div>
    <div style="display: flex;justify-content: space-between;">
      <p class="text-body text-12">{{ 'bidderSendOffer.AddedTaxValue' | translate }}:</p>
      <p class="text-primary text-12">{{addedTaxValue}} {{ 'bidderSendOffer.SAR' | translate }}</p>
    </div>
  </div>
  <div class="d-flex mt-4" style="justify-content: space-between;">
    <p class="text-body text-12">{{ 'bidderSendOffer.TotalOfferPrice' | translate }}</p>
    <p class="text-primary text-12">{{totalOfferPrice | number : '1.0-2'}} {{ 'bidderSendOffer.SAR' | translate }}</p>
  </div>

  <button (click)="checkOffer()" class="btn btn-primary-light btn-lg mt-4" style="width: 100%;">{{
    'bidderSendOffer.SendOffer' | translate }}</button>

</div>
<!-- End -->

<!--=============== Diabled card area ===============-->
<div *ngIf="disable && !notParticipated" class="card-body">
  <h2 class="text-21 text-dark mx-1">{{ 'bidderSendOffer.LatestOffersSent' | translate }}</h2>

  <div class="left-right-card-title mt-4">
    <div class="point-circle-disable">
      <p class="text-align-center mb-0 text-18 font-weight-bold text-muted">1</p>
    </div>
    <h5 class="text-dark text-16 mt-2 mx-2">{{ 'bidderSendOffer.AttachThePrimaryWarranty' | translate }}</h5>
  </div>

  <div class="mt-4">
    <p class="text-dark text-16 m-0">{{ 'bidderSendOffer.ForHelpSupportManagingAuctions' | translate}}
      <!-- <a href="#" class="text-muted text-15" style="text-decoration: underline;">{{ 'bidderSendOffer.ClickHere' |
        translate}}</a> -->
    </p>
  </div>
  <!-- ============= File upload area and view area ===============-->
  <div class="mt-4">
    <div>
      <div class="row ml-0 mr-0">
        <div class="form-group w-100" style="background-color: #ffff;">
          <div class="file-download file-download-sm">
            <h3 style="width: 125px !important;">
              <label class="text-success text-15" for="" data-toggle="tooltip" data-placement="top"
                title="{{ibgaDoc[0]?.FileName}}.{{ibgaDoc[0]?.FileExt}}">{{ibgaDoc[0]?.FileName}}.{{ibgaDoc[0]?.FileExt}}</label>
            </h3>&nbsp;&nbsp;

            <!--============== Without loader ==============-->
            <div *ngIf="!showAttachLoader" class="download-file-information">
              <label class="text-body text-14">{{ibgaDoc[0]?.FileLength/1024 | number: '1.0-0'}} kb</label>
              <a (click)="openFile(ibgaDoc[0], 'view')" class="btn btn-sm btn-ghost m-0 fill-primary-light-green">
                <span class="icon-eye-open"></span>
              </a>
              <a (click)="openFile(ibgaDoc[0],'download')" class="btn btn-sm btn-ghost m-0 fill-primary-light-green">
                <span class="icon-download"></span>
              </a>
            </div>
            <!-- End -->

            <!--============== With loader ==============-->
            <div *ngIf="showAttachLoader">
              <label class="text-body text-14">{{ibgaDoc[0].FileLength/1024 | number: '1.0-0'}} kb</label>
              <button class="btn btn-ghost btn-md fill-primary-light-green">
                <div class="spinner-border text-primary"
                  style="font-size: 12px;width: 20px !important;height: 20px !important;" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </button>
            </div>
            <!-- End -->

          </div>
        </div>
      </div>

    </div>
  </div>
  <!--===== End =========-->

  <div class="left-right-card-title mt-4">
    <div class="point-circle-disable">
      <p class="text-align-center mb-0 text-18 font-weight-bold text-muted">2</p>
    </div>
    <h5 class="text-dark text-16 mt-2 mx-2">{{ 'bidderSendOffer.AddYourOffer' | translate }}</h5>
  </div>
  <br>
  <div class="d-flex" style="width: 98%; border: 1px solid #b1b1b1; border-radius: 5px; height: 50px;" role="group"
    aria-label="Basic example">
    <div style="width: 15%; align-items: center;">
      <button type="button" disabled
        style="width: 100%; height: 100%; color: #b1b1b1;border-radius: 5px; border: none; outline: none; background-color:#F9FCFA">
        <img src="assets/icons/minus-disabled.svg" alt="">
      </button>
    </div>


    <div class="" style="border-left: 1px solid #b1b1b1; border-right: 1px solid #b1b1b1; width: 70%;">
      <input type="text" class="amt-input" disabled="true"
        style="height: 100%; width: 100%; border:none; text-align: center; color: #b1b1b1 ; font-size: 25px; background-color:#F9FCFA"
        placeholder="Amount" aria-label="Amount" [(ngModel)]="totalBookValue" (blur)="resetAmount()" appComma
        aria-describedby="basic-addon2" />
    </div>
    <div style="width: 15%;">
      <button type="button" disabled
        style="width: 100%;border-radius: 5px;color: #b1b1b1; height: 100%; border: none; outline: none; background-color:#F9FCFA">
        <span class="icon-plus"></span>
      </button>
    </div>
  </div>
  <p class="text-muted text-10" style="text-align: center;">{{ 'bidderSendOffer.SAR' | translate }}</p>

  <div style="border-bottom: 1px solid #B4B4B4;">
    <div style="display: flex;justify-content: space-between;">
      <p class="text-body text-12">{{ 'bidderSendOffer.PersuitRate' | translate }} {{commission | number}}%</p>
      <p class="text-body text-12">{{persuitRate}} {{ 'bidderSendOffer.SAR' | translate }}</p>
    </div>
    <div style="display: flex;justify-content: space-between;">
      <p class="text-body text-12">{{ 'bidderSendOffer.AddedTaxValue' | translate }}:</p>
      <p class="text-body text-12">{{addedTaxValue}} {{ 'bidderSendOffer.SAR' | translate }}</p>
    </div>
  </div>
  <div class="d-flex mt-4" style="justify-content: space-between;">
    <p class="text-body text-12">{{ 'bidderSendOffer.TotalOfferPrice' | translate }}</p>
    <p class="text-body text-12">{{totalOfferPrice | number}} {{ 'bidderSendOffer.SAR' | translate }}</p>
  </div>

  <button disabled class="btn btn-lg mt-4"
    style="width: 100%;color: #ffff !important;background-color: #818181 !important;">{{
    'bidderSendOffer.SentOffer' | translate }}</button>

</div>
<!-- End -->

<!--=============== Diabled not participated card area ===============-->
<div *ngIf="notParticipated" class="card-body">
  <h2 class="text-21 text-dark mx-1">{{ 'bidderSendOffer.LatestOffersSent' | translate }}</h2>

  <div class="left-right-card-title mt-4">
    <div class="point-circle-disable">
      <p class="text-align-center mb-0 text-18 font-weight-bold text-muted">1</p>
    </div>
    <h5 class="text-dark text-16 mt-2 mx-2">{{ 'bidderSendOffer.AttachThePrimaryWarranty' | translate }}</h5>
  </div>

  <div class="mt-4">
    <p class="text-dark text-16 m-0">{{ 'bidderSendOffer.ForHelpSupportManagingAuctions' | translate}}
      <!-- <a href="#" class="text-muted text-15" style="text-decoration: underline;">{{ 'bidderSendOffer.ClickHere' |
        translate}}</a> -->
    </p>
  </div>
  <!-- ============= File upload area and view area ===============-->
  <div class="mt-4">
    <div class="file-uploader-zone" style="border: 2px dashed #626262 !important; color: #626262 !important;">
      <div class="buttons">
        <div class="uploader-button-caption d-flex px-4" style="justify-content: space-evenly;">
          <span class="icon-attachment mx-1" style="font-size: 20px;"></span>
          <label class="text-14 text-body" style="margin-top: 9px;">{{ 'bidderSendOffer.NoFileUpload' |
            translate }}</label>
          <input accept=".docx,.doc,application/pdf,image/jpg,image/jpeg,image/png"
            qq-button-id="2ff16990-f1ca-4038-9656-00f140864b80" disabled title="file input" multiple="" type="file"
            name="qqfile"
            style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0; height: 100%;">

        </div>
      </div>
    </div>
  </div>
  <!--===== End =========-->

  <div class="left-right-card-title mt-4">
    <div class="point-circle-disable">
      <p class="text-align-center mb-0 text-18 font-weight-bold text-muted">2</p>
    </div>
    <h5 class="text-dark text-16 mt-2 mx-2">{{ 'bidderSendOffer.AddYourOffer' | translate }}</h5>
  </div>
  <br>
  <div class="d-flex" style="width: 98%; border: 1px solid #b1b1b1; border-radius: 5px; height: 50px;" role="group"
    aria-label="Basic example">
    <div style="width: 15%; align-items: center;">
      <button type="button" disabled
        style="width: 100%; height: 100%; color: #b1b1b1;border-radius: 5px; border: none; outline: none; background-color:#F9FCFA">
        <img src="assets/icons/minus-disabled.svg" alt="">
      </button>
    </div>


    <div class="" style="border-left: 1px solid #b1b1b1; border-right: 1px solid #b1b1b1; width: 70%;">
      <input type="text" class="amt-input" disabled="true"
        style="height: 100%; width: 100%; border:none; text-align: center; color: #b1b1b1 ; font-size: 25px; background-color:#F9FCFA"
        placeholder="Amount" aria-label="Amount" [(ngModel)]="totalBookValue" (blur)="resetAmount()" appComma
        aria-describedby="basic-addon2" />
    </div>
    <div style="width: 15%;">
      <button type="button" disabled
        style="width: 100%;border-radius: 5px;color: #b1b1b1; height: 100%; border: none; outline: none; background-color:#F9FCFA">
        <span class="icon-plus"></span>
      </button>
    </div>
  </div>
  <p class="text-muted text-10" style="text-align: center;">{{ 'bidderSendOffer.SAR' | translate }}</p>

  <div style="border-bottom: 1px solid #B4B4B4;">
    <div style="display: flex;justify-content: space-between;">
      <p class="text-body text-12">{{ 'bidderSendOffer.PersuitRate' | translate }} {{commission | number}}%</p>
      <p class="text-body text-12">{{persuitRate}} {{ 'bidderSendOffer.SAR' | translate }}</p>
    </div>
    <div style="display: flex;justify-content: space-between;">
      <p class="text-body text-12">{{ 'bidderSendOffer.AddedTaxValue' | translate }}:</p>
      <p class="text-body text-12">{{addedTaxValue}} {{ 'bidderSendOffer.SAR' | translate }}</p>
    </div>
  </div>
  <div class="d-flex mt-4" style="justify-content: space-between;">
    <p class="text-body text-12">{{ 'bidderSendOffer.TotalOfferPrice' | translate }}</p>
    <p class="text-body text-12">{{totalOfferPrice | number}} {{ 'bidderSendOffer.SAR' | translate }}</p>
  </div>

  <button disabled class="btn btn-lg mt-4"
    style="width: 100%;color: #ffff !important;background-color: #818181 !important;">{{
    'bidderSendOffer.NoOfferMade' | translate }}</button>

</div>
<!-- End -->

<!--=================== Confirmatiom model  ===================-->
<div class="modal show" *ngIf="showConfirmation" id="confirmMemberModal" [ngClass]="{ 'modal-show': showConfirmation }">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">
          {{ 'bidderAuctionDetails.auction-popup.confirmBidSubmission' | translate }}
        </h4>
        <button type="button" class="modal-close btn-close btn-sm" (click)="showConfirmation=false">
          <span class="icon-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <label for="confirmation" style="color: #414042; font-size: 16px">{{
          'bidderAuctionDetails.auction-popup.confirmBidBody' | translate }}</label>
      </div>
      <div class="modal-footer" style="justify-content: end">
        <button type="button" class="btn btn-outline-light btn-md" (click)="showConfirmation=false">
          {{'bidderAuctionDetails.auction-popup.Cancellation' | translate }}
        </button>
        <button type="button" class="btn btn-primary-light btn-md" data-dismiss="modal" aria-label="Close"
          (click)="sendBidOffer()">
          <div *ngIf="showLoader" class="spinner-border spinner-border-light text-light" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          &nbsp;
          {{"bidderAuctionDetails.auction-popup.acceptSubmit" | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End -->

<!--=================== Successful model  ===================-->
<div class="modal show" *ngIf="showSuccessfulModal" [ngClass]="{ 'modal-show': showSuccessfulModal }">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content" style="align-items: center;">
      <button (click)="showSuccessfulModal=false; reloadPage()" e="button" class="modal-close btn-close btn-sm">
        <span class="icon-close"></span>
      </button>
      <span class="icon-check"></span>
      <div class="modal-header">
        <div class="status-success-icon">
          <div style="display: flex;">
            <div class="circle"></div>
          </div>
          <h4 class="modal-title" id="exampleModalLabel" style="text-align: center">
            {{ 'bidderAuctionDetails.auction-popup.successSubmission' | translate }}
          </h4>
        </div>
      </div>
      <div class="modal-body" style="text-align: center;">
        <label for="confirmation" style="color: #414042; font-size: 16px; text-align: center;">
          {{ 'bidderAuctionDetails.auction-popup.bestWishes' | translate }}
        </label>
        <label for="confirmation" style="color: #414042; font-size: 16px; text-align: center;">
          {{ 'bidderAuctionDetails.auction-popup.successBody' | translate }}
        </label>
      </div>
      <div class="modal-footer" style="justify-content: end">
        <button type="button" [routerLink]="['/bidder/am-auction']" (click)="showSuccessfulModal=false"
          class="btn btn-primary-light btn-md">
          {{ 'bidderAuctionDetails.auction-popup.BackToAuctions' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
<!-- End -->