<div class="card-body">
    <p style="color: #005B4E;font-size: 21px;">{{ 'bidderSendOffer.LatestOffersSent' | translate }}</p>

    <div class="left-right-card-title">
        <div class="point-circle">
            <p style="text-align: center;margin-bottom: 0;font-size: 18px;
    font-weight: 500;color: #28AB6D;">1</p>
        </div>
        <h5 style="margin-left: 10px;">{{ 'bidderSendOffer.AttachThePrimaryWarranty' | translate }}</h5>
    </div>

    <div style="margin-top: 20px;">
        <p style="color: #202842;font-size: 16px;margin: 0;">{{ 'bidderSendOffer.ForHelpSupportManagingAuctions' | translate }}
            <a href="#" style="color: #117ABE;font-size: 15px;margin-top: 10px;">{{ 'bidderSendOffer.ClickHere' | translate }}</a>
        </p>
    </div>
    <!-- ============= File upload area and view area ===============-->
    <div>
        <div *ngIf="!checkFile()" class="file-uploader-zone">
            <div class="buttons">
                <div class="uploader-button-caption">
                    <span class="icon-attachment mx-22"></span>
                    <label style="padding-left: 5px;">{{ 'bidderSendOffer.UploadFileFormat' | translate }}</label>
                    <input accept=".docx,.doc,application/pdf,image/jpg,image/jpeg,image/png" qq-button-id="2ff16990-f1ca-4038-9656-00f140864b80" (change)="selectFiles($event, 'primaryWarranty')" title="file input" multiple="" type="file" name="qqfile" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0; height: 100%;">
                </div>
            </div>
        </div>
        <div *ngIf="checkFile()">
            <label for="">{{files[0].name}}</label>
        </div>
    </div>
    <!--===== End =========-->

    <div class="left-right-card-title">
        <div class="point-circle">
            <p style="text-align: center;margin-bottom: 0;font-size: 18px;
  font-weight: 500;color: #28AB6D;">2</p>
        </div>
        <h5 style="margin-left: 10px;">{{ 'bidderSendOffer.AddYourOffer' | translate }}</h5>
    </div>

    <div class="amount">
        <div class="form-group number-control adder">

            <div class="IncDec-controls" style="border: 2px solid #32AD71; border-top-left-radius: 5px;border-bottom-left-radius: 5px;">
                <button class="btn btn-sm" style="height: 30px;" (click)="decAmt()">-</button>
            </div>

            <input type="text" class="amt-input" readonly placeholder="Amount" aria-label="Amount" [(ngModel)]="totalBookValue" aria-describedby="basic-addon2" />

            <div class="IncDec-controls" style="border: 2px solid #32AD71; border-top-right-radius: 5px;border-bottom-right-radius: 5px;">
                <button class="btn btn-sm" style="height: 30px;" (click)="incAmt()">+</button>
            </div>

        </div>
    </div>
    <p style="opacity: 0.8; color: #414042;font-size: 10px;text-align: center;">{{ 'bidderSendOffer.SAR' | translate }}</p>

    <div style="border-bottom: 1px solid #B4B4B4;">
        <div style="display: flex;justify-content: space-between;">
            <p style="color: #414042;font-size: 12px;">{{ 'bidderSendOffer.PersuitRate' | translate }} 2.5%</p>
            <p style="color: #005B4E;font-size: 12px;">{{persuitRate}} {{ 'bidderSendOffer.SAR' | translate }}</p>
        </div>
        <div style="display: flex;justify-content: space-between;">
            <p style="color: #414042;font-size: 12px;">{{ 'bidderSendOffer.AddedTaxValue' | translate }}:</p>
            <p style="color: #005B4E;font-size: 12px;">{{addedTaxValue}} {{ 'bidderSendOffer.SAR' | translate }}</p>
        </div>
    </div>
    <div style="display: flex;justify-content: space-between; margin-top: 10px;">
        <p style="color: #414042;font-size: 12px;">{{ 'bidderSendOffer.TotalOfferPrice' | translate }}</p>
        <p style="color: #005B4E;font-size: 12px;">{{totalOfferPrice}} {{ 'bidderSendOffer.SAR' | translate }}</p>
    </div>

    <button (click)="sendBidOffer()" class="btn btn-primary-light btn-lg" style="width: 100%;">{{ 'bidderSendOffer.SendOffer' | translate }}</button>

</div>

<!-- TODO: The following has to when successfully submitted for bidding-->
<!-- Model to confirm -->
<div class="modal" *ngIf="showConfirmation" style="display: block!important;" id="confirmMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document" style="width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                    {{ 'bidderSendOffer.ConfirmationBidSubmission' | translate }}
                </h4>
                <button (click)="showConfirmation=false" type="button" class="modal-close btn-close btn-sm">
            <span class=" icon-close "></span>
          </button>
            </div>
            <div class="modal-body ">
                <label for="confirmation " style="color: #414042; font-size: 16px ">{{ 'bidderSendOffer.BidSubmissionDescription' | translate }}</label
          >
        </div>
        <div class="modal-footer " style="justify-content: end ">
          <button
          (click)="showConfirmation=false "
            type="button "
            class="btn btn-primary-light btn-md "
            data-toggle="modal"
            data-target="#showSuccessfulModal "
          >
          {{ 'bidderSendOffer.SubmitOffer' | translate }}
          </button>
          <button
          (click)="showConfirmation=false "
            type="button "
            class="btn btn-md "
            style="border: 1px solid #cccccc; border-radius: 5px "
          >
            {{ 'bidderSendOffer.Cancellation' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Model to show confirmed (Successful) -->
  <div
    class="modal fade "
    id="showSuccessfulModal "
    tabindex="-1 "
    role="dialog "
    aria-labelledby="exampleModalLabel "
    aria-hidden="true "
  >
    <div class="modal-dialog modal-lg modal-dialog-centered " role="document " style="width: 40%; ">
      <div class="modal-content " style="align-items: center; ">
        <button
          style="position: absolute;left: 90%; "
          type="button "
          class="modal-close btn-close btn-sm "
          data-dismiss="modal "
          aria-label="Close "
        >
          <span class="icon-close "></span>
        </button>
        <span class="icon-check " style=" position: absolute; top: 85px; color: #32AD71; "></span>
        <div class="modal-header ">
          <div class="status-success-icon ">
            <div style="display: flex; ">
              <div class="circle "></div>
              
            </div>
            <h4
              class="modal-title "
              id="exampleModalLabel "
              style="text-align: center "
            >
            {{ 'bidderSendOffer.OfferSuccess' | translate }}
            </h4>
          </div>
        </div>
        <div class="modal-body " style="text-align: center;margin-bottom: 2rem; ">
          <label for="confirmation " style="color: #414042; font-size: 16px; text-align: center; "
            >
            {{ 'bidderSendOffer.OfferContent' | translate }}
            </label>
                <br>
                <label for="confirmation " style="color: #414042; font-size: 16px; text-align: center; ">
                  {{ 'bidderSendOffer.OfferDescription' | translate }}
            </label>
            </div>
            <div class="modal-footer " style="justify-content: end ">
                <button type="button " class="btn btn-primary-light btn-md " data-dismiss="modal " aria-label="Close ">
                  {{ 'bidderSendOffer.BackToAuctions' | translate }}
          </button>
            </div>
        </div>
    </div>
</div>