<div class="col-12 mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb px-0">
            <li class="breadcrumb-item"><a href="#">Trust services</a></li>
            <li class="breadcrumb-item"><a href="#">Online auction requests</a></li>
            <li class="breadcrumb-item active" aria-current="page">Order details</li>
        </ol>
    </nav>
</div>
<br>
<div class="col-12">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-20 text-primary font-weight-500">Order Details</h1>
        </div>
    </div>
</div>
<br>
<div class="rounded" style="background-color: #EFF8F3;">
    <div class="row p-4 mx-auto" style="height: 96px;">
        <div class="col">
            <label class="text-12">Request Name</label>
            <div class="text-14 font-weight-bold color-darkgreen">Auction of vehicles, equipment and trucks</div>
        </div>
        <div class="col"></div>
        <div class="col">
            <label class="text-12">Order Status</label>
            <div>
                <span class="status status-o status-o-info-2 text-14" style="color: #414042;">&nbsp;&nbsp; Waiting for
                    Announcement</span>
            </div>
        </div>
    </div>
    <div class="steps-wrapper">
        <ul class="steps-group shadow-sm p-2 mb-5 bg-white rounded">
            <li class="step-item is-done w-25 mt-2 mb-1">
                <a href="" class="d-flex">
                    <span class="step-number">1</span>
                    <span class="step-label mt-2 text-16">Request Accept</span>
                </a>
            </li>
            <li class="step-item is-done w-25 mt-2">
                <a href="" class="d-flex">
                    <span class="step-number">2</span>
                    <span class="step-label text-16">Appointment of Pricing Committee</span>
                </a>
            </li>
            <li class="step-item is-done w-25 mt-2">
                <a href="" class="d-flex">
                    <span class="step-number">3</span>
                    <span class="step-label text-16">Appointment of Auction Committee</span>
                </a>
            </li>
            <li class="step-item is-active w-25 mt-2">
                <a href="" class="d-flex">
                    <span class="step-number">4</span>
                    <span class="step-label text-16">Waiting for the announcement</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div>
    <ul class="nav et-tabs et-tabs-filled nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item"> <a class="nav-link active" id="pills-auction-tab" data-toggle="pill" href="#pills-auction" role="tab" aria-controls="pills-auction" aria-selected="false">Auction Details</a> </li>
        <li class="nav-item"> <a class="nav-link" id="pills-product-tab" data-toggle="pill" href="#pills-product" role="tab" aria-controls="pills-product" aria-selected="true">Product Details</a> </li>
        <li class="nav-item"> <a class="nav-link" id="pills-auctionComm-tab" data-toggle="pill" href="#pills-auctionComm" role="tab" aria-controls="pills-auctionComm" aria-selected="false">Auction
                Committee Members</a> </li>
        <li class="nav-item"> <a class="nav-link" id="pills-pricingComm-tab" data-toggle="pill" href="#pills-pricingComm" role="tab" aria-controls="pills-pricingComm" aria-selected="false">Pricing
                Committee Members</a> </li>
    </ul>
    <div class="tab-content bg-white" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-auction" role="tabpanel" aria-labelledby="pills-auction-tab">
            <div class="auction-summary-form">
                <div class="form-field">
                    <form class="needs-validation" novalidate>
                        <div class="card p-5 shadow-lg">
                            <div class="border-bottom">
                                <div class="py-3 mb-3">
                                    <h4>General information about the order</h4>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom01">Auction Reference Number</label>
                                        <div class="text-14 color-darkgreen">392101</div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom01">Auction Type</label>
                                        <div class="text-14 color-darkgreen">Auction</div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom01">Bidding Method</label>
                                        <div class="text-14 color-darkgreen">Directly</div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom01">Auction Name</label>
                                        <div class="text-14 color-darkgreen">Transportation Cars</div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom01">Auction Products</label>
                                        <div class="text-14 color-darkgreen">cars</div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom01">Entity No.</label>
                                        <div class="text-14 color-darkgreen">203</div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="validationCustom01">Entity Name</label>
                                        <div class="text-14 color-darkgreen">Ministry of Health</div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-12 col-md-12">
                                        <div class="form-group">
                                            <label for="goverusermessage">Auction Description</label>
                                            <div class="text-14 color-darkgreen">The Ministry of Health announces the sale by electronic public auction of large transport vehicles of several types, trucks, cars and equipment of a type of MAN used and redundant by the Ministry of Health.
                                                A large collection of cars Toyota Landcruiser Jeep Pickup Gasoline - Diesel Toyota Hilux Two Gasoline - Diesel Isuzu Pickup Diesel.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom">
                                <div class="pt-5 pb-3">
                                    <h4>Auction Date and Time</h4>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <div class="form-group">
                                            <label>Auction Start Date</label>
                                            <div class="text-14 color-darkgreen">
                                                <span>12-11-2020</span>
                                                <span class="text-muted status status-o status-o-success-4">10:50
                                                    AM</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="form-group">
                                            <label>Auction End Date</label>
                                            <div class="text-14 color-darkgreen">
                                                <span>12-11-2020</span>
                                                <span class="text-muted status status-o status-o-success-4">10:50:00
                                                    AM</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="form-group">
                                            <label>How to start the auction</label>
                                            <div class="text-14 color-darkgreen">to me</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <div class="form-group">
                                            <label>Auction Announcement Date</label>
                                            <div class="text-14 color-darkgreen">
                                                <span>12-11-2020</span>
                                                <span class="text-muted status status-o status-o-success-4">10:50
                                                    AM</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="form-group">
                                            <label>Last Date to Sign up</label>
                                            <div class="text-14 color-darkgreen">
                                                <span>11/12/2020</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom">
                                <div class="pt-5 pb-3">
                                    <h4>Financial Auction Items</h4>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <div class="form-group">
                                            <label>Auction Start Price</label>
                                            <div class="text-14 color-darkgreen">50,000</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="form-group">
                                            <label>Lowest Bid Price</label>
                                            <div class="text-14 color-darkgreen">5,000</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="form-group">
                                            <label>Warranty Percentage</label>
                                            <div class="text-14 color-darkgreen">5%</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <div class="form-group">
                                            <label>commission Type</label>
                                            <div class="text-14 color-darkgreen">Directly</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="form-group">
                                            <label>Pursuit percentage-commission %</label>
                                            <div class="text-14 color-darkgreen">2%</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <div class="form-group">
                                            <label>Last date to pay the final guarantee</label>
                                            <div class="text-14 color-darkgreen">10 days</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class=" pt-5 pb-3">
                                    <h4>Attachments</h4>
                                </div>
                                <div class="row">
                                    <table id="inventoryAllocationTable" class="table table-bordered table-expanded">
                                        <thead class="thead-dark">
                                            <tr class="">
                                                <th style="width: 12%;" class="btn-primary-light" scope="col" (click)="sortByTableHeaderId(1, 'string')">
                                                    <div class="table-header-cell">
                                                        <span>Attached</span>
                                                        <span class="arrow asc"><span
                                                                class="icon-unfold_more"></span></span>
                                                    </div>
                                                </th>
                                                <th class="btn-primary-light" scope="col" (click)="sortByTableHeaderId(2, 'string')">
                                                    <div class="table-header-cell">
                                                        <span>Attachment Name</span>
                                                        <span class="arrow asc"><span
                                                                class="icon-unfold_more"></span></span>
                                                    </div>
                                                </th>
                                                <th style="width: 12%;" class="btn-primary-light" scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row" style="text-align: center;">1</td>
                                                <td>
                                                    <a class="btn btn-ghost btn-sm fill-primary-light-green"> <span class="icon-Group-3319"></span> </a> Brochure Al-Mazad.pdf
                                                </td>
                                                <td>
                                                    <a class="btn btn-ghost btn-sm fill-primary-light-green"> <span class="icon-eye-open"></span> </a>
                                                    <a class="btn btn-ghost btn-sm fill-primary-light-green mx-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="icon-download"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="mt-4 row margin-auto justify-content-end">
                                    <div class="mb-5">
                                        <nav aria-label="..." class="nav-pagination">
                                            <ul class="pagination">
                                                <li class="page-item disabled">
                                                    <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
                                                </li>
                                                <li class="page-item active">
                                                    <a class="page-link">1</a>
                                                </li>
                                                <li class="page-item" aria-current="page">
                                                    <a class="page-link">2 <span class="sr-only">(current)</span></a>
                                                </li>
                                                <li class="page-item"><a class="page-link">3</a></li>
                                                <li class="page-item"><a class="page-link dot-link">...</a></li>
                                                <li class="page-item"><a class="page-link">15</a></li>
                                                <li class="page-item">
                                                    <a class="page-link">Next</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex align-items-md-center align-items-stretch flex-column flex-md-row justify-content-between mx-n2 my-5 mb-5">
    <div class="mb-2 mb-md-5 flex-grow-1 flex-md-grow-0">
        <button type="submit" class="btn arrow-btn arrow-btn-reverse btn-outline-light btn-lg btn-block">
            <span class="btn-text">Reference</span>
            <span class="v-divider"></span>
            <span class="icon icon-arrow-left"></span>
        </button>
    </div>
    <div class="d-flex flex-column flex-md-row mb-5">
        <button class="btn arrow-btn btn-primary-light btn-lg mx-0 mx-md-2 mt-2 mt-md-0">
            <span class="btn-text">Announcement of the auction on the platform</span>
        </button>
    </div>
</div>