// <--=========== Newly added SCSS - Required ===========-->
.custom-bg-yellow {
    background-color: #FEF7E8;
}

.vr-line {
    width: 1px;
    background-color: #F9B122;
}

.status-success-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle {
    width: 96px;
    height: 96px;
    background: #f9fcfa;
    border-radius: 50%;
}

.icon-check {
    position: absolute;
    font-size: 30px;
    top: 85px;
    color: #32ad71;
}

.btn:disabled {
    color: #ffff !important;
    background-color: #818181 !important;
}

// End