<div class="card flex-row">

  <!--=================== Yellow box to show auction status ===================-->
  <div class="d-flex flex-column justify-content-center custom-bg-yellow" style="min-height: 130px; width: 30%">
    <div class="mx-3">
      <p class="text-18 font-weight-bold" style="color: #F9B122;">{{ 'open_offer.card.head' | translate }}</p>
      <p class="text-12" style="color: #F9B122;">{{ 'open_offer.card.subhead' | translate }}
      </p>
    </div>
  </div>
  <!-- End -->

  <div class="vr-line"></div>

  <div class="d-flex justify-content-between mx-4 w-75">
    <div class="d-flex flex-column justify-content-center" style="width: 35%;">
      <div class="card-body">
        <p class="card-text text-12 text-info">
          {{ 'open_offer.card.time' | translate }}
        </p>
        <div class="row text-success">
          <span class="col-md-6">{{importantInfo.open_biddingdate}}</span>&nbsp;

          <ul class="col list list-primary-bullets d-inline-block">
            <li class="text-muted">
              <span style="margin-left: -10px; margin-right: -10px;">{{importantInfo.open_biddingtime}}
                {{ importantInfo.open_biddingtimeSufix | translate}}</span>

            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <button [routerLink]="['../../auction-committee-head/open-offers', auctionId]"
        class="btn btn-primary-light btn-md d-flex" style="min-width: 220px;">{{ 'open_offer.card.accept_btn' |
        translate }}</button>
    </div>
  </div>
</div>