.title-without-claim-and-line {
    height: 48px;
    width: 832px;
    color: #08594d;
    font-family: "DIN Next LT Arabic";
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 35px;
    text-align: left;
}

.alert-dismissible .close {
    // position: absolute;
    top: 0px;
    left: 16px;
    color: inherit;
    // box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    margin-top: 10px;
    padding: 0.5rem 0.7rem;
    border-radius: 5px;
}

.stepper-card {
    background-color: #eff8f3;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.show-status {
    margin-top: 3%;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status-color {
    height: 8px;
    width: 8px;
    transform: scaleX(-1);
    border-radius: 12px;
    background-color: #f89819;
    margin-bottom: 8px;
    margin-left: 5px;
}

.status-text {
    // font-size: 12px;
    padding-left: 5px;
    color: black;
}

.status-icon {
    display: flex;
    align-items: center;
    // flex-direction: row-reverse;
}

.app-name {
    display: flex;
    text-align: right;
    flex-direction: column;
    margin-left: 50%;
}

.application-name {
    font-weight: bold;
    font-size: 14px;
    color: #08594d;
}

label {
    font-size: 12px;
}

.steps-group {
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    height: 100px;
    background-color: #ffff;
    padding: 0;
    margin: 1% 0 0 0;
    list-style: none;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    // flex-direction: row-reverse;
    flex-wrap: wrap;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 400;
}

.steps-group a {
    display: flex;
    align-items: center;
    // flex-direction: row-reverse;
}

.alert {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 1rem;
}

.alert-icon {
    transform: rotate(45deg);
}

.alert-content p {
    margin-left: 50px;
    font-size: 14px;
    font-weight: 500;
    color: #f66f5b;
}

.nav-btn {
    display: flex;
    margin-top: 1rem;
}

.flex-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    border-radius: 0 5px 5px 5px;
}

.flex-card-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 230px;
    width: 296px;
    border: 2px dashed #32ad71;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(65, 64, 66, 0.08);
}

.flex-card-item-data {
    cursor: pointer;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 230px;
    width: 296px;
    border: 1px solid #32ad71;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgb(65 64 66 / 8%);
}

.card-body p {
    padding-right: 5px;
    margin-bottom: 0 !important;
    color: #32ad71;
    font-family: "DIN Next LT Arabic";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-card {
    // cursor: not-allowed;
    opacity: 35%;
}

.btn-submit-grp {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

// .btn-primary-light {
//   margin-left: 25px;
//   margin-right: 25px;
// }
.add-btn {
    border: none;
    background-color: #ffff;
    margin: 20px;
    padding: 0;
}

.add-btn:focus {
    outline: none;
}

.search {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #32ad71;
}

.status-success-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle {
    width: 96px;
    height: 96px;
    background: #f9fcfa;
    border-radius: 50%;
}

.modal-title {
    margin: 0;
    font-family: "DINNextLTArabicRegular";
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    text-align: justify;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 15px;
}

.search-group.search-custom {
    border: none;
    border-radius: 0;
    box-shadow: 0 0;
    border-bottom: 2px solid #32ad71;
}

.data-table {
    height: 80px;
}

.table-data-bg {
    background-color: #f9fcfa;
}

.icon-check {
    font-size: 28px;
}

ul.nav.et-tabs.et-tabs-filled li a {
    max-width: 200px;
}

.icon-check {
    position: absolute;
    font-size: 30px;
    top: 85px;
    color: #32ad71;
}