.card {
  // max-width: 360px;
  // min-width: 360px;
  border-radius: 8px;
  //   height: 380px;
  margin-top: 50px;
  box-shadow: 0 4px 31px 0 rgba(111, 111, 111, 0.13);
  border: none !important;
}

.card-grp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-img-top {
  width: 150px;
  height: 120px;
  top: -30px;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  align-self: flex-end;
  box-shadow: 0 4px 31px 0 rgba(111, 111, 111, 0.13);
}

.status-code-un {
  border-radius: 1px;
  font-size: 16px;
  background-color: #fef7e8;
  color: #f9b122;
  text-align: center;
  align-items: center;
  width: 130px;
  margin: 17px;
  height: 45px;
  // padding-left: 5px ;
}

.status-code-pb {
  border-radius: 1px;
  background-color: #fef7e8;
  font-size: 16px;
  color: #f9b122;
  text-align: center;
  width: 140px;
  margin-top: 25px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 25px;
  padding: 5px 5px 5px 5px;
}

.status-code-rn {
  border-radius: 1px;
  background-color: #f66f5b;
  font-size: 16px;
  color: #ffff;
  text-align: center;
  width: 140px;
  margin-top: 25px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 25px;
  padding: 5px 5px 5px 5px;
}

.status-code-up {
  border-radius: 1px;
  background-color: #e7f1f8;
  font-size: 16px;
  color: #117abe;
  text-align: center;
  width: 140px;
  margin-top: 25px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 25px;
  padding: 5px 5px 5px 5px;
}

.status-code-ad {
  border-radius: 1px;
  font-size: 16px;
  background-color: #eaf6ef;
  color: #32ad71;
  text-align: center;
  text-align: center;
  width: 140px;
  margin-top: 25px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 25px;
  padding: 5px 5px 5px 5px;
}

.status-code-can {
  border-radius: 1px;
  font-size: 16px;
  background-color: #fdefed;
  color: #f66f5b;
  text-align: center;
  text-align: center;
  width: 140px;
  margin-top: 25px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 25px;
  padding: 5px 5px 5px 5px;
}

.card-title {
  color: #005b4f;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 24px;
  min-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-text {
  color: #7a7a7a;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
  min-height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.notact-btn {
  border-radius: 5px;
  background-color: #117abe;
  padding: 8px 10px 8px 10px;
  color: #ffff;
  font-size: 14px;
  font-weight: bold;
}

.act-btn {
  border-radius: 5px;
  border: none;
  background-color: #32ad71;
  color: #ffff;
  font-weight: bold;
}

label {
  margin-bottom: 0;
}