@font-face {
    font-family: DINNextLTArabic-Black;
    src: url("/assets/font/DINNextLTArabic-Black.ttf") format("truetype");
}

@font-face {
    font-family: DINNextLTArabic-Bold;
    src: url("/assets/font/DINNextLTArabic-Bold.ttf") format("truetype");
}

@font-face {
    font-family: DINNextLTArabic-Heavy;
    src: url("/assets/font/DINNextLTArabic-Heavy.ttf") format("truetype");
}

@font-face {
    font-family: DINNextLTArabic-Light;
    src: url("/assets/font/DINNextLTArabic-Light.ttf") format("truetype");
}

@font-face {
    font-family: DINNextLTArabic-Medium;
    src: url("/assets/font/DINNextLTArabic-Medium.ttf") format("truetype");
}

@font-face {
    font-family: DINNextLTArabic-Regular;
    src: url("/assets/font/DINNextLTArabic-Regular.ttf") format("truetype");
}

@font-face {
    font-family: DINNextLTArabic-UltraLight;
    src: url("/assets/font/DINNextLTArabic-UltraLight.ttf") format("truetype");
}