ul.nav.et-tabs.et-tabs-filled li a {
    max-width: inherit;
}

.product-summary-form .table-success,
.product-summary-form .table-success>td,
.product-summary-form .table-success>th {
    background-color: #32ad71;
}

::ng-deep .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0.3 !important;
    background-color: #005B4E !important;
}

::ng-deep .mat-dialog-container {
    /* box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%); */
    box-shadow: none !important;
    background: white;
    color: rgba(0, 0, 0, 0.87);
}
.icon-spinner{
  width: 18px;
  height: 18px;
  font-size: x-small;
}
