<div class="col-12 mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb px-0">
            <li class="breadcrumb-item"><a href="#">Trust services</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Auctions </li>
        </ol>
    </nav>
</div>
<div class="col-12">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h1 class="text-20 text-primary font-weight-medium">Auctions</h1>
            </div>
        </div>
        <div class="col-md-12" style="margin-bottom: 20px; display: flex;justify-content: space-between;
        width: 100%;">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-primary-light"> Ended Auction (15) </button>
                <button type="button" class="btn btn-outline-primary-light"> Under gear (2) </button>
                <button type="button" class="btn btn-outline-primary-light"> Upcoming Auction (2) </button>
                <button type="button" class="btn btn-outline-primary-light"> Ongoing Auction (6) </button>
                <button type="button" class="btn btn-outline-primary-light"> All (48) </button>
            </div>
            <div class="dropdown dropdown-filters-container d-inline">
                <button class="btn btn-ghost fill-primary-light-green dropdown-toggle btn-with-badge filters-btn shadow-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="text-14 icon-filters"></span>
                    <!-- <span class="badge badge-danger"><small>4</small></span> -->
                </button>
                <div class="dropdown-menu dropdown-filter" aria-labelledby="dropdownMenuButton">
                    <div class="card filter shadow-lg-5" id="collapseExample">
                        <div class="card-header text-center">
                            <button type="button" class="close" data-dismiss="dropdown" aria-label="Close">
                                <span class="icon-close"></span>
                            </button>
                            <span class="text-primary d-block text-uppercase"><b>Filters</b>
                                <!-- <b class="text-secondary-blue d-block mt-1"
                            >Active Filters (0)</b
                            > -->
                            </span>
                        </div>
                        <div class="filter-item">
                            <div class="filter-category-body">
                                <div class="p-3">
                                    <div class="filter-content">
                                        <div class="mb-2">
                                            <label for="validationCustom04">Status</label>
                                            <select class="form-control" id="validationCustom04">
                                                <option selected disabled value="">Select</option>
                                                <option>...</option>
                                            </select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="validationCustom04">Type</label>
                                            <select class="form-control" id="validationCustom04">
                                                <option selected disabled value="">Select</option>
                                                <option>...</option>
                                            </select>
                                        </div>
                                        <div class="mt-3 mb-2">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">My
                                                    Auctions</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-6 p-1">
                                    <button type="button" class="btn btn-outline-light btn-block"> Reset </button>
                                </div>
                                <div class="col-6 p-1">
                                    <button type="button" class="btn btn-primary-light btn-block"> Apply </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card group  -->
        <div class="card-grp">
            <div class="card">
                <img src="https://picsum.photos/200/150" class="card-img-top" alt="...">
                <div class="status-code-un"> Under gear </div>
                <div class="card-body">
                    <h5 class="card-title">Sale of trucks and transport vehicles belonging to the Ministry of Health, Riyadh branch</h5>
                    <p class="card-text"> Several ISUZCO trucks and cars of the model 2012, 2016, 2015 and other types will be sold… </p>
                    <div style="color: #4F5457; font-size: 18px;">
                        <img src="assets/icon/Product.png" alt="" width="20px"> 120 Product
                    </div>
                    <div style="color: #4F5457; font-size: 18px;">
                        <!-- <img src="assets\icon\Calender.png" alt="" width="20px"> -->
                        <span class="icon-date_range" style="color: #005B4F;"></span> 12-11-2020 . 12:30 Evening
                    </div>
                    <div style="display: flex;justify-content: space-between;align-items: flex-end;">
                        <div style="width: 55%;">
                            <label for="end-through" style="color: #4F5457; font-size: 10px;">Ends through:</label>
                            <div style="display: flex;justify-content: space-evenly;">
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="day" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="day" style="color: #32AD71;font-size: 12px;">Day</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="hour" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="hour" style="color: #32AD71;font-size: 12px;">Hour</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="accurate" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="accurate" style="color: #32AD71;font-size: 12px;">Accurate</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="second" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="second" style="color: #32AD71;font-size: 12px;">Second</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="btn notact-btn">Auction Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://picsum.photos/200/150" class="card-img-top" alt="...">
                <div class="status-code-rn"> 120 <span class="icon-eye-open"></span>Running Now </div>
                <div class="card-body">
                    <h5 class="card-title">Sale of trucks and transport vehicles belonging to the Ministry of Health, Riyadh branch</h5>
                    <p class="card-text"> Several ISUZCO trucks and cars of the model 2012, 2016, 2015 and other types will be sold… </p>
                    <div style="color: #4F5457; font-size: 18px;">
                        <img src="assets/icon/Product.png" alt="" width="20px"> 120 Product
                    </div>
                    <div style="color: #4F5457; font-size: 18px;">
                        <img src="assets\icon\Calender.png" alt="" width="20px"> 12-11-2020 . 12:30 Evening
                    </div>
                    <div style="display: flex;justify-content: space-between;align-items: flex-end;">
                        <div style="width: 55%;">
                            <label for="end-through" style="color: #4F5457; font-size: 10px;">Ends through:</label>
                            <div style="display: flex;justify-content: space-evenly;">
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="day" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="day" style="color: #32AD71;font-size: 12px;">Day</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="hour" style="color: #32AD71;font-size: 16px;">20</label>
                                    <label for="hour" style="color: #32AD71;font-size: 12px;">Hour</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="accurate" style="color: #32AD71;font-size: 16px;">45</label>
                                    <label for="accurate" style="color: #32AD71;font-size: 12px;">Accurate</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="second" style="color: #32AD71;font-size: 16px;">08</label>
                                    <label for="second" style="color: #32AD71;font-size: 12px;">Second</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="btn act-btn">Auction Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://picsum.photos/200/150" class="card-img-top" alt="...">
                <div class="status-code-up"> Upcoming auction </div>
                <div class="card-body">
                    <h5 class="card-title">Sale of trucks and transport vehicles belonging to the Ministry of Health, Riyadh branch</h5>
                    <p class="card-text"> Several ISUZCO trucks and cars of the model 2012, 2016, 2015 and other types will be sold… </p>
                    <div style="color: #4F5457; font-size: 18px;">
                        <img src="assets/icon/Product.png" alt="" width="20px"> 120 Product
                    </div>
                    <div style="color: #4F5457; font-size: 18px;">
                        <img src="assets\icon\Calender.png" alt="" width="20px"> 12-11-2020 . 12:30 Evening
                    </div>
                    <div style="display: flex;justify-content: space-between;align-items: flex-end;">
                        <div style="width: 55%;">
                            <label for="end-through" style="color: #4F5457; font-size: 10px;">Ends through:</label>
                            <div style="display: flex;justify-content: space-evenly;">
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="day" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="day" style="color: #32AD71;font-size: 12px;">Day</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="hour" style="color: #32AD71;font-size: 16px;">20</label>
                                    <label for="hour" style="color: #32AD71;font-size: 12px;">Hour</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="accurate" style="color: #32AD71;font-size: 16px;">45</label>
                                    <label for="accurate" style="color: #32AD71;font-size: 12px;">Accurate</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="second" style="color: #32AD71;font-size: 16px;">08</label>
                                    <label for="second" style="color: #32AD71;font-size: 12px;">Second</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="btn act-btn">Auction Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://picsum.photos/200/150" class="card-img-top" alt="...">
                <div class="status-code-ad"> Awarded </div>
                <div class="card-body">
                    <h5 class="card-title">Sale of trucks and transport vehicles belonging to the Ministry of Health, Riyadh branch</h5>
                    <p class="card-text"> Several ISUZCO trucks and cars of the model 2012, 2016, 2015 and other types will be sold… </p>
                    <div style="color: #4F5457; font-size: 18px;">
                        <img src="assets/icon/Product.png" alt="" width="20px"> 120 Product
                    </div>
                    <div style="color: #4F5457; font-size: 18px;">
                        <img src="assets\icon\Calender.png" alt="" width="20px"> 12-11-2020 . 12:30 Evening
                    </div>
                    <div style="display: flex;justify-content: space-between;align-items: flex-end;">
                        <div style="width: 55%;">
                            <label for="end-through" style="color: #4F5457; font-size: 10px;">Ends through:</label>
                            <div style="display: flex;justify-content: space-evenly;">
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="day" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="day" style="color: #32AD71;font-size: 12px;">Day</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="hour" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="hour" style="color: #32AD71;font-size: 12px;">Hour</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="accurate" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="accurate" style="color: #32AD71;font-size: 12px;">Accurate</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="second" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="second" style="color: #32AD71;font-size: 12px;">Second</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="btn notact-btn">Auction Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://picsum.photos/200/150" class="card-img-top" alt="...">
                <div class="status-code-can"> Canceled </div>
                <div class="card-body">
                    <h5 class="card-title">Sale of trucks and transport vehicles belonging to the Ministry of Health, Riyadh branch</h5>
                    <p class="card-text"> Several ISUZCO trucks and cars of the model 2012, 2016, 2015 and other types will be sold… </p>
                    <div style="color: #4F5457; font-size: 18px;">
                        <img src="assets/icon/Product.png" alt="" width="20px"> 120 Product
                    </div>
                    <div style="color: #4F5457; font-size: 18px;">
                        <img src="assets\icon\Calender.png" alt="" width="20px"> 12-11-2020 . 12:30 Evening
                    </div>
                    <div style="display: flex;justify-content: space-between;align-items: flex-end;">
                        <div style="width: 55%;">
                            <label for="end-through" style="color: #4F5457; font-size: 10px;">Ends through:</label>
                            <div style="display: flex;justify-content: space-evenly;">
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="day" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="day" style="color: #32AD71;font-size: 12px;">Day</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="hour" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="hour" style="color: #32AD71;font-size: 12px;">Hour</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="accurate" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="accurate" style="color: #32AD71;font-size: 12px;">Accurate</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="second" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="second" style="color: #32AD71;font-size: 12px;">Second</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="btn notact-btn">Auction Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://picsum.photos/200/150" class="card-img-top" alt="...">
                <div class="status-code-un"> Under gear </div>
                <div class="card-body">
                    <h5 class="card-title">Sale of trucks and transport vehicles belonging to the Ministry of Health, Riyadh branch</h5>
                    <p class="card-text"> Several ISUZCO trucks and cars of the model 2012, 2016, 2015 and other types will be sold… </p>
                    <div style="color: #4F5457; font-size: 18px;">
                        <img src="assets/icon/Product.png" alt="" width="20px"> 120 Product
                    </div>
                    <div style="color: #4F5457; font-size: 18px;">
                        <img src="assets\icon\Calender.png" alt="" width="20px"> 12-11-2020 . 12:30 Evening
                    </div>
                    <div style="display: flex;justify-content: space-between;align-items: flex-end;">
                        <div style="width: 55%;">
                            <label for="end-through" style="color: #4F5457; font-size: 10px;">Ends through:</label>
                            <div style="display: flex;justify-content: space-evenly;">
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="day" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="day" style="color: #32AD71;font-size: 12px;">Day</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="hour" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="hour" style="color: #32AD71;font-size: 12px;">Hour</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="accurate" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="accurate" style="color: #32AD71;font-size: 12px;">Accurate</label>
                                </div>
                                <div style="display: flex; flex-direction: column;align-items: center;">
                                    <label for="second" style="color: #32AD71;font-size: 16px;">0</label>
                                    <label for="second" style="color: #32AD71;font-size: 12px;">Second</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="#" class="btn notact-btn">Auction Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 row margin-auto">
            <div class="mb-5">
                <nav aria-label="..." class="nav-pagination">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item" aria-current="page">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link dot-link">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">15</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>