<div class="card flex-row">

    <!--=================== Blue box to show auction status ===================-->
    <div class="d-flex flex-column justify-content-center custom-bg-info" style="min-height: 130px; width: 30%;">
        <div class="mx-3">
            <p class="text-18 text-info font-weight-bold">{{ 'bidderAuctionDetails.ThisAuctionIsComing' | translate }}
            </p>
            <p class="text-12 text-info">{{ 'bidderAuctionDetails.YouCanRegisterYourEntry' | translate }}</p>
        </div>
    </div>
    <!-- End -->

    <div class="vr-line"></div>

    <!--============ Shows auction start date and time and Participation Button ============-->
    <div class="d-flex justify-content-between mx-4 w-75">

        <!--=================== Shows auction start date and time ===================-->
        <div class="d-flex flex-column justify-content-center">
            <p class="text-info text-12">{{ 'bidderAuctionDetails.AuctionStartDate' | translate }}</p>
            <div>
                <span class="text-primary">{{upcomingAuction.auctionStartsdate}}</span>
                <ul class="list list-primary-bullets d-inline-block">
                    <li class="text-muted"> {{upcomingAuction.auctionStartstime}}
                        {{upcomingAuction.auction_start_timeSufix | translate}} </li>
                </ul>
                <!-- <p>{{upcomingAuction.auction_start_date}}</p>
                &nbsp;&nbsp;
                <label class="icon-dot"></label>
                &nbsp;&nbsp;
                <p style="opacity:.5;">{{upcomingAuction.auction_start_time}}
                    {{upcomingAuction.auction_start_timeSufix}}
                </p> -->
            </div>
        </div>
        <!-- End -->

        <!--=================== Participation Button ===================-->
        <button [disabled]="btnDisable" class="btn btn-primary-light btn-md align-self-center" data-toggle="modal"
            data-target="#confirmMemberModal">
            {{'bidderAuctionDetails.ParticipateInTheAuction' | translate }}
        </button>
        <!-- End -->

    </div>
    <!-- End -->

    <!--=================== Confirmatiom model  ===================-->
    <div class="modal fade" id="confirmMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">
                        {{ 'bidderAuctionDetails.auction-popup.ConfirmationOfParticipation' | translate }}
                    </h4>
                    <button type="button" class="modal-close btn-close btn-sm" data-dismiss="modal" aria-label="Close">
                        <span class="icon-close"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="confirmation" style="color: #414042; font-size: 16px">{{
                        'bidderAuctionDetails.auction-popup.UponConformation' | translate }}</label>
                </div>
                <div class="modal-footer" style="justify-content: end">
                    <button type="button" class="btn btn-primary-light btn-md" data-dismiss="modal" aria-label="Close"
                        (click)="submitparticipation()">
                        <div *ngIf="showLoader" class="spinner-border spinner-border-light text-light" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                        &nbsp;
                        {{"auctionModerator.am-detail.auction-details-confirmation.Postconfirmation" | translate}}
                    </button>
                    <button type="button" class="btn btn-outline-light btn-md" data-dismiss="modal" aria-label="Close">
                        {{'bidderAuctionDetails.auction-popup.Cancellation' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->

    <!--=================== Successful model  ===================-->
    <div class="modal show" *ngIf="showSuccessfulModal" [ngClass]="{ 'modal-show': showSuccessfulModal }">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content" style="align-items: center;">
                <button (click)="closeModal('close')" type="button" class="modal-close btn-close btn-sm">
                    <span class="icon-close"></span>
                </button>
                <span class="icon-check"></span>
                <div class="modal-header">
                    <div class="status-success-icon">
                        <div style="display: flex;">
                            <div class="circle"></div>
                        </div>
                        <h4 class="modal-title" id="exampleModalLabel" style="text-align: center">
                            {{ 'bidderAuctionDetails.auction-popup.SubscriptionConfirmedSuccessfully' | translate }}
                        </h4>
                    </div>
                </div>
                <div class="modal-body">
                    <label for="confirmation" style="color: #414042; font-size: 16px; text-align: center;">
                        {{ 'bidderAuctionDetails.auction-popup.ReceiveEmail' | translate }}
                    </label>
                </div>
                <div class="modal-footer" style="justify-content: end">
                    <button type="button" (click)="closeModal('success')" class="btn btn-primary-light btn-md">
                        {{ 'bidderAuctionDetails.auction-popup.BackToAuctions' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- End -->

</div>
