.mytabs1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.mytabs1 .lbl1 {
    width: 450px;
}

.mytabs1 .tab1 {
    width: 100%;
    order: 1;
    display: none;
}

.mytabs1 .inp1[type='radio']:checked+.lbl1+.tab1 {
    display: block;
}

ul.nav.et-tabs.et-tabs-filled li a {
    max-width: inherit;
}