<div id="gallery" class="ad-gallery">
    <div class="ad-image-wrapper">
    </div>
    <div class="ad-controls">
    </div>
    <div class="ad-nav">
        <div class="ad-thumbs">
            <ul class="ad-thumb-list">
                <li>
                    <a href="https://picsum.photos/200/153">
                        <img src="https://picsum.photos/200/153" class="image0">
                    </a>
                </li>
                <li>
                    <a href="https://picsum.photos/200/120">
                        <img src="https://picsum.photos/200/120"
                            class="image1">
                    </a>
                </li>
                <li>
                    <a href="https://picsum.photos/200/140">
                        <img src="https://picsum.photos/200/140" longdesc="http://coffeescripter.com"
                            class="image2">
                    </a>
                </li>
                <li>
                    <a href="https://picsum.photos/200/15">
                        <img src="https://picsum.photos/200/15"
                            class="image3">
                    </a>
                </li>
                <li>
                    <a href="https://picsum.photos/200/160">
                        <img src="https://picsum.photos/200/160"
                            class="image4">
                    </a>
                </li>
                <li>
                    <a href="https://picsum.photos/200/120">
                        <img src="https://picsum.photos/200/120"
                            class="image5">
                    </a>
                </li>
                <li>
                    <a href="https://picsum.photos/200/150">
                        <img src="https://picsum.photos/200/150"
                            class="image6">
                    </a>
                </li>
                <li>
                    <a href="https://picsum.photos/200/11">
                        <img src="https://picsum.photos/200/11"
                            class="image7">
                    </a>
                </li>
                <li>
                    <a href="https://picsum.photos/200/130">
                        <img src="https://picsum.photos/200/130"
                            class="image8">
                    </a>
                </li>
                <li>
                    <a href="https://picsum.photos/200/140">
                        <img src="https://picsum.photos/200/140"
                            class="image9">
                    </a>
                </li>
                <li>
                    <a href="https://picsum.photos/200/150">
                        <img src="https://picsum.photos/200/150"
                            class="image10">
                    </a>
                </li>
                <li>
                    <a href="https://picsum.photos/200/120">
                        <img src="https://picsum.photos/200/120"
                            class="image11">
                    </a>
                </li>
                <li>
                    <a href="https://picsum.photos/200/130">
                        <img src="https://picsum.photos/200/130"
                            class="image12">
                    </a>
                </li>
                <li>
                    <a href="https://picsum.photos/200/140">
                        <img src="https://picsum.photos/200/140"
                            class="image13">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>