<div class="col-12 mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb px-0">
            <li class="breadcrumb-item"><a href="#">Accreditation services</a></li>
            <li class="breadcrumb-item"><a href="#">Auction</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Auctions Details </li>
        </ol>
    </nav>
</div>
<div class="col-12">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h1 class="text-20 text-primary font-weight-medium">Auctions Details</h1>
            </div>
        </div>
        <div class="card-grp">
            <div class="top-card">
                <div class="top-card-left">
                    <div class="card-body" style="padding-top:50px;padding-bottom:50px">
                        <h5 class="card-title" style="color: #F9B122;font-size: 18px;">Initial gearing</h5>
                        <p class="card-text" style="color: #F9B122;font-size: 14px;"> This bid has been awarding by the auction committee, please approve the initial awarding. </p>
                    </div>
                </div>
                <div class="top-card-right">
                    <div class="top-card-right-left">
                        <div class="card-body" style="padding-top:25px;padding-bottom:10px">
                            <div style="display: flex;align-items: center;">
                                <span class="icon-alert-success"></span>
                                <h5 style="font-size: 30px;color: #28AB6D; font-weight: 500;margin-bottom: 0;margin-left: 10px;">
                                    3,567,938 SAR</h5>
                            </div>
                            <p class="card-text" style="color: #414042;font-size: 16px;margin-top: 25px;margin-bottom: 5px;"> Hammat Trading Est </p>
                            <p style="color: #414042;font-size: 16px;margin-bottom: 5px;">No. 707365514</p>
                            <a href="" style="text-decoration: underline; margin-right: 5px;color: #08594D;font-size: 14px;"> Primary
                Warranty </a>
                            <span class="icon-download"></span>
                        </div>
                    </div>
                    <div class="top-card-right-right">
                        <div>
                            <a href="" style="text-decoration: underline; margin-right: 5px;color: #08594D;;font-size: 16px;"> Auction
                report and bid submitted </a>
                            <span class="icon-download"></span>
                        </div>
                        <div style="margin-top: 20px;">
                            <button class="btn btn-primary-light btn-md" style="margin-right: 10px;">Initial award approval</button>
                            <button class="btn btn-danger btn-md">Refusal to be awarded</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-card">
                <div class="card">
                    <div style="display: flex;justify-content: space-between;">
                        <div>
                            <div class="status-code-rn-detail"> 120 <span class="icon-eye-open"></span>Running Now </div>
                        </div>
                        <div>
                            <div style="width: 150px;">
                                <label for="end-through" style="color: #4F5457; font-size: 12px;">Ends through:</label>
                                <div style="display: flex;justify-content: space-evenly;">
                                    <div style="display: flex; flex-direction: column;align-items: center;">
                                        <label for="day" style="color: #32AD71;font-size: 20px; font-weight: 900; margin: 0;">0</label>
                                        <label for="day" style="color: #32AD71;font-size: 12px; font-weight: 500;">Day</label>
                                    </div>
                                    <div style="display: flex; flex-direction: column;align-items: center;">
                                        <label for="hour" style="color: #32AD71;font-size: 20px; font-weight: 900; margin: 0;">20</label>
                                        <label for="hour" style="color: #32AD71;font-size: 12px;font-weight: 500;">Hour</label>
                                    </div>
                                    <div style="display: flex; flex-direction: column;align-items: center;">
                                        <label for="accurate" style="color: #32AD71;font-size: 20px; font-weight: 900; margin: 0;">40</label>
                                        <label for="accurate" style="color: #32AD71;font-size: 12px;font-weight: 500;">Accurate</label>
                                    </div>
                                    <div style="display: flex; flex-direction: column;align-items: center;">
                                        <label for="second" style="color: #32AD71;font-size: 20px; font-weight: 900; margin: 0;">08</label>
                                        <label for="second" style="color: #32AD71;font-size: 12px;font-weight: 500;">Second</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex;">
                        <div class="left-left-card">
                            <div class="card-body">
                                <div>
                                    <button class="btn btn-primary-light btn-sm img-btn">
                    <span class="icon-eye-open"></span>Product Details </button>
                                    <img src="https://picsum.photos/200/150" class="card-img-top" alt="...">
                                </div>
                                <p style="color: #414042;font-size: 12px; text-align: center;">10 of 23</p>
                                <h5 class="card-title">Sale of trucks and transport vehicles belonging to the Ministry of Health, Riyadh branch
                                </h5>
                                <p class="card-text"> Several ISUZCO trucks and cars of the model 2012, 2016, 2015 and other types will be sold… </p>
                                <div style="color: #4F5457; font-size: 18px;">
                                    <img src="assets/icon/Product.png" alt="" width="20px"> 120 Product
                                </div>
                                <div style="color: #4F5457; font-size: 18px;">
                                    <img src="assets\icon\Calender.png" alt="" width="20px"> 12-11-2020 . 12:30 Evening
                                </div>
                                <div style="color: #4F5457; font-size: 18px;">
                                    <img src="assets\icon\Details.png" alt="" width="20px"> Bidding is closed
                                </div>
                                <button class="btn collapse-card-inside" type="button" data-toggle="collapse" data-target="#importantInformation" aria-expanded="false" aria-controls="collapseExample">
                  <p style="margin: 0; color: #414042;">Important Information</p>
                  <span class="icon-expand_more" style="color: #08594D;"></span>
                </button>
                                <div class="collapse" id="importantInformation">
                                    <div class="card card-body" style="border: none;display: flex; flex-direction: row;flex-wrap: wrap;">
                                        <div>
                                            <label>Auction price</label>
                                            <p style="color: #005B4E;font-size: 14px;">10,000 SAR</p>
                                        </div>
                                        <div style="padding-left: 15px;">
                                            <label>Initial guarantee percentage</label>
                                            <p style="color: #005B4E;font-size: 14px;">5%</p>
                                        </div>
                                        <div style="padding-left: 15px;">
                                            <label>Commission rate</label>
                                            <p style="color: #005B4E;font-size: 14px;">1%</p>
                                        </div>
                                        <div>
                                            <label>Start of bidding</label>
                                            <p style="color: #005B4E;font-size: 14px;">1-02-2022 10:50 AM</p>
                                        </div>
                                        <div style="padding-left: 15px;">
                                            <label>End of bidding</label>
                                            <p style="color: #005B4E;font-size: 14px;">30-03-2022 10:50 AM</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-left-card">
                            <div class="card-body">
                                <p style="color:#ffff;font-size: 21px;">Latest offers sent</p>
                                <div class="list-card">
                                    <div style="display: flex;justify-content: space-between;">
                                        <p style="margin: 0;">Alshaya & Brothers Foundation</p>
                                        <p style="margin: 0;">#9</p>
                                    </div>
                                    <p style="color: #414042;opacity: 0.61;font-size: 12px;margin: 0;">1 minute ago</p>
                                </div>
                                <div class="list-card">
                                    <div style="display: flex;justify-content: space-between;">
                                        <p style="margin: 0;">Alshaya & Brothers Foundation</p>
                                        <p style="margin: 0;">#8</p>
                                    </div>
                                    <p style="color: #414042;opacity: 0.61;font-size: 12px;margin: 0;">1 minute ago</p>
                                </div>
                                <div class="list-card">
                                    <div style="display: flex;justify-content: space-between;">
                                        <p style="margin: 0;">Alshaya & Brothers Foundation</p>
                                        <p style="margin: 0;">#7</p>
                                    </div>
                                    <p style="color: #414042;opacity: 0.61;font-size: 12px;margin: 0;">1 minute ago</p>
                                </div>
                                <div class="list-card">
                                    <div style="display: flex;justify-content: space-between;">
                                        <p style="margin: 0;">Alshaya & Brothers Foundation</p>
                                        <p style="margin: 0;">#6</p>
                                    </div>
                                    <p style="color: #414042;opacity: 0.61;font-size: 12px;margin: 0;">1 minute ago</p>
                                </div>
                                <div class="list-card">
                                    <div style="display: flex;justify-content: space-between;">
                                        <p style="margin: 0;">Alshaya & Brothers Foundation</p>
                                        <p style="margin: 0;">#5</p>
                                    </div>
                                    <p style="color: #414042;opacity: 0.61;font-size: 12px;margin: 0;">1 minute ago</p>
                                </div>
                                <div class="list-card">
                                    <div style="display: flex;justify-content: space-between;">
                                        <p style="margin: 0;">Alshaya & Brothers Foundation</p>
                                        <p style="margin: 0;">#4</p>
                                    </div>
                                    <p style="color: #414042;opacity: 0.61;font-size: 12px;margin: 0;">1 minute ago</p>
                                </div>
                                <div class="list-card">
                                    <div style="display: flex;justify-content: space-between;">
                                        <p style="margin: 0;">Alshaya & Brothers Foundation</p>
                                        <p style="margin: 0;">#3</p>
                                    </div>
                                    <p style="color: #414042;opacity: 0.61;font-size: 12px;margin: 0;">1 minute ago</p>
                                </div>
                                <div class="list-card">
                                    <div style="display: flex;justify-content: space-between;">
                                        <p style="margin: 0;">Alshaya & Brothers Foundation</p>
                                        <p style="margin: 0;">#2</p>
                                    </div>
                                    <p style="color: #414042;opacity: 0.61;font-size: 12px;margin: 0;">1 minute ago</p>
                                </div>
                                <div class="mt-4 row margin-auto">
                                    <div class="mb-5">
                                        <nav aria-label="..." class="nav-pagination">
                                            <ul class="pagination">
                                                <li class="page-item disabled" style="color: #32AD71; background-color: transparent;">
                                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true" style="color: #32AD71;">Previous</a>
                                                </li>
                                                <li class="page-item active">
                                                    <a class="page-link" href="#" style="color: #32AD71;">1</a>
                                                </li>
                                                <li class="page-item" aria-current="page">
                                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                                </li>
                                                <li class="page-item"><a class="page-link dot-link">...</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">Next</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn collapse-card-inside" type="button" data-toggle="collapse" data-target="#auctionDetails" aria-expanded="false" aria-controls="collapseExample">
          <p style="margin: 0; color: #414042;">Auction Details</p>
          <span class="icon-expand_more" style="color: #08594D;"></span>
        </button>
                <div class="collapse" id="auctionDetails">
                    <div class="card card-body" style="border: none;display: flex; flex-direction: row;flex-wrap: wrap;">
                        <div>
                            <label>Auction price</label>
                            <p style="color: #005B4E;font-size: 14px;">10,000 SAR</p>
                        </div>
                        <div style="padding-left: 15px;">
                            <label>Initial guarantee percentage</label>
                            <p style="color: #005B4E;font-size: 14px;">5%</p>
                        </div>
                        <div style="padding-left: 15px;">
                            <label>Commission rate</label>
                            <p style="color: #005B4E;font-size: 14px;">1%</p>
                        </div>
                        <div>
                            <label>Start of bidding</label>
                            <p style="color: #005B4E;font-size: 14px;">1-02-2022 10:50 AM</p>
                        </div>
                        <div style="padding-left: 15px;">
                            <label>End of bidding</label>
                            <p style="color: #005B4E;font-size: 14px;">30-03-2022 10:50 AM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-card">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 21px;color: #005B4E;">Auction Settings</h5>
                        <p class="card-text" style="font-size: 12px; color: #005B4E;"> You can manage the auction from this menu
                        </p>
                        <div class="icon-card-grp">
                            <button class="icon-card">
                <span class="icon-pin"></span>
                <p style="font-size: 14px; text-align: center;margin-top: 15px;font-weight: 500;">Auction Instruction
                </p>
              </button>
                            <button class="icon-card">
                <span class="icon-pin"></span>
                <p style="font-size: 14px; text-align: center;margin-top: 15px;font-weight: 500;">Auction Details</p>
              </button>
                            <button class="icon-card">
                <span class="icon-users"></span>
                <p style="font-size: 14px; text-align: center;margin-top: 15px;font-weight: 500;">Auction Committee</p>
              </button>
                            <button class="icon-card">
                <span class="icon-users"></span>
                <p style="font-size: 14px; text-align: center;margin-top: 15px;font-weight: 500;">Pricing Committee</p>
              </button>
                            <button class="icon-card disabled" disabled>
                <span class="icon-check_circle_outline"></span>
                <p style="font-size: 14px; text-align: center;margin-top: 15px;font-weight: 500;">Offers Reports</p>
              </button>
                            <p style="color: #202842;font-size: 16px;margin: 0;">For help or support in managing auctions</p>
                            <a href="#" style="color: #117ABE;font-size: 15px;margin-top: 10px;">Click here</a>
                        </div>
                        <div class="details-grp">
                            <div class="details">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                    d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                  <path
                    d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                  <path
                    d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                  <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                </svg>
                                <p>Number of bits 18</p>
                            </div>
                            <div class="details">
                                <span class="icon-add-user"></span>
                                <p>Participants 30</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>