// <--=========== Newly added SCSS - Required ===========-->
.custom-bg-info{
    background-color: #E7F1F8;
}
.vr-line{
    width: 1px;
    background-color:#3A8EC4;
}
.icon-dot{
    background-color: #32AD71;
    border-radius: 50%;
    width: 4px;
    height: 4px;
}
.status-success-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle {
    width: 96px;
    height: 96px;
    background: #f9fcfa;
    border-radius: 50%;
}

.icon-check {
    position: absolute;
    font-size: 30px;
    top: 85px;
    color: #32ad71;
}
//<--=========== End ===========-->