<div class="card flex-row mt-4">

  <!--=================== Yellow box to show auction status ===================-->
  <div class="d-flex flex-column justify-content-center custom-bg-yellow" style="min-height: 130px; width: 30%">
    <div class="mx-3">
      <p class="text-18 text-warning font-weight-bold">{{ 'am-primary-awarding.head' | translate }}</p>
      <p class="text-12 text-warning">
        {{ 'am-primary-awarding.subhead' | translate }}
      </p>
    </div>
  </div>
  <!-- End -->

  <div class="vr-line"></div>

  <div class="d-flex justify-content-between w-75">
    <div class="d-flex flex-column justify-content-center" style="width: 450px">
      <div class="card-body">
        <div class="d-flex" style="align-items: center;">
          <span class="text-30 icon-alert-success font-weight-bold"></span>
          &nbsp;&nbsp;
          <h5 class="text-30 text-success font-weight-bold">{{prmyaward.bidValue | number}} {{ 'bidderFinalInvoice.SAR'
            | translate}}</h5>
          <!-- BidOfferValue -->
        </div>
        <p class="card-text" class=" text-16 text-dark mt-3">
          <!-- BidSupplierName -->
          {{prmyaward.bidderName}}
        </p>
        <p class="text-16 text-dark mb-2">{{ 'bidderSendInvoice.no' | translate }} {{prmyaward.bidderNo}} </p>
        <!-- BidCrNumber -->
        <a *ngIf="!showAttachLoader" (click)="openFile(ibgaDoc,'download')" class="text-primary tex-14"
          style="text-decoration: none;">
          <span class="text-16 icon-download"></span>
          &nbsp;
          <span style="text-decoration: underline;">{{ 'am-primary-awarding.primary_warranty' | translate }}</span>
        </a>
        <div *ngIf="showAttachLoader">
          <div class="spinner-border text-primary"
            style="font-size: 12px;width: 20px !important;height: 20px !important;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          &nbsp;
          <span style="text-decoration: underline;">{{ 'am-primary-awarding.primary_warranty' | translate }}</span>
        </div>
      </div>
    </div>

    <div class="top-card-right-right">
      <div>
        <a (click)="downloadPDF()" class="text-primary text-14 px-4"
          style="text-decoration: none; font-weight: bold; justify-content: end; display: flex;">
          <span style="text-decoration: underline;">{{ 'am-primary-awarding.report' | translate }}</span>
          <span class="text-16 icon-download mx-2"></span>
        </a>
      </div>
      <div class="mt-3 d-flex px-4">
        <button class="btn btn-danger btn-md mx-4" style="width: 166px;" (click)="this.showConfirmationReject = true">{{
          'am-primary-awarding.reject_btn2' | translate }}</button>
        <button class="btn btn-primary-light btn-md" style="width: 180px;"
          (click)="this.showConfirmationAccept = true">{{
          'am-primary-awarding.accept_btn2' | translate }}</button>
      </div>
    </div>
  </div>
</div>


<!-- Model to confirm Approval -->
<div class="modal show" *ngIf="showConfirmationAccept" [ngClass]="{ 'modal-show': showConfirmationAccept }">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">
          {{ 'am-primary-awarding.popup3.head' | translate }}
        </h4>
        <button type="button" class="modal-close btn-close btn-sm" (click)="this.showConfirmationAccept = false">
          <span class="icon-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <label for="confirmation" style="color: #414042; font-size: 16px">
          {{ 'am-primary-awarding.popup3.subhead' | translate }}
        </label>
      </div>
      <div class="modal-footer" style="justify-content: end">
        <button type="button" (click)="this.showConfirmationAccept = false" class="btn btn-outline-light btn-md">
          {{ 'am-primary-awarding.popup3.back_btn' | translate }}
        </button>
        <button type="button" class="btn btn-primary-light btn-md" (click)="approve()">
          {{ 'am-primary-awarding.popup3.accept_btn' | translate }}
          <div *ngIf="showLoader" class="spinner-border spinner-border-light text-light text-14"
            style="width: 20px;height: 20px;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Model to show confirmed (Successful)  Approval-->
<div class="modal show" *ngIf="showSuccessAccept" [ngClass]="{ 'modal-show': showSuccessAccept }">

  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content" style="align-items: center;">
      <button (click)="this.showSuccessAccept = false; reloadPage()" style="position: absolute;left: 90%;" type="button"
        class="modal-close btn-close btn-sm">
        <span class="icon-close"></span>
      </button>
      <span class="icon-check"></span>
      <div class="modal-header">
        <div class="status-success-icon">
          <div style="display: flex;">
            <div class="circle"></div>

          </div>
          <h4 class="modal-title" id="exampleModalLabel" style="text-align: center">
            {{'am-primary-awarding.popup4.head' | translate }}
          </h4>
        </div>
      </div>
      <div class="modal-body">
        <label for="confirmation" style="color: #414042; font-size: 16px; text-align: center;">
          {{'am-primary-awarding.popup4.subhead' | translate }}
        </label>
      </div>
      <div class="modal-footer" style="justify-content: end">
        <button type="button" [routerLink]="'/auctions'" class="btn btn-primary-light btn-md"
          (click)="this.showSuccessAccept = false">
          {{'am-primary-awarding.popup2.back_btn' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Model to confirm Rejection -->
<div class="modal show" *ngIf="showConfirmationReject" [ngClass]="{ 'modal-show': showConfirmationReject }">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-danger" id="exampleModalLabel">
          {{ 'am-primary-awarding.popup1.head' | translate }}
        </h4>
        <button type="button" class="modal-close btn-close btn-sm" (click)="this.showConfirmationReject = false">
          <span class="icon-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <label for="confirmation" class="text-body text-16">
          {{ 'am-primary-awarding.popup1.subhead' | translate }}
        </label>
      </div>
      <div class="modal-footer" style="justify-content: end ">
        <button type="button" class="btn btn-outline-light btn-md" (click)="this.showConfirmationReject = false">
          {{ 'am-primary-awarding.popup1.back_btn' | translate }}
        </button>
        <button type="button" class="btn btn-danger btn-md" data-dismiss="modal" (click)="reject()">
          {{ 'am-primary-awarding.popup1.reject_btn' | translate }}
          <div *ngIf="showLoader" class="spinner-border spinner-border-light text-light text-14"
            style="width: 20px;height: 20px;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Model to show confirmed (Successful)  Rejection-->
<div class="modal show" *ngIf="showSuccessReject" [ngClass]="{ 'modal-show': showSuccessReject }">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content" style="align-items: center;">
      <button style="position: absolute;left: 90%;" type="button" class="modal-close btn-close btn-sm"
        (click)="this.showSuccessReject = false; reloadPage()">
        <span class="icon-close"></span>
      </button>
      <span class="icon-check"></span>
      <div class="modal-header">
        <div class="status-success-icon">
          <div style="display: flex;">
            <div class="circle"></div>

          </div>
          <h4 class="modal-title" id="exampleModalLabel" style="text-align: center">
            {{ 'am-primary-awarding.popup2.head' | translate }}
          </h4>
        </div>
      </div>
      <div class="modal-body">
        <label for="confirmation" style="color: #414042; font-size: 16px; text-align: center;">
          {{ 'am-primary-awarding.popup2.subhead' | translate }}
        </label>
      </div>
      <div class="modal-footer" style="justify-content: end">
        <button type="button" [routerLink]="'/auctions'" class="btn btn-primary-light btn-md" data-dismiss="modal"
          aria-label="Close">
          {{ 'am-primary-awarding.popup2.back_btn' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>