<div class="col-12 mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb px-0">
            <li class="breadcrumb-item"><a href="#">{{'auctionCommittee.ac-detail.bcrumb1' |
                    translate}}</a></li>
            <li class="breadcrumb-item"><a href="#">{{'auctionCommittee.ac-detail.bcrumb2' |
                    translate}}</a></li>
            <li class="breadcrumb-item"><a href="#">{{'auctionCommittee.ac-detail.bcrumb3' |
                    translate}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                {{'bidderAuctions.payment_bill' | translate}}</li>
        </ol>
    </nav>
</div>


<div class="col-12 border-bottom pb-2 mt-4">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-20 text-primary font-weight-500">{{'bidderAuctions.payment_bill' | translate}}</h1>
        </div>
    </div>
</div>


<div class="mt-5 mb-4 pb-2" style=" width: 896px; padding-left: 10%; padding-right: 10%;">
    <p class="text-success text-24 font-weight-bold">{{'bidderFinalInvoice.InvoiceInformation' |
        translate}}</p>
</div>


<div class="" style="padding-left: 10%; padding-right: 10%;">

    <div class="border rounded" style="width: 896px; background-color: #FFFFFF;">

        <div style="margin: 6%;">
            <p class="text-primary text-18 font-weight-bold">{{'bidderFinalInvoice.AuctionData' | translate}}</p>
            <br>
            <div class="form-field">
                <form class="needs-validation" novalidate>
                    <div class="border-bottom">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label>{{'bidderFinalInvoice.AuctionReferenceNumber' | translate}}</label>
                                    <div class="text-primary">{{invoiceForSend.auctionReferenceNo}}</div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label>{{'bidderFinalInvoice.AuctionStartDateandTime' | translate}}</label>
                                    <div class="row text-primary">
                                        <span class="col-md-6">{{invoiceForSend.auctionDate}}</span>

                                        <ul class="col list list-primary-bullets d-inline-block"
                                            style="margin-right: -22px; margin-left: -22px;">
                                            <li class="text-muted">
                                                <span
                                                    style="margin-left: -10px; margin-right: -10px;">{{invoiceForSend.auctionTime}}</span>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label>{{'bidderFinalInvoice.ProductsType' | translate}}</label>
                                    <div class="text-primary">
                                        {{invoiceForSend.productsType}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label> {{'bidderFinalInvoice.OfferAwardDate' | translate}}</label>
                                    <div class="row text-primary">
                                        <span class="col-md-6">{{invoiceForSend.offerAwardDate}}</span>

                                        <ul class="col list list-primary-bullets d-inline-block"
                                            style="margin-right: -22px; margin-left: -22px;">
                                            <li class="text-muted">
                                                <span
                                                    style="margin-left: -10px; margin-right: -10px;">{{invoiceForSend.offerAwardTime}}</span>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="border-bottom d-flex mt-4">
                        <div class="w-50">
                            <p class="text-primary font-weight-bold text-18">
                                {{'bidderFinalInvoice.BillHolderInformation' | translate}}</p>
                            <div class="form-row mt-4">
                                <div class="col mb-3">
                                    <div class="form-group">
                                        <label>{{'bidderFinalInvoice.FacilityName' | translate}}</label>
                                        <div class="text-primary">{{invoiceForSend.facilityName}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col mb-3">
                                    <div class="form-group">
                                        <label>{{'bidderFinalInvoice.CommercialRegistrationNo' | translate}}</label>
                                        <div class="text-primary">{{invoiceForSend.commercialRegNo}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="w-50">
                            <p class="text-primary font-weight-bold text-18">
                                {{'bidderFinalInvoice.BillerData' | translate}}</p>
                            <div class="form-row mt-4">
                                <div class="col-md-4 mb-3">
                                    <div class="form-group">
                                        <label>{{'bidderFinalInvoice.EntityName' | translate}}</label>
                                        <div class="text-primary">{{invoiceForSend.entityName}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row mt-4">
                                <div class="col-md-4 mb-3">
                                    <div class="form-group">
                                        <label>{{'bidderFinalInvoice.EntityNo' | translate}}</label>
                                        <div class="text-primary">{{invoiceForSend.entityNo}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="border-bottom mt-4 mb-4">
                        <p class="text-primary font-weight-bold text-18 mb-4">
                            {{'bidderFinalInvoice.DeliveryData' | translate}}</p>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label>{{'bidderFinalInvoice.DeliveryDate' | translate}}</label>
                                    <div class="text-primary">{{invoiceForSend.deliveryDate}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label>{{'bidderFinalInvoice.Region' | translate}}</label>
                                    <div class="text-primary">{{invoiceForSend.region}}</div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label>{{'bidderFinalInvoice.City' | translate}}</label>
                                    <div class="text-primary">{{invoiceForSend.city}}</div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label>{{'bidderFinalInvoice.District' | translate}}</label>
                                    <div class="text-primary">{{invoiceForSend.district}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label>{{'bidderFinalInvoice.Street' | translate}}</label>
                                    <div class="text-primary">{{invoiceForSend.street}}</div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label>{{'bidderFinalInvoice.OtherNotes' | translate}}</label>
                                    <div class="text-primary">{{invoiceForSend.otherNotes}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>


            <p class="text-primary text-18 font-weight-bold">
                {{'bidderFinalInvoice.TableOfProductsAndPrices' | translate}}</p>

            <table id="inventoryAllocationTable" class="table table-bordered table-expanded">
                <thead class="thead-dark">
                    <tr>
                        <th class="btn-primary-light" scope="col">
                            <div class="table-header-cell">
                                <span>#</span>
                            </div>
                        </th>
                        <th class="btn-primary-light" scope="col">
                            <div class="table-header-cell">
                                <span>{{'bidderFinalInvoice.ProductName' | translate}}</span>
                            </div>
                        </th>
                        <th class="btn-primary-light" scope="col">
                            <div class="table-header-cell">
                                <span>{{'bidderFinalInvoice.SKU_Number' | translate}}</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="invoiceForSend.productDetails">
                        <ng-container *ngIf="invoiceForSend.productDetails.length > 0">
                            <tr *ngFor="let rowItem of invoiceForSend.productDetails;index as i">
                                <td>{{rowItem.referenceno}}</td>
                                <td>{{rowItem.productname}}</td>
                                <td>{{rowItem.SKUNumber}}</td>
                            </tr>

                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="invoiceForSend.productGrandTotal">
                        <tr>
                            <td colspan="3">
                                <span class="text-primary text-14 font-weight-bold">{{'bidderFinalInvoice.GearPrice' |
                                    translate}}</span>
                                <span [ngStyle]="{float: textFloat}"
                                    class="text-success">{{invoiceForSend.productGrandTotal.gearPrice}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <span class="text-primary text-14 font-weight-bold">{{'bidderFinalInvoice.QuestRate' |
                                    translate}}</span>
                                <span [ngStyle]="{float: textFloat}"
                                    class="text-success">{{invoiceForSend.productGrandTotal.questRate}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <span class="text-primary text-14 font-weight-bold">{{'bidderFinalInvoice.ValueAddedTax'
                                    | translate}}</span>
                                <span [ngStyle]="{float: textFloat}"
                                    class="text-success">{{invoiceForSend.productGrandTotal.valueAddTax}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <span
                                    class="text-primary text-14 font-weight-bold">{{'bidderFinalInvoice.TotalInvoicePrice'
                                    | translate}}</span>
                                <span [ngStyle]="{float: textFloat}"
                                    class="text-success">{{invoiceForSend.productGrandTotal.totalInvPrice}}</span>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <ng-container *ngIf="invoiceForSend.productDetails">
                <div class="mt-4 row margin-auto" *ngIf="invoiceForSend.productDetails.length > 0">
                    <div class="mb-5">
                        <nav aria-label="..." class="nav-pagination">

                            <ul *ngIf="PaginationServc.pages && PaginationServc.pages.length > 0" class="pagination">
                                <!-- <li class="page-item" [ngClass]="{ disabled: PaginationServc.currentPage === 1 }">
                                <a (click)="getServerData(1)" class="page-link" href="#">Last</a>
                            </li> -->
                                <li class="page-item" [ngClass]="{ disabled: PaginationServc.currentPage === 1 }">
                                    <a (click)="getServerData(PaginationServc.currentPage)" class="page-link"
                                        tabindex="-1" aria-disabled="true">{{ 'auctionlist.grid-previous' | translate
                                        }}</a>
                                </li>
                                <li *ngFor="let page of PaginationServc.pages" class="page-item"
                                    [ngClass]="{ active: PaginationServc.currentPage === page }">
                                    <a (click)="getServerData(page + 1)" class="page-link">
                                        {{ page }}
                                    </a>
                                </li>
                                <li class="page-item"
                                    [ngClass]="{ disabled: PaginationServc.currentPage === PaginationServc.totalPages }">
                                    <a (click)="getServerData(PaginationServc.currentPage + 2)" class="page-link">{{
                                        'auctionlist.grid-next' | translate }}</a>
                                </li>
                                <!-- <li class="page-item" [ngClass]="{ disabled: PaginationServc.currentPage === PaginationServc.totalPages }">
                                <a (click)="getServerData(PaginationServc.currentPage + 1)" class="page-link" href="#">Last</a>
                            </li> -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </ng-container>

        </div>

    </div>

    <!-- Added by Mohammed Salick -->
    <div *ngIf="userRole != 'EAuction_AuctionManager'" style="width: 896px;"
        class="d-flex align-items-md-center align-items-stretch flex-column flex-md-row justify-content-between my-5 mb-5">
        <div class="mb-2 mb-md-5 flex-grow-1 flex-md-grow-0">
            <button (click)="goToAuctionDetails()" type="submit"
                class="btn arrow-btn arrow-btn-reverse btn-outline-light btn-lg btn-block">
                <span class="btn-text">{{'bidderSendInvoice.reference' | translate}}</span> <span
                    class="v-divider"></span> <span class="icon icon-arrow-left"></span>
            </button>
        </div>
        <div class="d-flex flex-column flex-md-row mb-5">
            <button *ngIf="!invoiceSent" data-toggle="modal" data-target="#showSuccessfulModal" data-backdrop="static"
                class="btn arrow-btn btn-primary-light btn-lg mt-2 mt-md-0"> <span
                    class="btn-text">{{'bidderSendInvoice.send_invoice' | translate}}</span> </button>
        </div>
    </div>

</div>




<!-- Confirmation pop-up for approval of the final award and send the invoice -->

<div class="modal fade" id="showSuccessfulModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                    {{'bidderSendInvoice.approval_of_the_final_award_title' | translate}}
                </h4>
                <button type="button" class="modal-close btn-close btn-sm" data-dismiss="modal" aria-label="Close"><span
                        class="icon-close"></span></button>
            </div>
            <div class="modal-body"><label for="confirmation"
                    class="text-body text-16">{{'bidderSendInvoice.approval_of_the_final_award_desc' |
                    translate}}</label></div>
            <div class="modal-footer" style="justify-content: end;">
                <button type="button" class="btn btn-lg btn-outline-light rounded" data-dismiss="modal"
                    aria-label="Close">
                    {{"bidderSendInvoice.reference" | translate}} </button>
                <button type="button" class="btn btn-primary-light btn-lg" data-dismiss="modal" aria-label="Close"
                    (click)="sendInvoice()">
                    {{'bidderSendInvoice.send_invoice' | translate}} </button>

            </div>
        </div>
    </div>
</div>


<!-- Success pop-up for approval of the final award and send the invoice -->

<div class="modal show" *ngIf="showSuccessPopup" [ngClass]="{ 'modal-show': showSuccessPopup }">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content align-items-md-center">

            <button (click)="closeSuccess()" style="outline: none;" type="button" class="modal-close btn-close btn-sm"
                data-dismiss="modal" aria-label="Close">
                <span class="icon-close"></span>
            </button>

            <span class="icon-check"></span>
            <div class="modal-header">
                <div class="status-success-icon">
                    <div style="display: flex;">
                        <div class="circle">
                        </div>
                    </div>
                    <h4 class="modal-title text-align-center mt-4" id="exampleModalLabel">
                        {{'bidderSendInvoice.invoice_sent_successfully' | translate}}</h4>
                </div>
            </div>
            <div class="modal-body"><label for="confirmation"
                    class="text-body text-16 text-align-center">{{'bidderSendInvoice.you_will_receive_invoice'
                    | translate}}</label></div>
            <div class="modal-footer justify-content-end">
                <button type="button" (click)="goBack()" class="btn btn-primary-light btn-md" data-dismiss="modal"
                    aria-label="Close">{{'bidderSendOffer.BackToAuctions' | translate}}</button>
            </div>
        </div>
    </div>
</div>