<div style="display: flex; margin-left: -20px; margin-top: 25px; color: #08594D;">
    <div style="width: 50%;">
        <span class="icon-add-user1" style="margin-left: 50px; font-size: 35px;"></span><br>
        <p style="margin-left: 20px;">{{participants}} {{ 'bidderAuctionDetails.auction-settings.Participants' | translate }}</p>
    </div>
    <div>
        <span class="icon-playlist_add_check" style="margin-left: 40px; font-size: 35px;"></span><br>
        <p style="margin-left: 10px;">{{bids}} {{ 'bidderAuctionDetails.auction-settings.NumberOfBids' | translate }}</p>
    </div>
</div>