<div>
    <label for="end-through" style="color: #4F5457; font-size: 10px;">{{ 'EndsThrough' | translate }}:</label>
    <div style="display: flex;justify-content: space-evenly;">
        <div style="display: flex; flex-direction: column;align-items: center;">
            <label for="day" style="color: #32AD71;font-size: 16px;">{{days | number : '2.0'}}</label>
            <label for="day" style="color: #32AD71;font-size: 12px;">{{ 'Day' | translate }}</label>
        </div>
        <div style="display: flex; flex-direction: column;align-items: center;">
            <label for="hour" style="color: #32AD71;font-size: 16px;">{{hours | number : '2.0'}}</label>
            <label for="hour" style="color: #32AD71;font-size: 12px;">{{ 'Hour' | translate }}</label>
        </div>
        <div style="display: flex; flex-direction: column;align-items: center;">
            <label for="accurate" style="color: #32AD71;font-size: 16px;">{{minutes | number : '2.0'}}</label>
            <label for="accurate" style="color: #32AD71;font-size: 12px;">{{ 'Accurate' | translate }}</label>
        </div>
        <div style="display: flex; flex-direction: column;align-items: center;">
            <label for="second" style="color: #32AD71;font-size: 16px;">{{seconds | number : '2.0'}}</label>
            <label for="second" style="color: #32AD71;font-size: 12px;">{{ 'Second' | translate }}</label>
        </div>
    </div>
</div>