.mytabs {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.mytabs .inp0[type="radio"] {
    display: none;
}

.mytabs .lbl0 {
    padding: 15px;
    color: #08594d;
    font-weight: bold;
    font-size: 16px;
    // border-radius: 5px;
    width: 235px;
    text-align: center;
}

.mytabs .tab {
    width: 100%;
    border: #cac1c1 1px solid;
    padding: 35px;
    order: 1;
    display: none;
}

.mytabs .inp0[type="radio"]:checked+.lbl0+.tab {
    display: block;
}

.mytabs .inp0[type="radio"]:checked+.lbl0 {
    background-color: #32ad71;
    color: white;
    font-weight: bold;
}

.mytabs1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.mytabs1 .inp1 {
    margin-top: 5px;
}

.mytabs1 .lbl1 {
    // font-size: 16px;
    width: 450px;
}

.mytabs1 .tab1 {
    width: 100%;
    order: 1;
    display: none;
}

.mytabs1 .inp1[type="radio"]:checked+.lbl1+.tab1 {
    display: block;
}

.btn-submit-grp {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn-primary-light {
    margin-left: 10px;
}

.status-success-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle {
    width: 96px;
    height: 96px;
    background: #f9fcfa;
    border-radius: 50%;
}

.denial-model {
    color: #F66F5B;
}

.img-fluid {
    width: 100%;
    height: 450px;
    border-radius: 8px;
}

::ng-deep .owl-carousel .owl-item img,
::ng-deep .owl-carousel .owl-item video {
    min-height: 105px !important;
    max-height: 105px !important;
    margin: 10px !important;
    max-width: 110px !important;
    background-color: #414042;
    opacity: .5;
}

::ng-deep .owl-carousel.owl-drag .owl-item {
    // width: 120px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.icon-spinner {
    width: 18px;
    height: 18px;
    font-size: x-small;
}

.flex-view {
    display: flex;
}

.clickable:not(:disabled) {
    color: #32AD71;
}

video {
    width: -webkit-fill-available;
}

.thumbs-container {
    width: 100%;
    height: 85px;
    position: relative;
    left: 0;
    z-index: 11;
    opacity: 1 !important;
    background: transparent !important;
    display: flex;
    align-items: center;
}

ul.thumbs {
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    height: 85px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.prev,
.next {
    height: unset;
    padding: 0;
    z-index: 999;
    position: absolute;
    min-width: 0px !important;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.thumbs {
    display: flex;
    align-items: center;
    left: 0 !important;
    right: 0 !important;
    // background: gray !important;
}

.opacity-0-5 {
    opacity: 0.5;
    background: #414042;
}

.opacity-1 {
    opacity: 1;
    background: transparent;
}

::ng-deep .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0.3 !important;
    background-color: #005B4E !important;
}

::ng-deep .mat-dialog-container {
    /* box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%); */
    box-shadow: none !important;
    background: white;
    color: rgba(0, 0, 0, 0.87);
}

.thumbs {
    ::-webkit-scrollbar {
        display: none;
    }
}

.blank-image {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    .product-name {
        font-size: 22px;
        line-height: 24px;
        color: #005B4E;
    }

    .no-image {
        font-size: 14px;
        line-height: 16px;
        color: #A7A9AC;
    }
}

.gallery-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    border: 1px solid #b1b1b16b;
    border-radius: 5px;

    .image-box {
        border-right: 1px solid #b1b1b16b;
        height: 75px;
    }
}

.text-dark-green{
    color: #005B4E !important;
}
.text-light-green{
    color: #005B4E !important;
    opacity: 0.5;
}