<div class="card p-5 shadow-lg" *ngIf="showLoader">
    <div class="form-row">
        <div class="col-12">
            <table id="inventoryAllocationTable" class="table">
                <td colspan="10" class="p-3 bg-white">
                    <div class="alert-body text-center">
                        <i class="alert-icon">
              <svg class="et-spinner" width="64" height="64" xmlns="http://www.w3.org/2000/svg">
                <g fill-rule="nonzero" fill="#32AD71">
                  <path
                    d="M32 11.871c-1.755 0-3.097-1.342-3.097-3.097V3.097C28.903 1.342 30.245 0 32 0s3.097 1.342 3.097 3.097v5.677c0 1.652-1.342 3.097-3.097 3.097z" />
                  <path
                    d="M32 64c-1.755 0-3.097-1.342-3.097-3.097v-5.677c0-1.755 1.342-3.097 3.097-3.097s3.097 1.342 3.097 3.097v5.677C35.097 62.658 33.755 64 32 64z"
                    opacity=".4" />
                  <path
                    d="M46.452 60.077c-1.033 0-2.065-.516-2.684-1.548l-2.787-4.852c-.826-1.445-.31-3.406 1.135-4.232 1.445-.826 3.407-.31 4.232 1.136l2.787 4.851c.826 1.445.31 3.407-1.135 4.233a2.913 2.913 0 01-1.548.412z"
                    opacity=".5" />
                  <path
                    d="M11.871 23.432a2.913 2.913 0 01-1.548-.413L5.47 20.232C4.026 19.406 3.51 17.445 4.335 16c.826-1.445 2.788-1.961 4.233-1.135l4.851 2.787c1.446.825 1.962 2.787 1.136 4.232-.62 1.032-1.652 1.548-2.684 1.548z"
                    opacity=".05" />
                  <path
                    d="M57.084 49.548a2.913 2.913 0 01-1.549-.413l-4.954-2.787c-1.446-.825-1.962-2.787-1.136-4.232.826-1.445 2.787-1.961 4.232-1.135l4.852 2.787c1.445.826 1.961 2.787 1.136 4.232-.517 1.032-1.549 1.548-2.581 1.548z"
                    opacity=".6" />
                  <path
                    d="M8.774 35.097H3.097C1.342 35.097 0 33.755 0 32s1.342-3.097 3.097-3.097h5.677c1.755 0 3.097 1.342 3.097 3.097s-1.445 3.097-3.097 3.097z"
                    opacity=".1" />
                  <path
                    d="M60.903 35.097h-5.677c-1.755 0-3.097-1.342-3.097-3.097s1.342-3.097 3.097-3.097h5.677C62.658 28.903 64 30.245 64 32s-1.342 3.097-3.097 3.097z"
                    opacity=".7" />
                  <path
                    d="M6.916 49.548c-1.032 0-2.064-.516-2.684-1.548-.826-1.445-.31-3.406 1.136-4.232l4.851-2.787c1.446-.826 3.407-.31 4.233 1.135.825 1.445.31 3.407-1.136 4.232l-4.851 2.787c-.413.31-.93.413-1.549.413z"
                    opacity=".2" />
                  <path
                    d="M52.129 23.432c-1.032 0-2.064-.516-2.684-1.548-.826-1.445-.31-3.407 1.136-4.232l4.851-2.787c1.445-.826 3.407-.31 4.233 1.135.825 1.445.31 3.406-1.136 4.232l-4.852 2.787a2.913 2.913 0 01-1.548.413z"
                    opacity=".8" />
                  <path
                    d="M17.548 60.077A2.913 2.913 0 0116 59.665c-1.445-.826-1.961-2.788-1.135-4.233l2.787-4.851c.825-1.446 2.787-1.962 4.232-1.136 1.445.826 1.961 2.787 1.135 4.232l-2.787 4.852c-.62 1.032-1.651 1.548-2.684 1.548z"
                    opacity=".3" />
                  <path
                    d="M43.665 14.968a2.913 2.913 0 01-1.549-.413c-1.445-.826-1.961-2.787-1.135-4.232l2.787-4.852C44.594 4.026 46.555 3.51 48 4.335c1.445.826 1.961 2.788 1.135 4.233l-2.787 4.851c-.619.93-1.651 1.549-2.683 1.549z"
                    opacity=".9" />
                </g>
              </svg>
            </i>
                        <div class="alert-content">
                            <h5 class="text-black-50">Loading</h5>
                        </div>
                    </div>
                </td>
            </table>
        </div>
    </div>
</div>
<div *ngIf="!showLoader" class="auction-summary-form">
    <div class="form-field">
        <form class="needs-validation" novalidate>
            <div class="card p-5 shadow-lg">
                <div class="border-bottom">
                    <div class="py-3 mb-3">
                        <h4> {{ "auctioncreate.auctiondetails.section2_orderSum-subHead" | translate }} </h4>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">{{ "auctioncreate.auctiondetails.section2_orderSum-col1" |
      translate }}</label>
                            <div class="text-success"> {{ auctionItem.auctionId }} </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">{{ "auctioncreate.auctiondetails.section1_formGrp1" | translate
      }}</label>
                            <div class="text-success"> {{ auctionItem.auctionType | translate }} </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">{{ "auctioncreate.auctiondetails.section2_orderSum-col2" |
      translate }}</label>
                            <div class="text-success"> {{ auctionItem.auctionSubType | translate }} </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">{{ "auctioncreate.auctiondetails.section1_formGrp3" | translate
      }}</label>
                            <div class="text-success"> {{ auctionItem.auctionName }} </div>
                        </div>
                        <!-- <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Auction Title</label>
                            <div class="text-success">{{ auctionItem.auctionName }}</div>
                        </div> -->
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">{{ "auctioncreate.auctiondetails.section1_formGrp4" | translate
      }}</label>
                            <div class="text-success"> {{ auctionItem.auctionProduct }} </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">{{ "auctioncreate.auctiondetails.section2_orderSum-col3" |
      translate }}</label>
                            <div class="text-success"> {{ auctionItem.entityNo }} </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">{{ "auctioncreate.auctiondetails.section2_orderSum-col4" |
      translate }}</label>
                            <div class="text-success"> {{ auctionItem.entityName }} </div>
                        </div>
                        <!-- <div class="col-md-4 mb-3">
                            <label for="validationCustom01">The period of presentation of products in the market</label>
                            <div class="text-success">3 months</div>
                        </div> -->
                    </div>
                    <div class="form-row">
                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <label for="goverusermessage">{{ "auctioncreate.auctiondetails.section1_formGrp5" | translate
        }} </label>
                                <div class="text-success"> {{ auctionItem.auctionDesc }} </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-bottom">
                    <div class="pt-5 pb-3">
                        <h4> {{ "auctioncreate.auctiondetails.section1_formGrp6" | translate }} </h4>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label>{{ "auctioncreate.auctiondetails.section1_formGrp7" | translate }}</label>
                                <div class="text-success">
                                    <span>{{ auctionItem.auctionStartDate }}</span>
                                    <ul *ngIf="auctionItem.auctionStartTime" class="list list-primary-bullets d-inline-block">
                                        <li class="text-muted"> {{ auctionItem.auctionStartTime }} {{ auctionItem.auctionStartTimeSufix | translate }} </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label>{{ "auctioncreate.auctiondetails.section1_formGrp8" | translate }}</label>
                                <div class="text-success">
                                    <span>{{ auctionItem.auctionEndDate }}</span>
                                    <ul *ngIf="auctionItem.auctionEndTime" class="list list-primary-bullets d-inline-block">
                                        <li class="text-muted"> {{ auctionItem.auctionEndTime }} {{ auctionItem.auctionStartTimeSufix | translate }} </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label>{{ "auctioncreate.auctiondetails.section1_formGrp11" | translate }}</label>
                                <div class="text-success"> {{ auctionItem.startAuction | translate }} </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label>{{ "auctioncreate.auctiondetails.section1_formGrp12" | translate }}</label>
                                <div class="text-success">
                                    <span>{{ auctionItem.auctionAnncStartDate }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label>{{ "auctioncreate.auctiondetails.section1_formGrp13" | translate }}</label>
                                <div class="text-success">
                                    <span>{{ auctionItem.auctionAnncEndDate }}</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label>Final guarantee percentage</label>
                                <div class="text-success"> not avail</div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="border-bottom">
                    <div class="pt-5 pb-3">
                        <h4> {{ "auctioncreate.auctiondetails.section1_formGrp14" | translate }} </h4>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label>{{ "auctioncreate.auctiondetails.section1_formGrp15" | translate }}</label>
                                <div class="text-success"> {{ auctionItem.startPrice }} </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3" *ngIf=" !( auctionItem.auctionType === 'Public' &&auctionItem.auctionSubType === 'Closed' ) ">
                            <div class="form-group">
                                <label>{{ "auctioncreate.auctiondetails.section1_formGrp16" | translate }}</label>
                                <div class="text-success"> {{ auctionItem.lowBidValue }} </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label>{{ "auctioncreate.auctiondetails.section1_formGrp17" | translate }}</label>
                                <div class="text-success"> {{ auctionItem.gnteePercentage | number : '1.0-0'}} %</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label>{{ "auctioncreate.auctiondetails.section1_formGrp19" | translate }}</label>
                                <div class="text-success"> {{ auctionItem.commissionType | translate }} </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label>{{ "auctioncreate.auctiondetails.section2_orderSum-col7" | translate }}</label>
                                <div class="text-success"> {{ auctionItem.pursuitPerCommission | number : '1.0-0'}} %</div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label>{{ "auctioncreate.auctiondetails.section1_formGrp18" | translate }}</label>
                                <div class="text-success"> {{ auctionItem.finalGntee }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="pt-5 pb-3">
                        <h4> {{ "auctioncreate.auctiondetails.section2_orderSum-col8" | translate }} </h4>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3" *ngIf="auctionItem.auctionAttachement?.length">
                            <table class="table table-bordered table-striped table-expanded table-hover">
                                <thead>
                                    <tr class="btn-primary-light">
                                        <th class="th-serials" scope="col">{{ 'auctioncreate.auctionproduct.auctionpopup.popup_formGrp8-taleth1' | translate }}
                                        </th>
                                        <th class="" scope="col">{{ 'auctioncreate.auctionproduct.auctionpopup.popup_formGrp8-taleth2' | translate }}
                                        </th>
                                        <th class="th-action" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="auctionItem.auctionAttachement.length > 0">
                                        <tr *ngFor="let file of auctionItem.auctionAttachement;let index=index">
                                            <ng-container *ngIf="index >= pageRangeForAttach.rangeStart && index <= pageRangeForAttach.rangeEnd">
                                                <td>{{index+1}}</td>
                                                <td>
                                                    <div class="text-capitalize text-success"><span class="attach-icon icon-attachment mx-2"></span><span>{{file.name}}</span>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <!-- <div class="qq-btn-group text-right">
                                                        <button type="button" class="qq-upload-retry-selector btn btn-ghost fill-primary-light-green" (click)="viewAttachment(file)" data-toggle="modal" data-target="#viewAttachmentModal">
                                                            <img src="assets/icons/eye_open.svg" alt="" srcset="">
                                                        </button>
                                                    </div> -->
                                                    <div *ngIf="activeIndex != index" class="qq-btn-group d-flex">
                                                        <a (click)="viewAttachment(file,index)" class="btn btn-ghost btn-sm fill-primary-light-green">
                                                            <span class="icon-eye-open"></span>
                                                        </a>
                                                        <a (click)="viewAttachment(file,index)" class="btn btn-ghost btn-sm fill-primary-light-green mx-3">
                                                            <span class="icon-download"></span>
                                                        </a>
                                                    </div>
                                                    <button *ngIf="activeIndex == index" type="button" class=" qq-upload-retry-selector btn btn-ghost btn-primary-light-green fill btn-lg mx-0 mx-md-2 mt-2 mt-md-0" style="height: 30px;">
                                                      <span class="btn-text pr-0">
                                                          <div class="spinner-border spinner-border-light-green icon-spinner text-light" role="status">
                                                              <span class="sr-only">Loading...</span>
                                                          </div>
                                                      </span>
                                                  </button>
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                            <div *ngIf="auctionItem.auctionAttachement.length > 10" class="mt-4 row justify-content-end">
                                <div class="mb-5">
                                    <nav aria-label="..." class="nav-pagination">
                                        <ul class="pagination">
                                            <li class="page-item" [ngClass]="{ disabled: pageRangeForAttach.currentPage === 1 }">
                                                <a (click)="navigateToPage(pageRangeForAttach.currentPage -1, 'auctionAttach')" class="page-link" tabindex="-1" aria-disabled="true">{{
                                                    'auctionlist.grid-previous' | translate }}</a>
                                            </li>
                                            <li *ngFor="let page of pageRangeForAttach.pages" class="page-item" [ngClass]="{ active: pageRangeForAttach.currentPage === page }">
                                                <a (click)="navigateToPage(page, 'auctionAttach')" class="page-link"> {{
                                                    page }} </a>
                                            </li>
                                            <li class="page-item" [ngClass]="{ disabled: pageRangeForAttach.currentPage === pageRangeForAttach.totalPages }">
                                                <a (click)="navigateToPage(pageRangeForAttach.currentPage + 1, 'auctionAttach')" class="page-link">{{ 'auctionlist.grid-next' | translate }}</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- <div class="card p-5 shadow-lg">
    <div class="border-bottom">
        <div class="py-3 mb-3">
            <h4>{{ "auctionModerator.am-detail.auction-details.title1" | translate }}</h4>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">{{ "auctionModerator.am-detail.auction-details.sec1-head1" | translate }}</label>
                <div class="text-success">{{ preAuctionData?.ObjectId || "-" }}</div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">{{ "auctionModerator.am-detail.auction-details.sec1-head2" | translate }}</label>
                <div class="text-success" *ngIf="preAuctionData?.BidType == 'O'">{{ "auctionModerator.am-detail.auction-details.sec1-opt1" | translate }}</div>
                <div class="text-success" *ngIf="preAuctionData?.BidType != 'O'">{{ "auctionModerator.am-detail.auction-details.sec1-opt2" | translate }}</div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">{{ "auctionModerator.am-detail.auction-details.sec1-head3" | translate }}</label>
                <div class="text-success" *ngIf="preAuctionData?.ZzStartMethod == 'T'">{{ "auctionModerator.am-detail.auction-details.sec1-opt3" | translate }}</div>
                <div class="text-success" *ngIf="preAuctionData?.ZzStartMethod != 'T'">{{ "auctionModerator.am-detail.auction-details.sec1-opt4" | translate }}</div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">{{ "auctionModerator.am-detail.auction-details.sec2-head1" | translate }}</label>
                <div class="text-success">{{ preAuctionData?.Description || "-" }}</div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">{{ "auctionModerator.am-detail.auction-details.sec2-head2" | translate }}</label>
                <div class="text-success">{{ preAuctionData?.ZzAucProduct || "-" }}</div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">{{ "auctionModerator.am-detail.auction-details.sec3-head1" | translate }}</label>
                <div class="text-success">{{ preAuctionData?.ZzAgencyId || "-" }}</div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">{{ "auctionModerator.am-detail.auction-details.sec3-head2" | translate }}</label>
                <div class="text-success">{{ preAuctionData?.ZzAgencyName || "-" }}</div>
            </div>

        </div>
        <div class="form-row">
            <div class="col-12 col-md-12">
                <div class="form-group">
                    <label for="goverusermessage">{{ "auctionModerator.am-detail.auction-details.sec4-head1" | translate }}</label>
                    <div class="text-success">{{ preAuctionData?.ZzAucDesc || "-" }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="border-bottom">
        <div class="pt-5 pb-3">
            <h4>{{ "auctionModerator.am-detail.auction-details.title2" | translate }}</h4>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    <label>{{ "auctionModerator.am-detail.auction-details.sec5-head1" | translate }}</label>
                    <div class="text-success">
                        <span>{{ preAuctionData.auctionStartDate }}</span>
                        <ul *ngIf="preAuctionData.auctionStartTime" class="list list-primary-bullets d-inline-block">
                            <li class="text-muted">
                                {{ preAuctionData.auctionStartTime }} {{ preAuctionData.auctionStartTimeSufix | translate }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    <label>{{ "auctionModerator.am-detail.auction-details.sec5-head2" | translate }}</label>
                    <div class="text-success">
                        <span>{{ preAuctionData.ZzAucEndDt || "-" }}</span>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    <label>{{ "auctionModerator.am-detail.auction-details.sec5-head3" | translate }}</label>
                    <div class="text-success" *ngIf="preAuctionData?.ZzStartMethod == 'T'">{{ "auctionModerator.am-detail.auction-details.sec5-opt2" | translate }}</div>
                    <div class="text-success" **ngIf="preAuctionData?.ZzStartMethod != 'T'">{{ "auctionModerator.am-detail.auction-details-sec5.opt1" | translate }}</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    <label>{{ "auctionModerator.am-detail.auction-details.sec6-head1" | translate }}</label>
                    <div class="text-success">
                        <span>{{ preAuctionData.ZzAnncSrtD || "-" }}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    <label>{{ "auctionModerator.am-detail.auction-details.sec6-head2" | translate }}</label>
                    <div class="text-success">
                        <span>{{ preAuctionData.ZzAnncEndD || "-" }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="border-bottom">
        <div class="pt-5 pb-3">
            <h4>{{ "auctionModerator.am-detail.auction-details.title3" | translate }}</h4>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    <label>{{ "auctionModerator.am-detail.auction-details.sec7-head1" | translate }}</label>
                    <div class="text-success">{{ preAuctionData?.ZzBidSrtPrice || "-" }}</div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    <label>{{ "auctionModerator.am-detail.auction-details.sec7-head2" | translate }}</label>
                    <div class="text-success">{{ preAuctionData?.ZzLowBidVl || "-" }}</div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    <label>{{ "auctionModerator.am-detail.auction-details.sec7-head3" | translate }}</label>
                    <div class="text-success">{{ preAuctionData?.ZzIbgaPercent || "-" }}</div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    <label>{{ "auctionModerator.am-detail.auction-details.sec8-head1" | translate }}</label>
                    <div class="text-success">{{ preAuctionData?.ZzCommisionTyp || "-" }}</div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    <label>{{ "auctionModerator.am-detail.auction-details.sec8-head2" | translate }}</label>
                    <div class="text-success">{{ preAuctionData?.ZzCommPercent || "-" }}</div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="form-group">
                    <label>{{ "auctionModerator.am-detail.auction-details.sec8-head3" | translate }}</label>
                    <div class="text-success">{{ preAuctionData?.ZzFbgaDeadline || "-" }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class=" pt-5 pb-3">
            <h4>{{ "auctionModerator.am-detail.auction-details.title4" | translate }}</h4>
        </div>

        <div class="row">
            <table id="inventoryAllocationTable" class="table table-bordered table-expanded">
                <thead class="thead-dark">
                    <tr class="">
                        <th style="width: 12%" class="btn-primary-light" scope="col" (click)="sortByTableHeaderId(1, 'string')">
                            <div class="table-header-cell">
                                <span>{{ "auctionModerator.am-detail.auction-details.th1" | translate }}</span>
                                <span class="arrow asc"><span class="icon-unfold_more"></span
                              ></span>
                            </div>
                        </th>
                        <th class="btn-primary-light" scope="col" (click)="sortByTableHeaderId(2, 'string')">
                            <div class="table-header-cell">
                                <span>{{ "auctionModerator.am-detail.auction-details.th2" | translate }}</span>
                                <span class="arrow asc"><span class="icon-unfold_more"></span
                              ></span>
                            </div>
                        </th>
                        <th style="width: 12%" class="btn-primary-light" scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngFor="
                          let attachment of preAuctionData?.listtoattachnav?.results;
                          let i = index
                        ">
                    <tr>
                        <td scope="row">{{ i + 1 }}</td>
                        <td>
                            <a class="btn btn-ghost btn-sm fill-primary-light-green">
                                <span class="icon-Group-3319"></span>
                            </a>
                            {{ attachment.PhioFname }}
                        </td>
                        <td>
                            <a (click)="attachmentDownload(attachment)" class="btn btn-ghost btn-sm fill-primary-light-green mx-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="icon-download"></span>
                            </a>

                            <a (click)="attachmentDownload(attachment)" class="btn btn-ghost btn-sm fill-primary-light-green">
                                <span class="icon-eye-open"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="preAuctionData?.listtoattachnav?.results.length < 1">
                {{ "auctionModerator.am-detail.auction-details.table-result" | translate }}
            </p>
        </div>




    </div>
</div> -->






<!-- <div class="mt-4 row margin-auto">
    <div class="mb-5">
      <nav aria-label="..." class="nav-pagination">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item active">
            <a class="page-link">1</a>
          </li>
          <li class="page-item" aria-current="page">
            <a class="page-link">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link">3</a></li>
          <li class="page-item"><a class="page-link dot-link">...</a></li>
          <li class="page-item"><a class="page-link">15</a></li>
          <li class="page-item">
            <a class="page-link">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div> -->
