.collapse-card-inside {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    outline: none;
    border: none;
    border-bottom: 1px solid #cccccc;
    padding-left: 0px;
    height: 30px;
}

// primaryawardingbidder css
.card-grp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.top-card {
    display: flex;
    width: 100%;
    padding-bottom: 30px;
}

.top-card-left {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid #f9b122;
    width: 30%;
    border-radius: 6px 0 0 6px;
    background-color: #fef7e8;
}

.top-card-right {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 0;
    border-radius: 0 6px 6px 0;
    width: 70%;
}

.top-card-right-left {
    max-width: 65%;
}

.file-uploader-zone {
    max-width: 70%;
    text-align: center;
    color: #117abe;
    position: relative;
    border: 1px dashed #a4d6f7;
    border-radius: 5px;
    padding: 0.7em;
    overflow: hidden;
    margin-bottom: 15px;
}

.top-card-right-right {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.left-card {
    width: 68%;
}

.right-card {
    width: 28%;
}

.card-body {
    padding: 20px;
}

.collapse-card {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.collapse-card:focus {
    border: 1px solid #cccccc;
    outline: none;
}

.left-right-card {
    width: 50%;
    border-radius: 5px 0 0 5px;
    background-color: #f5f5f5;
}

.collapse-card-inside {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    outline: none;
    border: none;
    border-bottom: 1px solid #cccccc;
}


.status-code-un-detail {
    border-radius: 1px;
    font-size: 16px;
    background-color: #fef7e8;
    color: #f9b122;
    text-align: center;
    width: 120px;
    margin: 25px;
    padding: 5px 10px 5px 10px;
    align-self: flex-end;
}

.card-img-top {
    margin-left: 20px;
}

.img-btn {
    margin-top: 20px;
    margin-left: 30px;
    position: absolute;
}

.left-left-card {
    width: 60%;
}

.card-titel {
    color: #005b4e;
    font-size: 22px;
}

.left-right-card-ar {
    width: 50%;
    border-top: 2px solid #32ad71;
    border-bottom: 2px solid #32ad71;
    border-left: 2px solid #32ad71;
    border-radius: 5px 0 0 5px;
    background-color: #F9FCFA;
}

.left-right-card-en {
    width: 50%;
    border-top: 2px solid #32ad71;
    border-bottom: 2px solid #32ad71;
    border-right: 2px solid #32ad71;
    border-radius: 0 5px 5px 0;
    background-color: #F9FCFA;
}

.left-right-card-ar-disable {
    width: 50%;
    border-top: 2px solid #b1b1b1;
    border-bottom: 2px solid #b1b1b1;
    border-left: 2px solid #b1b1b1;
    border-radius: 5px 0 0 5px;
    background-color: #F6F6F6;
}

.left-right-card-en-disable {
    width: 50%;
    border-top: 2px solid #b1b1b1;
    border-bottom: 2px solid #b1b1b1;
    border-right: 2px solid #b1b1b1;
    border-radius: 0 5px 5px 0;
    background-color: #F6F6F6;
}

.list-card {
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px;
    background-color: #ffff;
}



.point-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border: 1px solid #000000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.left-right-card-title {
    display: flex;
    align-items: center;
}

.download-btn {
    padding: 5px;
}

.file-uploader-zone {
    margin-top: 10px;
}

.amount {
    margin-top: 20px;
}

.adder {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}

.adder input {
    text-align: center;
    font-weight: bold;
    color: #646464;
}

.amt-input {
    height: 34px;
    border: none;
    color: #646464;
    background-color: #e2e2e2;
    border-bottom: 2px solid #a3a3a3;
    border-top: 2px solid #a3a3a3;
}

.amt-input:focus-visible {
    border: none;
    border-bottom: 2px solid #32ad71;
    border-top: 2px solid #32ad71;
    outline: none;
}

.status-success-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle {
    width: 96px;
    height: 96px;
    background: #f9fcfa;
    border-radius: 50%;
}

.button:disabled {
    cursor: not-allowed;
    background-color: #777777 !important;
    color: #ffff !important;
}

.card-btn {
    margin-top: 15px;
    margin-bottom: 25px;
    border: 1px solid;
    border-color: #32ad71;
    border-radius: 5px;
    background-color: #ffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.grayscale {
    filter: grayscale(1);
}

.steps-group {
    flex-wrap: unset;
    align-items: unset;
    justify-content: unset;
}

.steps-group.steps-two li.step-item:after {
    height: 2px;
    position: absolute;
    content: "";
    width: 80px;
    background: #dfebe8;
    top: 23px;
    right: 78px;
    left: 78px;
}

.steps-group.steps-two li.step-item {
    text-align: center;
    border: 0;
    position: relative;
    max-width: auto;
    min-width: auto;
    padding: 0 5px;
}

.steps-group .step-item {
    border-bottom: 2px solid transparent;
    flex: 1;
    /* padding: 1em 2em; */
    text-align: center;
}


::ng-deep .etimad-option {
    margin-left: 0 !important;
    margin-right: 0 !important;
    background-color: #f9fcfa !important;
    // padding: 0 !important;
}

::ng-deep .etimad-option.etimad-option-xs .input-target {
    padding: 0 !important;
}

::ng-deep .etimad-option .input-target {
    border: none !important;
    border-radius: 5px !important;
    color: #414042 !important;
}

::ng-deep .etimad-option input:checked~.input-target {
    border: #32AD71 2px solid !important;
    border-radius: 5px !important;
}

::ng-deep .etimad-option .input-target span {
    color: #414042 !important;
}

::ng-deep .etimad-option input:checked~.input-target span {
    color: #32AD71 !important;
}

.carousel-wrapper {
    width: 1000px;
    margin: auto;
    position: relative;
    text-align: center;
    font-family: sans-serif;
}

// .full-video {
video {
    width: -webkit-fill-available;
}

.thumbs-container {
    width: 100%;
    height: 85px;
    position: relative;
    left: 0;
    z-index: 11;
    opacity: 1 !important;
    background: transparent !important;
    display: flex;
    align-items: center;
}

ul.thumbs {
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    height: 85px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.prev,
.next {
    height: unset;
    padding: 0;
    min-width: 0px !important;
}

.prev {
    left: 10px;
    position: absolute;
    z-index: 999;
}

.next {
    right: 10px;
    position: absolute;
    z-index: 999;
}

.thumbs {
    display: flex;
    align-items: center;
    left: 0 !important;
    right: 0 !important;
    // background: gray !important;
}

.opacity-0-5 {
    opacity: 0.5;
    background: #414042;
}

.opacity-1 {
    opacity: 1;
    background: transparent;
}

::ng-deep .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0.3 !important;
    background-color: #005B4E !important;
}

::ng-deep .mat-dialog-container {
    /* box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%); */
    box-shadow: none !important;
    background: white;
    color: rgba(0, 0, 0, 0.87);
}

.thumbs {
    ::-webkit-scrollbar {
        display: none;
    }
}

.clickable:not(:disabled) {
    color: #32AD71;
}

.blank-image {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    .product-name {
        font-size: 22px;
        line-height: 24px;
        color: #005B4E;
    }

    .no-image {
        font-size: 14px;
        line-height: 16px;
        color: #A7A9AC;
    }
}



.gallery-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    min-height: 45px;

    .image-box {
        border-right: 0.5px solid #b1b1b1;
        border-left: 0.5px solid #b1b1b1;
        padding: 1px;
        height: 45px;
    }
}

.blankImage-border {
    border: 1px solid #b1b1b1;
}

.fullImage-border {
    border: none;
}