<footer class="container">
    <div class="footer-wrapper">
        <div class="footer-copyright">
            <p class="font-medium">{{ 'common.ftrtext-copyright' | translate }} - {{ 'common.ftrtext-appname' |
                translate }} © 2021</p>
            <ul>
                <li><span> {{ 'common.ftrlink-needhelp' | translate }} <u>19990</u></span></li>
                <li><span><a href=""> {{ 'common.ftrlink-guidance' | translate }} </a></span></li>
                <li><span><a href="https://etimad.sa/ContactUs/Create">{{ 'common.ftrlink-callus' | translate }}
                        </a></span></li>
                <li>
                    <a href="#" target="_blank" id="linkedin">
                        <span class="icon-Group-3288 mx-1"></span>
                    </a>
                    <a href="https://www.youtube.com/channel/UCqAJMQdHhwE7CBSc8MA1wzg" target="_blank" id="youtube">
                        <span class="icon-Group-3289 mx-1"></span>
                    </a>
                    <a href="https://twitter.com/etimadsa" target="_blank" id="twitter">
                        <span class="icon-Group-3290 mx-1"></span>
                    </a>
                </li>
            </ul>
            <p class="browsers-support mt-2">{{ 'common.ftrtext-certi' | translate }} <img
                    alt="{{ 'common.ftrtext-certi' | translate }}" class="mr-2 social-icon"
                    src="../../../assets/icons/browser-chrome.png" />
                <img alt="{{ 'common.ftrtext-certi' | translate }}" class="mr-2 social-icon"
                    src="../../../assets/icons/borwser-firefox.png" />
                <img alt="{{ 'common.ftrtext-certi' | translate }}" class="mr-2 social-icon"
                    src="../../../assets/icons/browser-microsoft-edge.png" />
                <img alt="{{ 'common.ftrtext-certi' | translate }}" class="mr-2 social-icon"
                    src="../../../assets/icons/browser-safari.png" />
            </p>
        </div>
        <div class="footer-logo mt-2">

            <span class="ncgr-logo">
                <img src="assets/icons/footer-ncgr.svg" style="width: 103px;">
            </span>
            <span class="ncgr-text">
                {{ 'common.supervision' | translate }}
            </span>
            <span class="ministery-logo">
                <img src="assets/icons/footer-ministery.svg" style="width: 154px;">
            </span>
            <span class="vision-2030 pl-5">
                <img src="assets/icons/footer-vision.svg" style="width: 82px;">
            </span>
        </div>
    </div>
</footer>