.ncgr-text {
    height: 12px;
    width: 36px;
    opacity: 0.7;
    color: #005B4E;
    font-family: "DIN Next LT Arabic";
    font-size: 8px;
    letter-spacing: 0;
    line-height: 9px;
    vertical-align: top;
}

.ncgr-main {
    position: relative;
}

.vertical-line {
    border-left: 1px solid #CCCCCC;
    height: 30px;
    position: absolute;
    left: 14px;
    top: 4px;
}