.collapse-card-inside {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    outline: none;
    border: none;
    border-bottom: 1px solid #cccccc;
    padding-left: 0px;
    height: 30px;
}