<div class="auction-form">
    <div class="py-3 mb-3">
        <h4>{{title}}</h4>
    </div>
    <div class="form-field">
        <form [formGroup]="basicFormGroup" class="needs-validation" [ngClass]="{'was-validated': submitted}" novalidate>
            <div class="card p-5 shadow-lg">
                <div class="form-row">
                    <div class="col-12">
                        <div class="row no-gutters">
                            <label for="validationCustom01">Auction Type</label>
                            <div class="col-12">
                                <div class="d-flex flex-wrap flex-md-nowrap mb-5">
                                    <div class="etimad-option ml-0">
                                        <input type="radio" id="checkbox07" formControlName="auctionType" name="auctionType" value="public" [required]="true" (change)="setValidation($event)" />
                                        <label class="input-target" for="checkbox07"> <span>Public Auction</span>
                                        </label>
                                    </div>
                                    <div class="etimad-option mr-0">
                                        <input type="radio" id="checkbox08" formControlName="auctionType" name="auctionType" value="private" [required]="true" (change)="setValidation($event)" />
                                        <label class="input-target" for="checkbox08"> <span>Private Auction</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="submitted && form['auctionType'].errors" class="invalid-feedback">
                            <div *ngIf="form['auctionType'].errors['required']">AuctionType is required</div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01"> <span>Bidding method </span>
                            <!-- <span class="icon-filled-information mx-2 text-secondary-aqua" data-toggle="tooltip" data-placement="right" title="" data-original-title="Open Auction: Bidding is public and visible to all Closed Auction: Bids submitted in closed envelopes"></span>  -->
                        </label>
                        <div class="py-2">
                            <div class="custom-control custom-radio custom-control-inline"> <input type="radio" id="customRadioInline1" formControlName="auctionSubType" name="auctionSubType" value="open" class="custom-control-input" [required]="true" /> <label class="custom-control-label" for="customRadioInline1">Open</label>                                </div>
                            <div class="custom-control custom-radio custom-control-inline"> <input type="radio" id="customRadioInline2" formControlName="auctionSubType" name="auctionSubType" value="close" class="custom-control-input" [required]="true" /> <label class="custom-control-label" for="customRadioInline2">Closed</label>                                </div>
                        </div>
                        <div *ngIf="submitted && form['auctionSubType'].errors">
                            <div *ngIf="form['auctionSubType'].errors['required']" class="invalid-feedback">Bidding method is required</div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="d-flex" for="validationCustom02">Previous reference number</label>
                        <div class="search-group search-custom">
                            <input type="text" formControlName="prevRefNo" class="search-input px-2" id="validationCustom02" placeholder="Find the previous reference number" [required]="true" />
                            <div class="text-light d-flex align-items-center mr-3"> <span class="icon-filled-search"></span> </div>
                        </div>
                        <div *ngIf="submitted && form['prevRefNo'].errors" class="invalid-feedback">
                            <div *ngIf="form['prevRefNo'].errors['required']">Previous Reference number is required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Auction Name</label>
                        <input type="text" formControlName="auctionName" class="form-control" placeholder="Create a name for the auction from 4 words" id="validationCustom01" [required]="true" />
                        <div *ngIf="submitted && form['auctionName'].errors" class="invalid-feedback">
                            <div *ngIf="form['auctionName'].errors['required']">Auction Name is required</div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom04">Auction Products</label>
                        <select class="form-control" id="validationCustom04" formControlName="auctionProduct" (change)="changeSelect($event, 'auctionProduct')" [required]="true">
                            <option value="">Select</option>
                            <option *ngFor="let product of dropValProducts" [ngValue]="product">{{product}}</option>
                        </select>
                        <div *ngIf="submitted && form['auctionProduct'].errors" class="invalid-feedback">
                            <div *ngIf="form['auctionProduct'].errors['required']">Auction Product is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <div class="border-bottom"> <label for="goverusermessage">Auction Description </label> <span class="float-left text-muted">character <small>{{descVal.value.length}}
                                        /{{maxChars}}</small> </span> </div>
                            <textarea class="form-control" #descVal [attr.maxlength]="maxChars" formControlName="auctionDesc" placeholder="Enter a brief description of the auction" rows="5" [required]="true"></textarea>
                        </div>
                        <div *ngIf="submitted && form['auctionDesc'].errors" class="invalid-feedback">
                            <div *ngIf="form['auctionDesc'].errors['required']">Auction Description is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="validationCustom04">Reason for private auction</label>
                        <select class="form-control" formControlName="reasonPrivateAuction" id="validationCustom05" (change)="changeSelect($event, 'reasonPrivateAuction')" [required]="form['auctionType'].value === 'public'">
                            <option value="">Select</option>
                            <option *ngFor="let reason of dropValReasons" [ngValue]="reason">{{reason}}</option>
                        </select>
                        <div *ngIf="submitted && form['reasonPrivateAuction'].errors" class="invalid-feedback">
                            <div *ngIf="form['reasonPrivateAuction'].errors['required']">Reason Type is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <div class="border-bottom">
                                <label for="goverusermessage">Reason </label> <span class="float-left text-muted">character <small>{{reasonVal.value.length}}
                                        /{{maxChars}}</small> </span>
                            </div>
                            <textarea class="form-control" #reasonVal [attr.maxlength]="maxChars" formControlName="reason" placeholder="Please specify the reason for running your auction" rows="5" [required]="true"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card p-5 shadow-lg mt-4" *ngIf="form['auctionType'].value === 'private'">
                <h4 class="pb-3">The beneficiary category of the private auction</h4>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label>General Beneficiary Category - First Level</label>
                            <select class="form-control" formControlName="beneficiaryCategory1" id="validationCustom05" (change)="changeSelect($event, 'beneficiaryCategory')" [required]="true">
                                <option value="">Select</option>
                                <option *ngFor="let category of dropValBeneCategories" [ngValue]="category">{{category}}
                                </option>
                            </select>
                            <div *ngIf="submitted && form['beneficiaryCategory1'].errors" class="invalid-feedback">
                                <div *ngIf="form['beneficiaryCategory1'].errors['required']">Beneficiary Category - First Level is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label>Beneficiary Subcategory - Level Two</label>
                            <select class="form-control" formControlName="beneficiaryCategory2" id="validationCustom05" (change)="changeSelect($event, 'beneficiaryCategory')" [required]="true">
                                <option value="">Select</option>
                                <option *ngFor="let category of dropValBeneCategories" [ngValue]="category">{{category}}
                                </option>
                            </select>
                            <div *ngIf="submitted && form['beneficiaryCategory2'].errors" class="invalid-feedback">
                                <div *ngIf="form['beneficiaryCategory2'].errors['required']">Beneficiary Subcategory - Level Two is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label>Beneficiary Subcategory - Level Three</label>
                            <select class="form-control" formControlName="beneficiaryCategory3" id="validationCustom05" (change)="changeSelect($event, 'beneficiaryCategory')" [required]="true">
                                <option value="">Select</option>
                                <option *ngFor="let category of dropValBeneCategories" [ngValue]="category">{{category}}
                                </option>
                            </select>
                            <div *ngIf="submitted && form['beneficiaryCategory3'].errors" class="invalid-feedback">
                                <div *ngIf="form['beneficiaryCategory3'].errors['required']">Beneficiary Subcategory - Level Three is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label>The period of displaying products in the online market</label>
                            <input type="text" formControlName="auctionPeriod" class="form-control" placeholder="Enter the period in number of days" [required]="form['auctionType'].value === 'private'" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card p-5 shadow-lg mt-4">
                <h4 class="pb-3">Bidding period</h4>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group"> <label>Bidding begins</label>
                            <!-- <input type="text" formControlName="auctionStartDate" class="form-control" placeholder="day-month-year" bsDatepicker (click)="makeConsole('enter')" (keydown.esc)="makeConsole('esc')" (keydown.alt)="makeConsole('alt')" (keydown.tab)="makeConsole('tab')" -->
                            <input type="text" formControlName="auctionStartDate" class="form-control" placeholder="day-month-year" bsDatepicker [required]="form['auctionType'].value === 'public'">
                            <div *ngIf="submitted && form['auctionStartDate'].errors" class="invalid-feedback">
                                <div *ngIf="form['auctionStartDate'].errors['required']">Bidding begin date is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group"> <label>End of bidding</label>
                            <!-- <input type="text" formControlName="auctionEndDate" class="form-control calendar-control calendar-gregorian-control" placeholder="day-month-year" [required]="form['auctionType'].value === 'public'" /> -->
                            <input type="text" formControlName="auctionEndDate" class="form-control" placeholder="day-month-year" bsDatepicker [required]="form['auctionType'].value === 'public'" />
                        </div>
                        <div *ngIf="submitted && form['auctionEndDate'].errors" class="invalid-feedback">
                            <div *ngIf="form['auctionEndDate'].errors['required']">End of bidding date is required</div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group"> <label>Bidding start time</label>
                            <input type="text" formControlName="auctionStartTime" class="time-control form-control" placeholder="Auction start time" [required]="form['auctionType'].value === 'public'" (click)="changetime($event,'auctionStartTime');" />
                        </div>
                        <div *ngIf="submitted && form['auctionStartTime'].errors" class="invalid-feedback">
                            <div *ngIf="form['auctionStartTime'].errors['required']">Bidding start time is required
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group"> <label>Bidding end time</label>
                            <input type="text" formControlName="auctionEndTime" class="time-control form-control" placeholder="Auction end time" [required]="form['auctionType'].value === 'public'" (click)="changetime($event,'auctionEndTime');" />
                        </div>
                        <div *ngIf="submitted && form['auctionEndTime'].errors" class="invalid-feedback">
                            <div *ngIf="form['auctionEndTime'].errors['required']">Bidding end time is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">How to start the auction</label>
                        <div class="py-2">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="startauction1" name="startAuction" formControlName="startAuction" value="to me" class="custom-control-input" [required]="true" /> <label class="custom-control-label" for="startauction1">to
                                    me</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="startauction2" name="startAuction" formControlName="startAuction" value="manual" class="custom-control-input" [required]="true" /> <label class="custom-control-label" for="startauction2">manual</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group"> <label>Bid opening date</label> <input type="text" formControlName="auctionAnncStartDate" class="form-control" placeholder="day-month-year" bsDatepicker [required]="true" /> </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group"> <label>Bid opening time</label> <input type="text" formControlName="auctionAnncEndDate" class="form-control" placeholder="day-month-year" bsDatepicker [required]="true" /> </div>
                    </div>
                </div>
            </div>
            <div class="card p-5 shadow-lg mt-4">
                <h4 class="pb-3">Financial Auction Items</h4>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label>Auction start price(in Saudi riyals)</label> <input type="number" formControlName="startPrice" min="1" step="any" class="form-control" placeholder="150,000" [required]="true" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label>Lowest Bid Value(in Saudi Riyals)</label> <input type="text" formControlName="lowBidValue" class="form-control" placeholder="150,000" [required]="true" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label>Initial guarantee percentage</label> <input type="text" formControlName="gnteePercentage" class="form-control" placeholder="Enter the initial guarantee percentage" [required]="true" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label>Last date to pay the final guarantee</label> <input type="text" formControlName="gnteePercentage" class="form-control" placeholder="Enter the number of days" [required]="true" />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="validationCustom04">Commission Type</label>
                            <select class="form-control" formControlName="commissionType" id="validationCustom05" (change)="changeSelect($event, 'commissionType')" [required]="true">
                                <option value="">Select</option>
                                <option *ngFor="let type of dropValCommTypes" [ngValue]="type">{{type}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label>Enter Pursuit Percentage-Commission %</label>
                            <input type="text" formControlName="pursuitPerCommission" class="form-control" placeholder="Enter Pursuit Percentage-Commission %" [required]="true" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card p-5 shadow-lg mt-4">
                <h4 class="pb-3">Auction Attachments</h4>
                <h5 class="pb-3">Add Attachments</h5>
                <p class="text-primary">Please add any attachments related to the auction</p>
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="file-container">
                            <!-- Fine Uploader Thumbnails template w/ customization
                                  ====================================================================== -->
                            <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
                                <div class="file-uploader-zone">
                                    <div class="buttons">
                                        <div class="uploader-button-caption" formArrayName="auctionAttachement">
                                            <input type="file" class="" accept="video/mp4,.mov,.docx,.doc,application/pdf,image/jpg,image/png" multiple (change)="selectFiles($event,'auctionAttachement')" />
                                            <div>
                                                <span class="icon-attachment mx-2"></span> Drop files here to upload or
                                                <span class="qq-upload-button-selector qq-upload-button"><span>choose a
                                                        file</span></span>
                                            </div>
                                            <p>Allowed files formats (maximum - 2MB): MP4, MOV, PNG, JPG, DOCX, DOC, PDF
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="invalid-feedback">
                                    <div *ngIf="msg">{{msg}}</div>
                                </div>
                                <div *ngIf="submitted && form['auctionAttachement'].errors" class="invalid-feedback">
                                    <div *ngIf="form['auctionAttachement'].errors['required']">Upload Product Pictures
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3" *ngIf="files?.length">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr class="btn-primary-light">
                                    <th class="" colspan="3" scope="col">Attached</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let file of files;let index=index">
                                    <td>{{index+1}}</td>
                                    <td>
                                        <div class="text-capitalize text-success"><span class="attach-icon icon-attachment mx-2"></span><span>{{file.name}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="qq-btn-group text-right">
                                            <button type="button" class="qq-upload-retry-selector btn btn-ghost fill-primary-light-green" (click)="viewAttachment(file)" data-toggle="modal" data-target="#viewAttachmentModal">
                                                <span class="icon-eye-open1"></span>
                                            </button>
                                            <button type="button" (click)="removeFile(index)" class="qq-upload-cancel-selector btn btn-ghost fill-primary-red" data-dismiss="alert" aria-label="Delete">
                                                <span class="icon-delete"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="pt-5">
                <div class="form-row">
                    <div class="col-12">
                        <div class="d-flex align-items-md-center align-items-stretch flex-column flex-md-row justify-content-between mx-n2">
                            <div class="mb-2 mb-md-5 flex-grow-1 flex-md-grow-0">
                                <button (click)="back()" type="button" class="btn arrow-btn arrow-btn-reverse btn-outline-light btn-lg btn-block">
                                    <span class="btn-text">back</span> <span class="v-divider"></span>
                                    <span class="icon icon-arrow-left"></span>
                                </button>
                            </div>
                            <div class="d-flex flex-column flex-md-row mb-5">
                                <button class="btn btn-danger btn-lg mx-0 mx-md-2" routerLink="/">Cancel</button>
                                <button type="button" (click)="onSubmit('saveasdraft')" class="btn btn-outline-primary-light btn-lg mx-0 mx-md-2 mt-2 mt-md-0"> Save as
                                    draft </button>
                                <button type="button" (click)="onSubmit('save')" class="btn arrow-btn btn-primary-light btn-lg mx-0 mx-md-2 mt-2 mt-md-0">
                                    <span class="btn-text">Save and continue</span> <span class="v-divider"></span>
                                    <span class="icon icon-arrow-left"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade " *ngIf="showViewAttachmentsModal" id="viewAttachmentModal" tabindex="-1 " role="dialog " aria-labelledby="viewAttachmentModalLabel" aria-hidden="true ">
    <div class="modal-dialog modal-lg modal-dialog-centered " role="document ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h4 class="modal-title " id="viewAttachmentModalLabel ">View Attachment</h4>
                <button type="button " class="modal-close btn-close btn-sm " data-dismiss="modal " aria-label="Close ">
                    <span class="icon-close "></span> </button>
            </div>
            <div class="modal-body m-0 ">
                <img *ngIf="selectedFileFormat=='image' " [src]="selectedFileURL" class="img-fluid " alt=" " srcset=" ">
                <video *ngIf="selectedFileFormat=='video' " [src]="selectedFileURL" class="img-fluid " controls></video>
            </div>
        </div>
    </div>
</div>
<p>Form Value: {{ basicFormGroup.value | json }}</p>
<p>Form Submit Status: {{ basicFormGroup.status }}</p>
<script src="https://cdn.etimad.sa/v2/js/libs/jquery/jquery-3.4.1.min.min.js" type="text/javascript"></script>
<!-- vue js -->
<script src="https://cdn.etimad.sa/v2/js/libs/vue/vue.min.js" type="text/javascript"></script>
<script src="https://cdn.etimad.sa/v2/js/pagination.min.js" type="text/javascript"></script>
<script src="https://cdn.etimad.sa/v2/js/datatable.min.js" type="text/javascript"></script>
<script src="https://cdn.etimad.sa/v2/js/editable-datatable.min.js" type="text/javascript"></script>
<script src="https://cdn.etimad.sa/v2/js/libs/calendar/bootstrap-hijri-datepicker.min.min.js" type="text/javascript"></script>
<script src="https://cdn.etimad.sa/v2/js/libs/calendar/moment.min.min.js"></script>
<script>
    (function() {
        $('[data-toggle="tooltip "]').tooltip();
    })();
</script>