<div class="auction-form">
    <div class="py-3 mb-3">
        <h4>
            <ul class="list list-group list-group-horizontal float-left">
                <li class="m-2 text-muted">ObjectId: {{ ObjectId }}</li>
                <li class="m-2 text-muted">DraftId: {{DraftId}}</li>
                <li class="m-2 text-primary">
                    <div class="input-group">
                        <input type="text" style="width:50px; height: 30px" [(ngModel)]="sCount" class="form-control p-1" placeholder="1" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <a class="btn btn-primary text-white input-group-text p-1" style="height: 30px" (click)="populateSome()">Fill Some</a>
                        </div>
                    </div>
                </li>
            </ul>
            {{ 'auctioncreate.auctiondetails.section1_Title' | translate }}
        </h4>
    </div>
    <div class="form-field">
        <div class="card p-5 shadow-lg" *ngIf="showLoader">
            <div class="form-row">
                <div class="col-12">
                    <table id="inventoryAllocationTable" class="table">
                        <td colspan="10" class="p-3 bg-white">
                            <div class="alert-body text-center"><i class="alert-icon">
                                    <svg class="et-spinner" width="64" height="64" xmlns="http://www.w3.org/2000/svg">
                                        <g fill-rule="nonzero" fill="#32AD71">
                                            <path
                                                d="M32 11.871c-1.755 0-3.097-1.342-3.097-3.097V3.097C28.903 1.342 30.245 0 32 0s3.097 1.342 3.097 3.097v5.677c0 1.652-1.342 3.097-3.097 3.097z" />
                                            <path
                                                d="M32 64c-1.755 0-3.097-1.342-3.097-3.097v-5.677c0-1.755 1.342-3.097 3.097-3.097s3.097 1.342 3.097 3.097v5.677C35.097 62.658 33.755 64 32 64z"
                                                opacity=".4" />
                                            <path
                                                d="M46.452 60.077c-1.033 0-2.065-.516-2.684-1.548l-2.787-4.852c-.826-1.445-.31-3.406 1.135-4.232 1.445-.826 3.407-.31 4.232 1.136l2.787 4.851c.826 1.445.31 3.407-1.135 4.233a2.913 2.913 0 01-1.548.412z"
                                                opacity=".5" />
                                            <path
                                                d="M11.871 23.432a2.913 2.913 0 01-1.548-.413L5.47 20.232C4.026 19.406 3.51 17.445 4.335 16c.826-1.445 2.788-1.961 4.233-1.135l4.851 2.787c1.446.825 1.962 2.787 1.136 4.232-.62 1.032-1.652 1.548-2.684 1.548z"
                                                opacity=".05" />
                                            <path
                                                d="M57.084 49.548a2.913 2.913 0 01-1.549-.413l-4.954-2.787c-1.446-.825-1.962-2.787-1.136-4.232.826-1.445 2.787-1.961 4.232-1.135l4.852 2.787c1.445.826 1.961 2.787 1.136 4.232-.517 1.032-1.549 1.548-2.581 1.548z"
                                                opacity=".6" />
                                            <path
                                                d="M8.774 35.097H3.097C1.342 35.097 0 33.755 0 32s1.342-3.097 3.097-3.097h5.677c1.755 0 3.097 1.342 3.097 3.097s-1.445 3.097-3.097 3.097z"
                                                opacity=".1" />
                                            <path
                                                d="M60.903 35.097h-5.677c-1.755 0-3.097-1.342-3.097-3.097s1.342-3.097 3.097-3.097h5.677C62.658 28.903 64 30.245 64 32s-1.342 3.097-3.097 3.097z"
                                                opacity=".7" />
                                            <path
                                                d="M6.916 49.548c-1.032 0-2.064-.516-2.684-1.548-.826-1.445-.31-3.406 1.136-4.232l4.851-2.787c1.446-.826 3.407-.31 4.233 1.135.825 1.445.31 3.407-1.136 4.232l-4.851 2.787c-.413.31-.93.413-1.549.413z"
                                                opacity=".2" />
                                            <path
                                                d="M52.129 23.432c-1.032 0-2.064-.516-2.684-1.548-.826-1.445-.31-3.407 1.136-4.232l4.851-2.787c1.445-.826 3.407-.31 4.233 1.135.825 1.445.31 3.406-1.136 4.232l-4.852 2.787a2.913 2.913 0 01-1.548.413z"
                                                opacity=".8" />
                                            <path
                                                d="M17.548 60.077A2.913 2.913 0 0116 59.665c-1.445-.826-1.961-2.788-1.135-4.233l2.787-4.851c.825-1.446 2.787-1.962 4.232-1.136 1.445.826 1.961 2.787 1.135 4.232l-2.787 4.852c-.62 1.032-1.651 1.548-2.684 1.548z"
                                                opacity=".3" />
                                            <path
                                                d="M43.665 14.968a2.913 2.913 0 01-1.549-.413c-1.445-.826-1.961-2.787-1.135-4.232l2.787-4.852C44.594 4.026 46.555 3.51 48 4.335c1.445.826 1.961 2.788 1.135 4.233l-2.787 4.851c-.619.93-1.651 1.549-2.683 1.549z"
                                                opacity=".9" />
                                        </g>
                                    </svg>
                                </i>
                                <div class="alert-content">
                                    <h5 class="text-black-50">Loading</h5>
                                </div>
                            </div>
                        </td>
                    </table>
                </div>
            </div>
        </div>
        <form *ngIf="!showLoader" [formGroup]="basicFormGroup">
            <div class="card p-5 shadow-lg">
                <div class="form-row">
                    <div class="col-12">
                        <div class="row no-gutters">
                            <label> <span>{{ 'auctioncreate.auctiondetails.section1_formGrp1' | translate }} </span>
                            </label>
                            <div class="col-12">
                                <div class="d-flex flex-wrap flex-md-nowrap pb-3 mb-4">
                                    <div class="etimad-option">
                                        <input type="radio" id="checkbox07" formControlName="auctionType" name="auctionType" value="Public" [required]="true" (change)="setValidation($event)" />
                                        <label class="input-target text-16" for="checkbox07"> <span>{{
                                                'auctioncreate.auctiondetails.section1_formGrp1_opt1' | translate
                                                }}</span> </label>
                                    </div>
                                    <div class="etimad-option">
                                        <input type="radio" id="checkbox08" formControlName="auctionType" name="auctionType" value="Private" [required]="true" (change)="setValidation($event)" [attr.disabled]="true" />
                                        <label class="input-target text-16" for="checkbox08"> <span>{{
                                                'auctioncreate.auctiondetails.section1_formGrp1_opt2' | translate
                                                }}</span> </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="submitted && form['auctionType'].errors" class="invalid-feedback">
                            <div *ngIf="form['auctionType'].errors['required']">AuctionType is required</div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>
                            <span>{{ 'auctioncreate.auctiondetails.section1_formGrp2' | translate }} </span>
                            <span class="icon-filled-information mx-2 text-secondary-aqua cursor-pointer"
                                data-html="true" data-toggle="tooltip"
                                [attr.data-placement]="lang == 'en' ? 'left' : 'left'" title=""
                                [attr.data-original-title]="'tooltip.bidding_method' | translate"></span>
                        </label>
                        <div class="py-2">
                            <div class="custom-control custom-radio custom-control-inline"> <input type="radio" id="customRadioInline1" formControlName="auctionSubType" name="auctionSubType" value="D" class="custom-control-input" [required]="true" [attr.disabled]="true" />
                                <label class="custom-control-label" for="customRadioInline1">{{
                                    'auctioncreate.auctiondetails.section1_formGrp2_opt1' | translate }}</label> </div>
                            <div class="custom-control custom-radio custom-control-inline"> <input type="radio" id="customRadioInline2" formControlName="auctionSubType" name="auctionSubType" value="C" class="custom-control-input" [required]="true" /> <label class="custom-control-label" for="customRadioInline2">{{
                                    'auctioncreate.auctiondetails.section1_formGrp2_opt2' | translate }}</label> </div>
                        </div>
                        <div *ngIf="submitted && form['auctionSubType'].errors">
                            <div *ngIf="form['auctionSubType'].errors['required']" class="invalid-feedback">Bidding method is required</div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3" *ngIf="atLeastOneRequired">
                        <div class="invalid-feedback">{{ 'message.failure_atleastOne_auction' | translate }} </div>
                    </div>
                    <!-- <div class="col-md-6 mb-3">
                        <label class="d-flex" for="validationCustom02">Previous reference number</label>
                        <div class="search-group search-custom">
                            <input type="text" formControlName="prevRefNo" class="search-input px-2" id="validationCustom02" placeholder="Find the previous reference number" [required]="true" />
                            <div class="text-light d-flex align-items-center mr-3"> <span class="icon-filled-search"></span> </div>
                        </div>
                        <div *ngIf="submitted && form['prevRefNo'].errors" class="invalid-feedback">
                            <div *ngIf="form['prevRefNo'].errors['required']">Previous Reference number is required</div>
                        </div>
                    </div> -->
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label> <span>{{ 'auctioncreate.auctiondetails.section1_formGrp3' | translate }} </span>
                        </label>
                        <input type="text" formControlName="auctionName" class="form-control" placeholder="{{ 'auctioncreate.auctiondetails.section1_formGrp3-plch' | translate }}" id="validationCustom01" />
                        <div *ngIf="submitted && form['auctionName'].errors" class="invalid-feedback">
                            <div *ngIf="form['auctionName'].errors['required']">{{ 'auctioncreate.auctiondetails.section1_formGrp3' | translate }} {{ 'auctioncreate.page-validerror' | translate }}</div>
                            <div *ngIf="form['auctionName'].errors['minlength']">{{ 'message.failure_minCharAuctionName' | translate }}</div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label> <span>{{ 'auctioncreate.auctiondetails.section1_formGrp4' | translate }} </span>
                        </label>
                        <!-- <select class="form-control" id="validationCustom04" formControlName="auctionProduct" (change)="changeSelect($event, 'auctionProduct')" [required]="true">
                            <option value="">Select</option>
                            <option *ngFor="let product of dropValProducts" [ngValue]="product">{{product}}</option>
                        </select> -->
                        <input type="text" formControlName="auctionProduct" class="form-control" placeholder="{{ 'auctioncreate.auctiondetails.section1_formGrp4' | translate }}" id="validationCustom01" [required]="true" />
                        <div *ngIf="submitted && form['auctionProduct'].errors" class="invalid-feedback">
                            <div *ngIf="form['auctionProduct'].errors['required']">{{ 'auctioncreate.auctiondetails.section1_formGrp4' | translate }} {{ 'auctioncreate.page-validerror' | translate }}</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label>
                            <span>{{ 'auctioncreate.auctiondetails.section1_formGrp31' | translate }} </span>
                            <span class="icon-filled-information mx-2 text-secondary-aqua cursor-pointer"
                                data-html="true" data-toggle="tooltip"
                                [attr.data-placement]="lang == 'en' ? 'left' : 'left'" title=""
                                [attr.data-original-title]="'tooltip.auctionManager' | translate"></span>
                        </label>
                        <select class="form-control" id="validationCustom04" formControlName="auctionManager" (change)="changeSelect($event, 'auctionManager')" [required]="true">
                            <option value="">{{ 'Choose Auction Manager' | translate }}</option>
                            <option value="1827879980">Sivakumar</option>
                        </select>
                        <div *ngIf="submitted && form['auctionManager'].errors" class="invalid-feedback">
                            <div *ngIf="form['auctionManager'].errors['required']">{{ 'auctioncreate.auctiondetails.section1_formGrp31' | translate }} {{ 'auctioncreate.page-validerror' | translate }}</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <div class="border-bottom"> <label> <span>{{
                                        'auctioncreate.auctiondetails.section1_formGrp5' | translate }} </span></label>
                                <span class="float-left text-muted text-12">{{
                                    'auctioncreate.auctiondetails.section1_formGrp5-hint' | translate }}
                                    <small>{{descVal.value.length}} /{{maxChars}}</small> </span> </div>
                            <textarea class="form-control" #descVal [attr.maxlength]="maxChars" formControlName="auctionDesc" placeholder="{{ 'auctioncreate.auctiondetails.section1_formGrp5-plch' | translate }}" rows="5" [required]="true"></textarea>
                        </div>
                        <div *ngIf="submitted && form['auctionDesc'].errors" class="invalid-feedback">
                            <div *ngIf="form['auctionDesc'].errors['required']">{{ 'auctioncreate.auctiondetails.section1_formGrp5' | translate }} {{ 'auctioncreate.page-validerror' | translate }}</div>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-row" *ngIf="form['auctionType'].value === 'Private'">
                    <div class="col-md-12 mb-3">
                        <label> <span>Reason for private auction </span> </label>
                        <select class="form-control" formControlName="reasonPrivateAuction" id="validationCustom05" (change)="changeSelect($event, 'reasonPrivateAuction')" [required]="form['auctionType'].value === 'Public'">
                            <option value="">Select</option>
                            <option *ngFor="let reason of dropValReasons" [ngValue]="reason">{{reason}}</option>
                        </select>
                        <div *ngIf="submitted && form['reasonPrivateAuction'].errors" class="invalid-feedback">
                            <div *ngIf="form['reasonPrivateAuction'].errors['required']">Reason Type is required</div>
                        </div>
                    </div>
                </div>
                <div class="form-row" *ngIf="form['auctionType'].value === 'Private'">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <div class="border-bottom">
                                <label><span>Reason </span></label> <span class="float-left text-muted">character <small>{{reasonVal.value.length}} /{{maxChars}}</small> </span>
                            </div>
                            <textarea class="form-control" #reasonVal [attr.maxlength]="maxChars" formControlName="reason" placeholder="Please specify the reason for running your auction" rows="5" [required]="true"></textarea>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- <div class="card p-5 shadow-lg mt-4" *ngIf="form['auctionType'].value === 'Private'">
                <h4 class="pb-3">The beneficiary category of the private auction</h4>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label><span>General Beneficiary Category - First Level</span></label>
                            <select class="form-control" formControlName="beneficiaryCategory1" id="validationCustom05" (change)="changeSelect($event, 'beneficiaryCategory')" [required]="true">
                            <option value="">Select</option>
                            <option *ngFor="let category of dropValBeneCategories" [ngValue]="category">{{category}}</option>
                            </select>
                            <div *ngIf="submitted && form['beneficiaryCategory1'].errors" class="invalid-feedback">
                                <div *ngIf="form['beneficiaryCategory1'].errors['required']">Beneficiary Category - First Level is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label><span>Beneficiary Subcategory - Level Two</span></label>
                            <select class="form-control" formControlName="beneficiaryCategory2" id="validationCustom05" (change)="changeSelect($event, 'beneficiaryCategory')" [required]="true">
                            <option value="">Select</option>
                            <option *ngFor="let category of dropValBeneCategories" [ngValue]="category">{{category}}</option>
                            </select>
                            <div *ngIf="submitted && form['beneficiaryCategory2'].errors" class="invalid-feedback">
                                <div *ngIf="form['beneficiaryCategory2'].errors['required']">Beneficiary Subcategory - Level Two is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label><span>Beneficiary Subcategory - Level Three</span></label>
                            <select class="form-control" formControlName="beneficiaryCategory3" id="validationCustom05" (change)="changeSelect($event, 'beneficiaryCategory')" [required]="true">
                            <option value="">Select</option>
                            <option *ngFor="let category of dropValBeneCategories" [ngValue]="category">{{category}}</option>
                            </select>
                            <div *ngIf="submitted && form['beneficiaryCategory3'].errors" class="invalid-feedback">
                                <div *ngIf="form['beneficiaryCategory3'].errors['required']">Beneficiary Subcategory - Level Three is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label><span>The period of displaying products in the online market</span></label>
                            <input type="text" formControlName="auctionPeriod" class="form-control" placeholder="Enter the period in number of days" [required]="form['auctionType'].value === 'private'" /> </div>
                    </div>
                </div>
            </div> -->
            <div class="card p-5 shadow-lg mt-4">
                <h4 class="pb-3 text-20">{{ 'auctioncreate.auctiondetails.section1_formGrp6' | translate }}</h4>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group"> <label><span>{{ 'auctioncreate.auctiondetails.section1_formGrp7' |
                                    translate }}</span></label>
                            <!-- <input type="text" formControlName="auctionStartDate" class="form-control" placeholder="day-month-year" bsDatepicker (click)="makeConsole('enter')" (keydown.esc)="makeConsole('esc')" (keydown.alt)="makeConsole('alt')" (keydown.tab)="makeConsole('tab')" -->
                            <!-- <input type="text" id="auctionStartDate" formControlName="auctionStartDate" class="form-control" placeholder="day-month-year" bsDatepicker [required]="form['auctionType'].value === 'Public'"> -->
                            <input type="text" id="auctionStartDate" formControlName="auctionStartDate" placeholder="{{ 'auctionlist.filter-formDate-pholder' | translate }}" (change)="onChangeDateTime($event, 'auctionStartDate')" class="form-control calendar-control calendar-both-control"
                                [required]="form['auctionType'].value === 'Public'" />
                            <div *ngIf="submitted && form['auctionStartDate'].errors" class="invalid-feedback">
                                <div *ngIf="form['auctionStartDate'].errors['required']">{{ 'auctioncreate.auctiondetails.section1_formGrp7' | translate }} {{ 'auctioncreate.page-validerror' | translate }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group"> <label><span>{{ 'auctioncreate.auctiondetails.section1_formGrp8' |
                                    translate }}</span></label>
                            <!-- <input type="text" formControlName="auctionEndDate" class="form-control calendar-control calendar-gregorian-control" placeholder="day-month-year" [required]="form['auctionType'].value === 'Public'" /> -->
                            <input type="text" id="auctionEndDate" formControlName="auctionEndDate" placeholder="{{ 'auctionlist.filter-formDate-pholder' | translate }}" (change)="onChangeDateTime($event, 'auctionEndDate')" class="form-control calendar-control calendar-both-control"
                                [required]="form['auctionType'].value === 'Public'" />
                            <!-- <input type="text" formControlName="auctionEndDate" class="form-control" placeholder="day-month-year" bsDatepicker [required]="form['auctionType'].value === 'Public'" /> -->
                        </div>
                        <div *ngIf="submitted && form['auctionEndDate'].errors" class="invalid-feedback">
                            <div *ngIf="form['auctionEndDate'].errors['required']">{{ 'auctioncreate.auctiondetails.section1_formGrp8' | translate }} {{ 'auctioncreate.page-validerror' | translate }}</div>
                        </div>
                        <div *ngIf="isValidAuctionDate" class="invalid-feedback">{{ 'message.failure_invalid_mindate' | translate }}</div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group"> <label><span>{{ 'auctioncreate.auctiondetails.section1_formGrp9' |
                                    translate }}</span></label>
                            <!-- <input type="text" formControlName="auctionStartTime" class="time-control form-control" placeholder="Auction start time" [required]="form['auctionType'].value === 'Public'" (click)="changetime($event,'auctionStartTime');" /> -->
                            <input type="text" id="auctionStartTime" formControlName="auctionStartTime" placeholder="{{ 'auctioncreate.auctiondetails.section1_formGrp9' | translate }}" (change)="onChangeDateTime($event, 'auctionStartTime')" class="form-control time-control" [required]="form['auctionType'].value === 'Public'"
                            />
                        </div>
                        <div *ngIf="submitted && form['auctionStartTime'].errors" class="invalid-feedback">
                            <div *ngIf="form['auctionStartTime'].errors['required']">{{ 'auctioncreate.auctiondetails.section1_formGrp9' | translate }} {{ 'auctioncreate.page-validerror' | translate }}</div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group"> <label><span>{{ 'auctioncreate.auctiondetails.section1_formGrp10' |
                                    translate }}</span></label>
                            <!-- <input type="text" formControlName="auctionEndTime" class="time-control form-control" placeholder="Auction end time" [required]="form['auctionType'].value === 'Public'" (click)="changetime($event,'auctionEndTime');" /> -->
                            <input type="text" id="auctionEndTime" formControlName="auctionEndTime" placeholder="{{ 'auctioncreate.auctiondetails.section1_formGrp10' | translate }}" (change)="onChangeDateTime($event, 'auctionEndTime')" class="form-control time-control" [required]="form['auctionType'].value === 'Public'"
                            />
                        </div>
                        <div *ngIf="submitted && form['auctionEndTime'].errors" class="invalid-feedback">
                            <div *ngIf="form['auctionEndTime'].errors['required']">{{ 'auctioncreate.auctiondetails.section1_formGrp10' | translate }} {{ 'auctioncreate.page-validerror' | translate }}</div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label> <span>{{ 'auctioncreate.auctiondetails.section1_formGrp11' | translate }} </span>
                        </label>
                        <div class="py-2">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="startauction1" name="startAuction" formControlName="startAuction" value="T" class="custom-control-input" [required]="true" /> <label class="custom-control-label" for="startauction1">{{
                                    'auctioncreate.auctiondetails.section1_formGrp11_opt1' | translate }}</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="startauction2" name="startAuction" formControlName="startAuction" value="M" class="custom-control-input" [required]="true" /> <label class="custom-control-label" for="startauction2">{{
                                    'auctioncreate.auctiondetails.section1_formGrp11_opt2' | translate }}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group"> <label><span>{{ 'auctioncreate.auctiondetails.section1_formGrp12' |
                                    translate }}</span></label>
                            <input type="text" id="auctionAnncStartDate" formControlName="auctionAnncStartDate" placeholder="{{ 'auctionlist.filter-formDate-pholder' | translate }}" (change)="onChangeDateTime($event, 'auctionAnncStartDate')" class="form-control calendar-control calendar-both-control"
                                [required]="true" />
                            <!-- <input type="text" formControlName="auctionAnncStartDate" class="form-control" placeholder="day-month-year" bsDatepicker [required]="true"/>  -->
                            <div *ngIf="isValidAnncSDate" class="invalid-feedback">{{ 'message.failure_invalid_mindate' | translate }}</div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group"> <label><span>{{ 'auctioncreate.auctiondetails.section1_formGrp13' |
                                    translate }}</span></label>
                            <input type="text" id="auctionAnncEndDate" formControlName="auctionAnncEndDate" placeholder="{{ 'auctionlist.filter-formDate-pholder' | translate }}" (change)="onChangeDateTime($event, 'auctionAnncEndDate')" class="form-control calendar-control calendar-both-control"
                                [required]="true" />
                            <!-- <input type="text" formControlName="auctionAnncEndDate" class="form-control" placeholder="day-month-year" bsDatepicker [required]="true"/>  -->
                            <div *ngIf="isValidAnncEDate" class="invalid-feedback">{{ 'message.failure_invalid_mindate' | translate }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card p-5 shadow-lg mt-4">
                <h4 class="pb-3 text-20">{{ 'auctioncreate.auctiondetails.section1_formGrp14' | translate }}</h4>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label>
                                <span>{{ 'auctioncreate.auctiondetails.section1_formGrp15' | translate }}</span>
                                <span class="icon-filled-information mx-2 text-secondary-aqua cursor-pointer"
                                    data-html="true" data-toggle="tooltip"
                                    [attr.data-placement]="lang == 'en' ? 'left' : 'left'" title=""
                                    [attr.data-original-title]="'tooltip.start_price' | translate"></span>
                            </label>
                            <input type="text" numeric formControlName="startPrice" min="1" step="any" class="form-control" placeholder="150,000" [required]="true" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group" *ngIf="basicFormGroup.controls['auctionType'].value == 'C' && basicFormGroup.controls['auctionSubType'].value == 'D'">
                            <label>
                                <span>{{ 'auctioncreate.auctiondetails.section1_formGrp16' | translate }}</span>
                            </label>
                            <input type="text" numeric formControlName="lowBidValue" class="form-control" placeholder="150,000" [required]="true" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label>
                                <span>{{ 'auctioncreate.auctiondetails.section1_formGrp17' | translate }}</span>
                                <span class="icon-filled-information mx-2 text-secondary-aqua cursor-pointer"
                                    data-html="true" data-toggle="tooltip"
                                    [attr.data-placement]="lang == 'en' ? 'left' : 'left'" title=""
                                    [attr.data-original-title]="'tooltip.guree_percentage' | translate"></span>
                            </label>
                            <input type="text" numeric formControlName="gnteePercentage" class="form-control" placeholder="{{ 'auctioncreate.auctiondetails.section1_formGrp17' | translate }}" [required]="true" />
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label><span>{{ 'auctioncreate.auctiondetails.section1_formGrp18' | translate
                                    }}</span></label>
                            <!-- <input type="text" formControlName="finalGntee" class="form-control" placeholder="{{ 'auctioncreate.auctiondetails.section1_formGrp21' | translate }}"
                                [required]="true" />  -->
                            <!-- <input type="text" formControlName="finalGntee" class="form-control" placeholder="{{ 'auctioncreate.auctiondetails.section1_formGrp18' | translate }}" [required]="true" /> -->
                            <select class="form-control" formControlName="finalGntee" id="validationCustom05" (change)="changeSelect($event, 'finalGntee')" [required]="true">
                                <option value="">{{ 'auctioncreate.auctiondetails.section1_formGrp18' | translate }}
                                </option>
                                <option *ngFor="let item of dropValFinalGntee" [ngValue]="item">{{ item | translate}}
                                </option>
                            </select>
                            <!-- <input type="text" numeric id="finalGntee" formControlName="finalGntee" placeholder="{{ 'auctionlist.filter-formDate-pholder' | translate }}" (change)="onChangeDateTime($event, 'finalGntee')" class="form-control calendar-control calendar-both-control"
                                [required]="true" /> -->
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label> <span>{{ 'auctioncreate.auctiondetails.section1_formGrp19' | translate }}
                                </span></label>
                            <!-- <input type="text" formControlName="commissionType" class="form-control" placeholder="{{ 'auctioncreate.auctiondetails.section1_formGrp19' | translate }}" id="validationCustom01" [required]="true" /> -->
                            <select class="form-control" formControlName="commissionType" id="validationCustom05" (change)="changeSelect($event, 'commissionType')" [required]="true">
                                <option value="">{{ 'auctioncreate.auctiondetails.section1_formGrp19' | translate }}
                                </option>
                                <option *ngFor="let item of dropValCommTypes" [value]="item">{{ item | translate}}
                                </option>
                            </select>
                            <!-- <select class="form-control" formControlName="commissionType" id="validationCustom05" (change)="changeSelect($event, 'commissionType')" [required]="true">
                                <option value="">Select</option>
                                <option *ngFor="let type of dropValCommTypes" [ngValue]="type">{{type}}</option>
                            </select> -->
                        </div>
                        <div *ngIf="submitted && form['commissionType'].errors" class="invalid-feedback">
                            <div *ngIf="form['commissionType'].errors['required']">{{ 'auctioncreate.auctiondetails.section1_formGrp19' | translate }} {{ 'auctioncreate.page-validerror' | translate }}</div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label><span>{{ 'auctioncreate.auctiondetails.section1_formGrp20' | translate }}
                                </span></label>
                            <input type="text" numeric formControlName="pursuitPerCommission" class="form-control" placeholder="{{ 'auctioncreate.auctiondetails.section1_formGrp20' | translate }}" [required]="true" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card p-5 shadow-lg mt-4">
                <h4 class="pb-4 text-20">{{ 'auctioncreate.auctiondetails.section1_formAttachTitle' | translate }}</h4>
                <h5 class="pb-1 text-16" *ngIf="ViewMode != 'view'">{{ 'auctioncreate.auctiondetails.section1_formAttachSubTitle' | translate }}</h5>
                <p class="text-primary text-12" *ngIf="ViewMode != 'view'">{{ 'auctioncreate.auctiondetails.section1_formAttachPara' | translate }}</p>
                <div class="row no-gutters">
                    <div class="col-12" *ngIf="ViewMode != 'view'">
                        <div class="file-container">
                            <!-- Fine Uploader Thumbnails template w/ customization
                                  ====================================================================== -->
                            <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Drop files here">
                                <div class="file-uploader-zone">
                                    <div class="buttons">
                                        <div class="uploader-button-caption" formArrayName="auctionAttachement">
                                            <input style="top: 0; left: 0;" type="file" class="" accept="video/mp4,.mov,.docx,.doc,application/pdf,image/jpg,image/jpeg,image/png" multiple (change)="selectFiles($event,'auctionAttachement')" />
                                            <div>
                                                <span class="icon-attachment mx-2"></span> {{ 'auctioncreate.auctiondetails.section1_formAttachHint' | translate }}
                                                <span class="qq-upload-button-selector qq-upload-button font-bold">{{
                                                    'auctioncreate.auctiondetails.section1_formAttachBtn' | translate
                                                    }}</span>
                                            </div>
                                            <p>{{ 'auctioncreate.auctiondetails.section1_formAttachNote' | translate }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="invalid-feedback">
                                    <div *ngIf="invalidFileSize">{{'message.alert_maxfilesize' | translate}}</div>
                                </div>
                                <div *ngIf="submitted && form['auctionAttachement'].errors" class="invalid-feedback">
                                    <div *ngIf="form['auctionAttachement'].errors['required']">{{ 'auctioncreate.auctiondetails.section1_formAttachPara' | translate }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3" *ngIf="auctionAttachement['controls']?.length">
                        <table class="table table-bordered table-striped table-expanded table-hover">
                            <thead>
                                <tr class="btn-primary-light">
                                    <th class="th-serials" scope="col">{{ 'auctioncreate.auctionproduct.auctionpopup.popup_formGrp8-taleth1' | translate }}
                                    </th>
                                    <th class="" scope="col">{{ 'auctioncreate.auctionproduct.auctionpopup.popup_formGrp8-taleth2' | translate }}
                                    </th>
                                    <th class="th-action" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody formArrayName="auctionAttachement">
                                <ng-container *ngIf="auctionAttachement['controls'].length > 0">
                                    <tr *ngFor="let file of auctionAttachement.value;let index=index">
                                        <ng-container *ngIf="index >= pageRangeForAttach.rangeStart && index <= pageRangeForAttach.rangeEnd">
                                            <td>{{index+1}}</td>
                                            <td>
                                                <div class="text-capitalize text-success"><span class="attach-icon icon-attachment mx-2"></span><span>{{file.name}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="qq-btn-group text-center">
                                                    <button *ngIf="activeFileDownloadIndex != index" type="button" class="qq-upload-retry-selector btn btn-ghost fill-primary-light-green" (click)="viewAttachment(file,index)" data-toggle="modal" data-target="#viewAttachmentModal">
                                                        <img src="assets/icons/eye_open.svg" alt="" srcset="">
                                                    </button>
                                                    <button *ngIf="activeFileDownloadIndex == index" type="button" class=" qq-upload-retry-selector btn btn-ghost btn-primary-light-green fill btn-lg mx-0 mx-md-2 mt-2 mt-md-0">
                                                      <span class="btn-text pr-0">
                                                          <div class="spinner-border spinner-border-light-green icon-spinner text-light" role="status">
                                                              <span class="sr-only">Loading...</span>
                                                          </div>
                                                      </span>
                                                  </button>
                                                    <button *ngIf="ViewMode != 'view' && activeFileDownloadIndex !== index" type="button" (click)="removeFile(file, index, pageRangeForAttach.currentPage)" class="qq-upload-cancel-selector btn btn-ghost fill-primary-red" data-dismiss="alert" aria-label="Delete">
                                                        <img src="assets/icons/delete.svg" alt="" srcset="">
                                                    </button>
                                                </div>
                                            </td>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <div *ngIf="auctionAttachement['controls'].length > 10" class="mt-4 row justify-content-end">
                            <div class="mb-5">
                                <nav aria-label="..." class="nav-pagination">
                                    <ul class="pagination">
                                        <li class="page-item" [ngClass]="{ disabled: pageRangeForAttach.currentPage === 1 }">
                                            <a (click)="navigateToPage(pageRangeForAttach.currentPage -1, 'auctionAttach')" class="page-link" tabindex="-1" aria-disabled="true">{{
                                                'auctionlist.grid-previous' | translate }}</a>
                                        </li>
                                        <li *ngFor="let page of pageRangeForAttach.pages" class="page-item" [ngClass]="{ active: pageRangeForAttach.currentPage === page }">
                                            <a (click)="navigateToPage(page, 'auctionAttach')" class="page-link"> {{
                                                page }} </a>
                                        </li>
                                        <li class="page-item" [ngClass]="{ disabled: pageRangeForAttach.currentPage === pageRangeForAttach.totalPages }">
                                            <a (click)="navigateToPage(pageRangeForAttach.currentPage + 1, 'auctionAttach')" class="page-link">{{ 'auctionlist.grid-next' | translate }}</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-5">
                <div class="form-row">
                    <div class="col-12">
                        <div class="d-flex align-items-md-center align-items-stretch flex-column flex-md-row justify-content-between mx-n2">
                            <div class="mb-2 mb-md-5 flex-grow-1 flex-md-grow-0">
                                <!-- <button (click)="back()" type="button" class="btn arrow-btn arrow-btn-reverse btn-outline-light btn-lg btn-block">
                                    <span class="btn-text">{{ 'auctioncreate.auctiondetails.section1_formBtn1' | translate }}</span> <span class="v-divider"></span>
                                    <span class="icon icon-arrow-left"></span>
                                </button> -->
                            </div>
                            <div class="d-flex flex-column flex-md-row mb-5" *ngIf="ViewMode != 'view'">
                                <!-- <button class="btn btn-danger btn-lg mx-0 mx-md-2" (click)="openConfirmCancelModal()">{{ 'auctioncreate.auctiondetails.section1_formBtn1' | translate }}</button> -->
                                <button *ngIf="!showSaveasdraftBtnLoader" type="button" (click)="onSubmit('saveasdraft')" class="btn btn-outline-primary-light btn-lg mx-0 mx-md-2 mt-2 mt-md-0"> {{
                                    'auctioncreate.auctiondetails.section1_formBtn2' | translate }} </button>
                                <button *ngIf="showSaveasdraftBtnLoader" type="button" class="btn btn-outline-primary-light btn-lg mx-0 mx-md-2 mt-2 mt-md-0">
                                    <span class="btn-text pr-3">
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </span> {{ 'auctioncreate.auctiondetails.section1_formBtn2' | translate }} </button>
                                <button *ngIf="!showSaveBtnLoader" type="button" (click)="onSubmit('save')" class="btn arrow-btn btn-primary-light btn-lg mx-0 mx-md-2 mt-2 mt-md-0">
                                    <span class="btn-text">{{ 'auctioncreate.auctiondetails.section1_formBtn3' |
                                        translate }}</span> <span class="v-divider"></span>
                                    <span class="icon icon-arrow-left"></span>
                                </button>
                                <button *ngIf="showSaveBtnLoader" type="button" class="btn arrow-btn btn-primary-light btn-lg mx-0 mx-md-2 mt-2 mt-md-0">
                                    <span class="btn-text pr-0">
                                        <div class="spinner-border spinner-border-light text-light" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </span>
                                    <span class="btn-text">{{ 'auctioncreate.auctiondetails.section1_formBtn3' |
                                        translate }}</span> <span class="v-divider"></span>
                                    <span class="icon icon-arrow-left"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade " *ngIf="showViewAttachmentsModal" id="viewAttachmentModal" tabindex="-1 " role="dialog " aria-labelledby="viewAttachmentModalLabel" aria-hidden="true ">
    <div class="modal-dialog modal-lg modal-dialog-centered " role="document ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h4 class="modal-title " id="viewAttachmentModalLabel ">View Attachment</h4>
                <button type="button " class="modal-close btn-close btn-sm " data-dismiss="modal " aria-label="Close ">
                    <span class="icon-close "></span> </button>
            </div>
            <div class="modal-body m-0 ">
                <img *ngIf="selectedFileFormat=='image' " [src]="selectedFileURL" class="img-fluid " alt=" " srcset=" ">
                <video *ngIf="selectedFileFormat=='video' " [src]="selectedFileURL" class="img-fluid " controls></video>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.etimad.sa/v2/js/libs/jquery/jquery-3.4.1.min.min.js" type="text/javascript"></script>
<!-- vue js -->
<script src="https://cdn.etimad.sa/v2/js/libs/vue/vue.min.js" type="text/javascript"></script>
<script src="https://cdn.etimad.sa/v2/js/pagination.min.js" type="text/javascript"></script>
<script src="https://cdn.etimad.sa/v2/js/datatable.min.js" type="text/javascript"></script>
<script src="https://cdn.etimad.sa/v2/js/editable-datatable.min.js" type="text/javascript"></script>
<script src="https://cdn.etimad.sa/v2/js/libs/calendar/bootstrap-hijri-datepicker.min.min.js" type="text/javascript"></script>
<script src="https://cdn.etimad.sa/v2/js/libs/calendar/moment.min.min.js"></script>
<script>
    (function() {
        $('[data-toggle="tooltip "]').tooltip();
    })();
</script>
<!-- <div class="modal show" *ngIf="showSuccessfulModal" id="showSuccessfulModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="align-items: center;"> <button style="position: absolute;left: 90%;" type="button" class="modal-close btn-close btn-sm" data-dismiss="modal" aria-label="Close"> <span class="icon-close"></span> </button> <span class="icon-check" style=" position: absolute; top: 85px; color: #32AD71;"></span>
            <div class="modal-header">
                <div class="status-success-icon">
                    <div style="display: flex;">
                        <div class="circle"></div>
                    </div>
                    <h4 class="modal-title" id="exampleModalLabel" style="text-align: center"> The request has been successfully sent to the pricing committee </h4>
                </div>
            </div>
            <div class="modal-body"> <label for="confirmation" style="color: #414042; font-size: 16px; text-align: center;">After pricing the products by the committee, the request will be returned to appoint the auction committee and publish the auction. </label> </div>
            <div class="modal-footer" style="justify-content: end"> <button type="button" class="btn btn-primary-light btn-md" data-dismiss="modal" aria-label="Close"> Back to Auction Requests </button> </div>
        </div>
    </div>
</div> -->
<div class="modal show" id="showSuccessfulModal" *ngIf="showSuccessfulModal" [ngClass]="{'modal-show': showSuccessfulModal}">
    <!-- showSuccessfulModal -->
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <button type="button" (click)="closeModal('close')" class="modal-close btn-close btn-sm" data-dismiss="modal" aria-label="Close">
                <span class="icon-close"></span>
            </button>
            <span class="icon-Check-shapes text-primary-light text-40 mb-4"></span>
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-24 font-regular text-center" id="exampleModalLabel"> {{ 'message.success_draft_title' | translate }} </h4>
            </div>
            <div class="modal-body">
                <label class="text-16 text-secondary-gray text-center" for="confirmation"> {{
                    'message.success_draft_para' | translate }} </label>
            </div>
            <div class="modal-footer justify-content-center"> <button type="button" (click)="closeModal('success')" class="btn btn-primary-light btn-md" data-dismiss="modal" aria-label="Close"> {{
                    'message.back_auctionRequest' | translate }} </button> </div>
        </div>
    </div>
</div>
<div class="modal show" id="showConfirmCancelModal" *ngIf="showConfirmCancelModal" [ngClass]="{'modal-show': showConfirmCancelModal}">
    <!-- showConfirmCancelModal -->
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" (click)="closeConfirmCancelModal('close')" class="modal-close btn-close btn-sm" data-dismiss="modal" aria-label="Close">
                <span class="icon-close"></span>
            </button>
            <div class="modal-header justify-content-left">
                <h4 class="modal-title text-24 font-regular text-danger" id="exampleModalLabel"> {{ 'message.confirm_cancel_title' | translate }} </h4>
            </div>
            <div class="modal-body">
                <label class="text-16 text-secondary-gray text-center" for="confirmation"> {{
                    'message.confirm_cancel_para' | translate }} </label>
            </div>
            <div class="modal-footer justify-content-left">
                <button type="button" (click)="closeConfirmCancelModal('close')" class="btn btn-outline-light btn-md" data-dismiss="modal" aria-label="Close"> {{ 'auctioncreate.auctionproduct.section1_formGrp16' |
                    translate }} </button>
                <button type="button" (click)="closeConfirmCancelModal('success')" class="btn btn-danger btn-md" data-dismiss="modal" aria-label="Close"> {{ 'message.confirm_auctionRequest' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal show" id="showCancelSuccessfulModal" *ngIf="showCancelSuccessfulModal" [ngClass]="{'modal-show': showCancelSuccessfulModal}">
    <!-- showCancelSuccessfulModal -->
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <button type="button" (click)="closeCancelSuccessfulModal('close')" class="modal-close btn-close btn-sm" data-dismiss="modal" aria-label="Close">
                <span class="icon-close"></span>
            </button>
            <span class="icon-Check-shapes text-primary-light text-40 mb-4"></span>
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-24 font-regular text-center" id="exampleModalLabel"> {{ 'message.success_cancel_title' | translate }} </h4>
            </div>
            <div class="modal-footer justify-content-center"> <button type="button" (click)="closeCancelSuccessfulModal('success')" class="btn btn-primary-light btn-md" data-dismiss="modal" aria-label="Close"> {{ 'message.back_auctionRequest' | translate }} </button>
            </div>
        </div>
    </div>
</div>
<div class="modal show" id="showDeleteSuccessfulModal" *ngIf="showDeleteSuccessfulModal" [ngClass]="{'modal-show': showDeleteSuccessfulModal}">
    <!-- showDeleteSuccessfulModal -->
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <button type="button" (click)="closeDeleteSuccessfulModal('close')" class="modal-close btn-close btn-sm" data-dismiss="modal" aria-label="Close">
                <span class="icon-close"></span>
            </button>
            <span class="icon-Check-shapes text-primary-light text-40 mb-4"></span>
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-24 font-regular text-center" id="exampleModalLabel"> {{ 'message.success_attach_title' | translate }} </h4>
            </div>
            <div class="modal-footer justify-content-center"> <button type="button" (click)="closeDeleteSuccessfulModal('success')" class="btn btn-primary-light btn-md" data-dismiss="modal" aria-label="Close"> {{ 'message.back_auctionRequest' | translate }} </button>
            </div>
        </div>
    </div>
</div>
<div class="modal show" id="showAlertModal" *ngIf="showAlertModal" [ngClass]="{'modal-show': showAlertModal}">
    <!-- showAlertModal -->
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <button type="button" (click)="closeAlertModal('close')" class="modal-close btn-close btn-sm" data-dismiss="modal" aria-label="Close">
                <span class="icon-close"></span>
            </button>
            <span class="icon-alert-warning text-danger text-40 mb-4"></span>
            <div class="modal-body text-center">
                <label class="text-16 text-secondary-gray text-danger" for="confirmation"> {{ 'message.service_na' |
                    translate }} </label>
            </div>
        </div>
    </div>
</div>