.invalid-feedback {
    display: block;
}

.search-group.search-custom {
    width: 100%;
    height: calc(1.5em + 1.5rem + 1px);
    padding: 0.75rem 1rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #08594d;
    background-color: transparent;
    background-clip: padding-box;
    border: 0;
    border-bottom: 1px solid #ced4da;
    outline: 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 0px;
}


/* css style of file upload*/

.attach-icon {
    font-size: 16px;
    padding-right: 10px;
}

.file-container {
    position: relative;
}

.uploader-button-caption input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}
.spinner-border-light-green {
  border-color: #28a745!important;
  border-right-color: transparent !important;
}
.icon-spinner{
  width: 18px;
  height: 18px;
  font-size: x-small;
}
