.mytabs {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.mytabs .inp0[type='radio'] {
    display: none;
}

.mytabs .lbl0 {
    padding: 15px;
    color: #08594D;
    font-weight: bold;
    font-size: 16px;
    // border-radius: 5px;
    width: 235px;
    text-align: center;
}

.mytabs .tab {
    width: 100%;
    border: #cac1c1 1px solid;
    padding: 35px;
    order: 1;
    display: none;
}

.mytabs .inp0[type='radio']:checked+.lbl0+.tab {
    display: block;
}

.mytabs .inp0[type='radio']:checked+.lbl0 {
    background-color: #32AD71;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.mytabs1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.mytabs1 .inp1 {
    margin-top: 5px;
}

.mytabs1 .lbl1 {
    // font-size: 16px;
    width: 450px;
}

.mytabs1 .tab1 {
    width: 100%;
    order: 1;
    display: none;
}

.mytabs1 .inp1[type='radio']:checked+.lbl1+.tab1 {
    display: block;
}

// .mytabs1 .inp1[type='radio']:checked + label {
// }
ul.nav.et-tabs.et-tabs-filled li a {
    max-width: inherit;
}

.nav-link {
    padding: 15px 24px !important;
}
.hide{
  display: none;
}
