<div class="card flex-row">

    <!--=================== Yellow box to show auction status ===================-->
    <div class="d-flex flex-column justify-content-center custom-bg-yellow" style="min-height: 130px; width: 30%;">
        <div class="mx-3">
            <p class="text-18 text-warning font-weight-bold">تمت الترسية على عرضك!
            </p>
            <p class="text-12 text-warning">الرجاء إرفق الضمان النهائيلإعتماد الترسية المبدئية</p>
        </div>
    </div>
    <!-- End -->

    <div class="vr-line"></div>

    <!--============ Shows file upload and Submit Button ============-->
    <div class="d-flex justify-content-between mx-4 w-75">

        <!--=================== Description ===================-->
        <div class="d-flex flex-column justify-content-center m-4" style="max-width: 440px;">
            <div class="file-uploader-zone">
                <div class="buttons">
                    <div class="uploader-button-caption">
                        <span class="icon-attachment mx-22"></span>
                        <label class="font-weight-bold px-2">{{ 'bidderSendOffer.UploadFileFormat' | translate }}</label>
                        <input accept=".docx,.doc,application/pdf,image/jpg,image/jpeg,image/png" qq-button-id="2ff16990-f1ca-4038-9656-00f140864b80" (change)="selectFiles($event, 'primaryWarranty')" title="file input" multiple="" type="file" name="qqfile" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0; height: 100%;">
                    </div>
                </div>
            </div>
            <div>
                <p class="text-info text-12 m-0">الرجاء إصدار الضمان النهائي وإرفاقه خلال 15 يوم من الترسية. بإمكانك إصدار  الضمان عن طريق خدمة الضمان البنكي لمنصة اعتماد 
                    <a class="text-info text-12" style="text-decoration: underline;">اضغط هنا</a>
                </p>
                
            </div>
        </div>
        <!-- End -->

        <!--=================== Participation Button ===================-->
        <button class="btn btn-primary-light btn-md align-self-center" (click)="sendFbga()">
            إرسال الضمان النهائي
        </button>
        <!-- End -->

    </div>
    <!-- End -->


</div>