<div class="card-grp">
    <div class="top-card">

        <div class="top-card-left">
            <div class="card-body" style="padding-top:50px;padding-bottom:50px">
                <h5 class="card-title" style="color: #F9B122;font-size: 18px;">{{'bidderfbga.YourBidHasBeenAwarded'}}</h5>
                <p class="card-text" style="color: #F9B122;font-size: 14px;">
                    {{'bidderfbga.FinalGuaranteeApproveInitialAward'}}
                </p>
            </div>
        </div>

        <div class="top-card-right">
            <div class="top-card-right-left">
                <div class="card-body" style="padding-top:25px;padding-bottom:10px">
                    <div class="file-uploader-zone">
                        <div class="buttons">
                            <div class="uploader-button-caption">
                                <span class="icon-attachment mx-22"></span>
                                <label style="padding-left: 5px; font-weight: 500;">{{'bidderfbga.UploadFileFormat'}}</label>
                                <input qq-button-id="2ff16990-f1ca-4038-9656-00f140864b80" title="file input" multiple="" type="file" name="qqfile" style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0; height: 100%;">
                            </div>
                        </div>
                    </div>
                    <p class="card-text" style="color: #005B4E;font-size: 14px;margin-top: 10px;margin-bottom: 5px;">
                        {{'bidderfbga.AttachTheFinalWarranty'}}
                    </p>
                </div>
            </div>

            <div class="top-card-right-right">
                <button class="btn btn-primary-light btn-md" data-toggle="modal" data-target="#confirmMemberModal" style="margin-right: 10px;"> {{'bidderfbga.SendTheFinalGuarantee'}}</button>
            </div>

        </div>

    </div>
</div>