<div class="card flex-row">
    <!--=================== Yellow box to show auction status ===================-->
    <div class="d-flex flex-column justify-content-center custom-bg-yellow" style="min-height: 130px; width: 30%">
        <div class="mx-3">
            <p class="text-18 text-warning font-weight-bold">{{'sprint3_auction_detail.your_bid_has_been_awarded' |
                translate}}</p>
            <p class="text-12 text-warning">
                {{'sprint3_auction_detail.please_attach_the_final_guarantee' | translate}}
            </p>
        </div>
    </div>
    <!-- End -->

    <div class="vr-line"></div>

    <!--============ Shows file upload and Submit Button ============-->
    <div class="d-flex justify-content-between mx-4 w-75">
        <!--=================== Description ===================-->
        <div class="d-flex flex-column justify-content-center m-4" style="max-width: 440px">
            <!-- ============= File upload area and view area ===============-->
            <div *ngIf="!disable">
                <div *ngIf="!checkFile()" class="file-uploader-zone mt-0 p-0" style="max-width: 80%;">
                    <div class="buttons">
                        <div class="uploader-button-caption d-flex px-4 py-2" style="justify-content: center;">
                            <span class="icon-attachment mx-1" style="font-size: 20px;"></span>
                            <label class="text-14 font-weight-bold" style="margin-top: 9px;">{{
                                'bidderSendOffer.UploadFileFormat' |
                                translate }}</label>
                            <input accept=".docx,.doc,application/pdf,image/jpg,image/jpeg,image/png"
                                qq-button-id="2ff16990-f1ca-4038-9656-00f140864b80"
                                (change)="selectFiles($event, 'primaryWarranty')" title="file input" multiple=""
                                type="file" name="qqfile"
                                style="position: absolute; right: 0px; top: 0px; font-family: Arial; font-size: 118px; margin: 0px; padding: 0px; cursor: pointer; opacity: 0; height: 100%;">

                        </div>
                    </div>
                </div>
                <div *ngIf="checkFile() || disableInput" class="w-75">
                    <div class="row ml-0 mr-0">
                        <div class="form-group w-100">
                            <div class="file-download file-download-sm">
                                <h3>
                                    <label class="text-success text-15" for="" data-toggle="tooltip"
                                        data-placement="top" title="{{files[0].name}}">{{files[0].name}}</label>
                                </h3>&nbsp;&nbsp;
                                <div class="download-file-information">
                                    <label class="text-body text-14">{{files[0].size/1024 | number: '1.0-0'}}kb</label>
                                    <a (click)="openFile(files[0],'view')"
                                        class="btn btn-sm btn-ghost fill-primary-light-green">
                                        <span class="icon-eye-open"></span>
                                    </a>
                                    <a *ngIf="disableInput" (click)="openFile(files[0],'download')"
                                        class="btn btn-sm btn-ghost fill-primary-light-green">
                                        <span class="icon-download"></span>
                                    </a>
                                    <a *ngIf="!disableInput" (click)="removeFile()"
                                        class="btn btn-sm btn-ghost fill-primary-light-green">
                                        <span class="icon-delete text-danger"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--===== End =========-->
            <!-- ============= File upload area and view area - disabled ===============-->
            <div *ngIf="disable">
                <div class="w-75">
                    <div class="row ml-0 mr-0">
                        <div class="form-group w-100">
                            <div class="file-download file-download-sm">
                                <h3>
                                    <label class="text-success text-15" for="" data-toggle="tooltip"
                                        data-placement="top"
                                        title="{{fbgaDoc[0].FileName}}">{{fbgaDoc[0].FileName}}</label>
                                </h3>&nbsp;&nbsp;
                                <div *ngIf="!showAttachLoader" class="download-file-information">
                                    <label class="text-body text-14">{{fbgaDoc[0].FileLength/1024 | number: '1.0-0'}}
                                        kb</label>
                                    <a (click)="openFile(fbgaDoc[0],'view')"
                                        class="btn btn-sm btn-ghost fill-primary-light-green">
                                        <span class="icon-eye-open"></span>
                                    </a>
                                    <a (click)="openFile(fbgaDoc[0],'download')"
                                        class="btn btn-sm btn-ghost fill-primary-light-green">
                                        <span class="icon-download"></span>
                                    </a>
                                </div>
                                <!--============== With loader ==============-->
                                <div *ngIf="showAttachLoader">
                                    <label class="text-body text-14">{{fbgaDoc[0].FileLength/1024 | number: '1.0-0'}}
                                        kb</label>
                                    <button class="btn btn-ghost btn-md fill-primary-light-green">
                                        <div class="spinner-border text-primary"
                                            style="font-size: 12px;width: 20px !important;height: 20px !important;"
                                            role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </button>
                                </div>
                                <!-- End -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--===== End =========-->
            <div>
                <p class="text-primary text-14 m-0">
                    {{'sprint3_auction_detail.please_issue_and_attach' | translate}}<br>
                    {{'sprint3_auction_detail.issuance_of_the_final_guarantee' | translate}}
                    <a class="text-info text-14"
                        style="text-decoration: underline">{{'sprint3_auction_detail.press_here' | translate}}</a>
                </p>
            </div>
        </div>
        <!-- End -->

        <!--=================== Participation Button ===================-->
        <button class="btn btn-primary-light btn-md align-self-center" (click)="sendFbga()" [disabled]="disableBtn">
            {{'sprint3_auction_detail.send_the_final_guarantee' | translate}}
        </button>
        <!-- End -->
    </div>
    <!-- End -->
</div>

<!--=================== Confirmatiom model  ===================-->
<div class="modal show" *ngIf="showConfirmationModal" [ngClass]="{ 'modal-show': showConfirmationModal }"
    aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                    {{ 'send-fbga.popup1_head' | translate }}
                </h4>
                <button type="button" class="modal-close btn-close btn-sm" (click)="closeModal('Confirmation')">
                    <span class="icon-close"></span>
                </button>
            </div>
            <div class="modal-body">
                <label for="confirmation" style="color: #414042; font-size: 16px">
                    {{ 'send-fbga.popup1_subhead' | translate }}</label>
            </div>
            <div class="modal-footer" style="justify-content: end">
                <button type="button" class="btn btn-primary-light btn-md" data-dismiss="modal" aria-label="Close"
                    (click)="makeAPIcall()">
                    {{ 'send-fbga.popup1_accept' | translate }}
                    &nbsp;
                    <div *ngIf="showLoader" class="spinner-border spinner-border-light text-light text-14"
                        style="width: 20px;height: 20px;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
                <button type="button" class="btn btn-outline-light btn-md" (click)="closeModal('Confirmation')">
                    {{ "bidderAuctionDetails.auction-popup.Cancellation" | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End -->

<!--=================== Successful model  ===================-->
<div class="modal show" *ngIf="showSuccessfulModal" [ngClass]="{ 'modal-show': showSuccessfulModal }">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content" style="align-items: center">
            <button (click)="closeModal('Success')" type="button" class="modal-close btn-close btn-sm">
                <span class="icon-close"></span>
            </button>
            <span class="icon-check"></span>
            <div class="modal-header">
                <div class="status-success-icon">
                    <div style="display: flex">
                        <div class="circle"></div>
                    </div>
                    <h4 class="modal-title" id="exampleModalLabel" style="text-align: center">
                        {{ 'send-fbga.popup2_head' | translate }}
                    </h4>
                </div>
            </div>
            <div class="modal-body">
                <label for="confirmation" style="color: #414042; font-size: 16px; text-align: center">
                    {{ 'send-fbga.popup2_subhead' | translate }}
                </label>
            </div>
            <div class="modal-footer" style="justify-content: end">
                <button type="button" (click)="closeModal('AuctionList')" class="btn btn-primary-light btn-md">
                    {{ 'send-fbga.back_btn' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End -->