.mytabs {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.mytabs .inp0[type="radio"] {
    display: none;
}

.mytabs .lbl0 {
    padding: 15px;
    color: #08594d;
    font-weight: bold;
    font-size: 16px;
    // border-radius: 5px;
    width: 235px;
    text-align: center;
}

.mytabs .tab {
    width: 100%;
    border: #cac1c1 1px solid;
    padding: 35px;
    order: 1;
    display: none;
}

.mytabs .inp0[type="radio"]:checked+.lbl0+.tab {
    display: block;
}

.mytabs .inp0[type="radio"]:checked+.lbl0 {
    background-color: #32ad71;
    color: white;
    font-weight: bold;
}

.mytabs1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.mytabs1 .inp1 {
    margin-top: 5px;
}

.mytabs1 .lbl1 {
    // font-size: 16px;
    width: 450px;
}

.mytabs1 .tab1 {
    width: 100%;
    order: 1;
    display: none;
}

.mytabs1 .inp1[type="radio"]:checked+.lbl1+.tab1 {
    display: block;
}

.btn-submit-grp {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn-primary-light {
    margin-left: 10px;
}

.status-success-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle {
    width: 96px;
    height: 96px;
    background: #f9fcfa;
    border-radius: 50%;
}

.denial-model {
    color: #F66F5B;
}

.img-fluid {
    width: 100%;
    height: 450px;
    border-radius: 8px;
}

::ng-deep .owl-carousel .owl-item img {
    min-height: 105px !important;
    max-height: 105px !important;
    margin: 10px !important;
    max-width: 110px !important;
    background-color: #414042;
    opacity: .5;
}

::ng-deep .owl-carousel.owl-drag .owl-item {
    width: 120px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.icon-spinner{
  width: 18px;
  height: 18px;
  font-size: x-small;
}
