<div class="card flex-row">

  <!--=================== Yellow box to show auction status ===================-->
  <div class="d-flex flex-column justify-content-center custom-bg-yellow" style="min-height: 130px; width: 30%">
    <div class="mx-3">
      <p class="text-18 text-secondary font-weight-bold">{{ "amauctiondetails.final-award.head" | translate }}</p>
      <p class="text-12 text-secondary">{{ "amauctiondetails.final-award.sub-head" | translate }}</p>
    </div>
  </div>
  <!-- End -->

  <div class="vr-line"></div>

  <div class="d-flex justify-content-between mx-4 w-75">
    <div class="d-flex flex-column justify-content-center" style="max-width: 440px">
      <div class="card-body">
        <div class="d-flex" style="align-items: center;">
          <span class="text-30 icon-alert-success font-weight-bold"></span>
          &nbsp;&nbsp;
          <h5 class="text-30 text-success font-weight-bold">{{finalaward.bidValue | number}} {{ 'bidderFinalInvoice.SAR'
            | translate}}</h5>
          <!-- BidOfferValue -->
        </div>
        <p class="card-text" class=" text-16 text-dark mt-3">
          <!-- BidSupplierName -->
          {{finalaward.bidderName}}
        </p>
        <p class="text-16 text-dark mb-2">{{ 'bidderSendInvoice.no' | translate }} {{finalaward.bidderNo}} </p>
        <!-- BidCrNumber -->
        <a *ngIf="!showAttachLoader" (click)="openFile(fbgaDoc,'download')" class="text-primary tex-14"
          style="text-decoration: none;">
          <span class="text-16 icon-download"></span>
          &nbsp;
          <span style="text-decoration: underline;">{{'bidderSendInvoice.final_warranty' | translate}}</span>
        </a>
        <div *ngIf="showAttachLoader">
          <div class="spinner-border text-primary"
            style="font-size: 12px;width: 20px !important;height: 20px !important;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          &nbsp;
          <span style="text-decoration: underline;">{{'auctionCommittee.ac-openOffers.th3'}}</span>
        </div>
      </div>
    </div>

    <div class="top-card-right-right">
      <div>
        <a (click)="downloadPDF()" class="text-primary text-14 justify-content-end" style="text-decoration: none;">


          <span style="text-decoration: underline; font-weight: 500;">
            {{ 'sprint3_auction_detail.bidderReport' | translate }}
          </span>&nbsp;
          <span class="text-16 icon-download font-weight-500"></span>
        </a>
      </div>
      <div *ngIf="!sendInvoice" class="mt-3">
        <button class="btn btn-danger btn-md" (click)="this.showConfirmationReject = true">
          {{'bidderSendInvoice.reject_btn' | translate}}
        </button>
        &nbsp;&nbsp;
        <button class="btn btn-primary-light btn-md" (click)="this.showConfirmationAccept = true">
          {{'bidderSendInvoice.accept_btn' | translate}}
        </button>
      </div>
      <div class="mt-3" *ngIf="sendInvoice">
        <button class="btn btn-primary-light btn-md" [ngStyle]="{ float: btnFloat }" (click)="goToInvoice()">
          {{'bidderSendInvoice.send_invoice' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Model to confirm Approval -->
<div class="modal show" *ngIf="showConfirmationAccept" [ngClass]="{ 'modal-show': showConfirmationAccept }">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content w-75">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">
          {{ 'fbga_approval.popup1.head' | translate }}
        </h4>
        <button type="button" class="modal-close btn-close btn-sm" (click)="this.showConfirmationAccept = false">
          <span class="icon-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <label for="confirmation" style="color: #414042; font-size: 16px">
          {{ 'fbga_approval.popup1.subhead' | translate }}
        </label>
      </div>
      <div class="modal-footer" style="justify-content: end">
        <button type="button" (click)="this.showConfirmationAccept = false" class="btn btn-outline-light btn-md">
          {{ 'fbga_approval.popup1.back_btn' | translate }}
        </button>
        <button type="button" class="btn btn-primary-light btn-md" (click)="approve()">
          {{ 'fbga_approval.popup1.confirm_btn' | translate }}
          &nbsp;
          <div *ngIf="showLoader" class="spinner-border spinner-border-light text-light text-14"
            style="width: 20px;height: 20px;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Model to show confirmed (Successful)  Approval-->
<div class="modal show" *ngIf="showSuccessAccept" [ngClass]="{ 'modal-show': showSuccessAccept }">

  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content" style="align-items: center;">
      <button (click)="this.showSuccessAccept = false" style="position: absolute;left: 90%;" type="button"
        class="modal-close btn-close btn-sm">
        <span class="icon-close"></span>
      </button>
      <span class="icon-check"></span>
      <div class="modal-header">
        <div class="status-success-icon">
          <div style="display: flex;">
            <div class="circle"></div>

          </div>
          <h4 class="modal-title" id="exampleModalLabel" style="text-align: center">
            The award has been successfully approved
          </h4>
        </div>
      </div>
      <div class="modal-body">
        <label for="confirmation" style="color: #414042; font-size: 16px; text-align: center;">The award has been
          successfully approved
        </label>
      </div>
      <div class="modal-footer" style="justify-content: end">
        <button type="button" class="btn btn-primary-light btn-md" (click)="this.showSuccessAccept = false; gotoList()">
          Back to Auction Requests
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Model to confirm Rejection -->
<div class="modal show" *ngIf="showConfirmationReject" [ngClass]="{ 'modal-show': showConfirmationReject }">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content" style="width: 74%;">
      <div class="modal-header">
        <h4 class="modal-title text-danger" id="exampleModalLabel">
          {{ 'fbga_approval.popup2.head' | translate }}
        </h4>
        <button type="button" class="modal-close btn-close btn-sm" (click)="this.showConfirmationReject = false">
          <span class="icon-close"></span>
        </button>
      </div>
      <div class="modal-body">
        <label for="confirmation" style="color: #414042; font-size: 16px"> {{ 'fbga_approval.popup2.subhead' | translate
          }}
        </label>
      </div>
      <div class="modal-footer" style="justify-content: end ">
        <button type="button" class="btn btn-outline-light btn-md" (click)="this.showConfirmationReject = false">
          {{ 'fbga_approval.popup2.back_btn' | translate }}
        </button>
        <button type="button" class="btn btn-danger btn-md" data-dismiss="modal" (click)="reject()">
          {{ 'fbga_approval.popup2.reject_btn' | translate }}
          &nbsp;
          <div *ngIf="showLoader" class="spinner-border spinner-border-light text-light text-14"
            style="width: 20px;height: 20px;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Model to show confirmed (Successful)  Rejection-->
<div class="modal show" *ngIf="showSuccessReject" [ngClass]="{ 'modal-show': showSuccessReject }">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content" style="align-items: center; width: 85%;">
      <button style="position: absolute;left: 90%;" type="button" class="modal-close btn-close btn-sm"
        (click)="this.showSuccessReject = false">
        <span class="icon-close"></span>
      </button>
      <span class="icon-check"></span>
      <div class="modal-header">
        <div class="status-success-icon">
          <div style="display: flex;">
            <div class="circle"></div>

          </div>
          <h4 class="modal-title" id="exampleModalLabel" style="text-align: center; margin-top: 30px;">
            {{ 'fbga_approval.popup3.head' | translate }}
          </h4>
        </div>
      </div>
      <div class="modal-body">
        <label for="confirmation" style="color: #414042; font-size: 16px; text-align: center;">{{
          'fbga_approval.popup3.subhead' | translate }}
        </label>
      </div>
      <div class="modal-footer" style="justify-content: end">
        <button type="button" class="btn btn-primary-light btn-md" (click)="this.showSuccessReject = false; gotoList()">
          {{ 'fbga_approval.popup3.confirm_btn' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>