.status-code-up {
    width: fit-content;
    min-width: 120px;
    border-radius: 1px;
    background-color: #e7f1f8;
    font-size: 16px;
    color: #117abe;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
}