.search-custom {
    width: 346px !important;
}

.filter-active {
    color: #fff;
    background-color: #32ad71 !important;
    border-color: #32ad71 !important;

    span {
        color: #fff !important;
    }
}
.card-padding{
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 40px;
    padding-right: 40px;
}
.card-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height:120px;
    border: 0px;
    border-radius: 19.2px;
    background-color: #F9FCFA;
    box-shadow: -26px -26px 40px 0 rgba(255, 255, 255, 0.9), 26px 26px 40px 0 #EBF4EE;
}