<div class="card flex-row mt-4">
    <!--=================== Yellow box to show auction status ===================-->
    <div class="d-flex flex-column justify-content-center custom-bg-yellow" style="min-height: 130px; width: 30%">
        <div class="mx-3">
            <p class="text-18 text-warning font-weight-bold">{{ 'payInvoice.head' | translate }}</p>
            <p class="text-12 text-warning">{{ 'payInvoice.sub_head' | translate }}</p>
        </div>
    </div>
    <!-- End -->

    <div class="vr-line"></div>

    <!--============ Shows file upload and Submit Button ============-->
    <div class="d-flex justify-content-between mx-4 w-75">
        <!--=================== Description ===================-->
        <div class="d-flex flex-column justify-content-center m-4" style="max-width: 440px">
            <div>
                <p class="text-primary text-14 ">{{ 'payInvoice.label' | translate }}</p>
            </div>
        </div>
        <!-- End -->

        <!--=================== Participation Button ===================-->
        <button class="btn btn-primary-light btn-md align-self-center" style="min-width: 200px;"
            [routerLink]="['/bidder/pay-final-invoice',auctionId]">
            {{ 'payInvoice.pay_btn' | translate }}
        </button>
        <!-- End -->
    </div>
    <!-- End -->
</div>