<div class="card-grp">
    <div class="top-card">

        <div class="top-card-left">
            <div class="card-body" style="padding-top:50px;padding-bottom:50px">
                <h5 class="card-title" style="color: #F9B122;font-size: 18px;">
                    {{'bidderPayInvoice.AwaitingPayment'}}
                </h5>
                <p class="card-text" style="color: #F9B122;font-size: 14px;">
                    {{'bidderPayInvoice.PleasePayInvoice-approve-final-award'}}
                </p>
            </div>
        </div>

        <div class="top-card-right">
            <div class="top-card-right-left" style="display: flex;
            align-items: center;">
                <div class="card-body">
                    <p class="card-text" style="color: #005B4E;font-size: 14px;">
                        {{'bidderPayInvoice.AwardCanceled'}}
                    </p>
                </div>
            </div>

            <div class="top-card-right-right">
                <div>
                    <button class="btn btn-primary-light btn-md" style="margin-right: 10px;min-width: 200px;font-weight: 500;">
                        {{'bidderPayInvoice.PayTheBill'}}
                    </button>
                </div>
            </div>

        </div>

    </div>
</div>