<div class="card flex-row">
    <!--=================== Yellow box to show auction status ===================-->
    <div class="d-flex flex-column justify-content-center custom-bg-yellow" style="min-height: 130px; width: 30%">
        <div class="mx-3">
            <p class="text-18 text-warning font-weight-bold">بإنتظار الدفع</p>
            <p class="text-12 text-warning">
                الرجاء دفع الفاتورة لإعتماد الترسية النهائية.
            </p>
        </div>
    </div>
    <!-- End -->

    <div class="vr-line"></div>

    <!--============ Shows file upload and Submit Button ============-->
    <div class="d-flex justify-content-between mx-4 w-75">
        <!--=================== Description ===================-->
        <div class="d-flex flex-column justify-content-center m-4" style="max-width: 440px">
            <div>
                <p class="text-info text-12 ">سيتم الغاء الترسية في حال لم يتم دفع الفاتورة خلال 30 يوم من الترسية.
                </p>
            </div>
        </div>
        <!-- End -->

        <!--=================== Participation Button ===================-->
        <button class="btn btn-primary-light btn-md align-self-center" style="min-width: 200px;"
            [routerLink]="['/bidder/pay-final-invoice',auctionId]">
            دفع الفاتورة
        </button>
        <!-- End -->
    </div>
    <!-- End -->
</div>