<div class="col-12 mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb px-0">
            <li class="breadcrumb-item"><a href="#">Trust Services</a></li>
            <li class="breadcrumb-item"><a href="#">Invoices</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Invoice details </li>
        </ol>
    </nav>
</div>
<div class="col-12">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h1 class="text-20 text-primary font-weight-medium">{{ 'bidderFinalInvoice.InvoiceDetails' | translate }}
                </h1>
            </div>
        </div>
        <div class="content-area">
            <h3>{{ 'bidderFinalInvoice.InvoiceInformation' | translate }}</h3>
            <div class="card">
                <div class="card-body">
                    <div style="margin-top: 25px;
                    margin-left: 15px;
                    margin-right: 15px;">
                        <p style="color: #005B4D; font-size: 18px; font-weight: bold;">{{ 'bidderFinalInvoice.AuctionData' | translate }}</p>
                        <br>
                        <div style="display: flex;">
                            <div style="width: 35%;">
                                <p style="color: #117ABE; font-size: 15px;">{{ 'bidderFinalInvoice.AuctionReferenceNumber' | translate }}</p>
                                <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.auctionReferenceNo}}</p>
                            </div>
                            <div style="width: 35%;">
                                <p style="color: #117ABE; font-size: 15px;">{{ 'bidderFinalInvoice.AuctionStartDateandTime' | translate }}</p>
                                <p style="color: #005B4E; font-size: 17px;">
                                    {{invoiceForSend.auctionDate}}&nbsp;&nbsp;<span style="font-size: 6px; color: #32AD71;" class="icon-fiber_manual_record"></span>&nbsp;&nbsp;<span *ngIf="invoiceForSend.auctionTimeSufix" style="color: #cac1c1;">{{invoiceForSend.auctionTime}} {{
                                        invoiceForSend.auctionTimeSufix | translate }}</span></p>
                            </div>
                            <div style="width: 30%;">
                                <p style="color: #117ABE; font-size: 15px;">{{ 'bidderFinalInvoice.ProductsType' | translate }}</p>
                                <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.productsType}}</p>
                            </div>
                        </div>
                        <br>
                        <div style="display: flex;">
                            <div style="width: 35%;">
                                <p style="color: #117ABE; font-size: 15px;">{{ 'bidderFinalInvoice.OfferAwardDate' | translate }}</p>
                                <p style="color: #005B4E; font-size: 17px;">
                                    {{invoiceForSend.offerAwardDate}}&nbsp;&nbsp;<span style="font-size: 6px; color: #32AD71;" class="icon-fiber_manual_record"></span>&nbsp;&nbsp;<span *ngIf="invoiceForSend.offerAwardTimeSufix" style="color: #cac1c1;">{{invoiceForSend.offerAwardTime}} {{
                                        invoiceForSend.offerAwardTimeSufix | translate }}</span></p>
                            </div>
                        </div>
                        <hr>
                        <br>
                        <div style="display: flex;">
                            <div style="width: 50%;">
                                <p style="color: #005B4D; font-size: 18px; font-weight: bold;">{{ 'bidderFinalInvoice.BillHolderInformation' | translate }}</p>
                                <br>
                                <div>
                                    <p style="color: #117ABE; font-size: 15px;">{{ 'bidderFinalInvoice.FacilityName' | translate }}</p>
                                    <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.facilityName}}</p>
                                </div>
                                <br>
                                <div>
                                    <p style="color: #117ABE; font-size: 15px;">{{ 'bidderFinalInvoice.CommercialRegistrationNo' | translate }}</p>
                                    <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.commercialRegNo}}</p>
                                </div>
                            </div>
                            <div style="width: 50%;">
                                <p style="color: #005B4D; font-size: 18px; font-weight: bold;">{{ 'bidderFinalInvoice.BillerData' | translate }}</p>
                                <br>
                                <div>
                                    <p style="color: #117ABE; font-size: 15px;">{{ 'bidderFinalInvoice.EntityName' | translate }}</p>
                                    <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.entityName}}</p>
                                </div>
                                <br>
                                <div>
                                    <p style="color: #117ABE; font-size: 15px;">{{ 'bidderFinalInvoice.EntityNo' | translate }}</p>
                                    <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.entityNo}}</p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <br>
                        <p style="color: #005B4D; font-size: 18px; font-weight: bold;">{{ 'bidderFinalInvoice.DeliveryData' | translate }}</p>
                        <br>
                        <div>
                            <div style="width: 40%;">
                                <p style="color: #117ABE; font-size: 15px;">{{ 'bidderFinalInvoice.DeliveryDate' | translate }}</p>
                                <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.deliveryDate}}</p>
                            </div>
                        </div>
                        <br>
                        <div style="display: flex;">
                            <div style="width: 40%;">
                                <p style="color: #117ABE; font-size: 15px;">{{ 'bidderFinalInvoice.Region' | translate }}
                                </p>
                                <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.region}}</p>
                            </div>
                            <div style="width: 35%;">
                                <p style="color: #117ABE; font-size: 15px;">{{ 'bidderFinalInvoice.City' | translate }}
                                </p>
                                <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.city}}</p>
                            </div>
                            <div style="width: 25%;">
                                <p style="color: #117ABE; font-size: 15px;">{{ 'bidderFinalInvoice.District' | translate }}
                                </p>
                                <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.district}}</p>
                            </div>
                        </div>
                        <br>
                        <div style="display: flex;">
                            <div style="width: 40%;">
                                <p style="color: #117ABE; font-size: 15px;">{{ 'bidderFinalInvoice.Street' | translate }}
                                </p>
                                <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.street}}</p>
                            </div>
                            <div style="width: 35%;">
                                <p style="color: #117ABE; font-size: 15px;">{{ 'bidderFinalInvoice.OtherNotes' | translate }}</p>
                                <p style="color: #005B4E; font-size: 17px;">{{invoiceForSend.otherNotes}}</p>
                            </div>
                        </div>
                        <hr>
                        <br>
                        <p style="color: #005B4D; font-size: 18px; font-weight: bold;">{{ 'bidderFinalInvoice.TableOfProductsAndPrices' | translate }}</p>
                        <table id="inventoryAllocationTable" class="table table-bordered table-expanded">
                            <thead class="thead-dark">
                                <tr>
                                    <th style="width: 12%;" class="btn-primary-light" scope="col" (click)="sortByTableHeaderId(1, 'string')">
                                        <div style=" padding-left: 10px;" class="table-header-cell">
                                            <span>#</span>
                                            <span class="arrow asc"><span class="icon-unfold_more"></span></span>
                                        </div>
                                    </th>
                                    <th class="btn-primary-light" scope="col" (click)="sortByTableHeaderId(2, 'string')">
                                        <div style=" padding-left: 10px;" class="table-header-cell">
                                            <span>{{ 'bidderFinalInvoice.ProductName' | translate }}</span>
                                            <span class="arrow asc"><span class="icon-unfold_more"></span></span>
                                        </div>
                                    </th>
                                    <th class="btn-primary-light" scope="col" (click)="sortByTableHeaderId(3, 'string')">
                                        <div style=" padding-left: 10px;" class="table-header-cell">
                                            <span>{{ 'bidderFinalInvoice.SKU_Number' | translate }}</span>
                                            <span class="arrow asc"><span class="icon-unfold_more"></span></span>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="invoiceForSend.productDetails">
                                    <ng-container *ngIf="invoiceForSend.productDetails.length > 0">
                                        <tr *ngFor="let rowItem of invoiceForSend.productDetails;index as i">
                                            <td>{{rowItem.referenceno}}</td>
                                            <td>{{rowItem.productname}}</td>
                                            <td>{{rowItem.SKUNumber}}</td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="invoiceForSend.productGrandTotal">
                                    <tr>
                                        <td colspan="3" style="color: #005B4D; font-weight: bold;"> {{ 'bidderFinalInvoice.GearPrice' | translate }}<span style="color: #32AD71; margin-left: 78%;">{{invoiceForSend.productGrandTotal.gearPrice}}
                                                {{ 'bidderFinalInvoice.SAR' | translate }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="color: #005B4D; font-weight: bold;"> 2.5% {{ 'bidderFinalInvoice.QuestRate' | translate }}<span style="color: #32AD71; margin-left: 74%;">{{invoiceForSend.productGrandTotal.questRate}}
                                                {{ 'bidderFinalInvoice.SAR' | translate }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="color: #005B4D; font-weight: bold;"> {{ 'bidderFinalInvoice.ValueAddedTax' | translate }}<span style="color: #32AD71; margin-left: 74%;">{{invoiceForSend.productGrandTotal.valueAddTax}}
                                                {{ 'bidderFinalInvoice.SAR' | translate }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="color: #005B4D; font-weight: bold;"> {{ 'bidderFinalInvoice.TotalInvoicePrice' | translate }}<span style="color: #32AD71; margin-left: 72%;">{{invoiceForSend.productGrandTotal.totalInvPrice}}
                                                {{ 'bidderFinalInvoice.SAR' | translate }}</span>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                        <ng-container *ngIf="invoiceForSend.productDetails">
                            <div class="mt-4 row margin-auto" *ngIf="invoiceForSend.productDetails.length > 0">
                                <div class="mb-5">
                                    <nav aria-label="..." class="nav-pagination">
                                        <ul *ngIf="PaginationServc.pages && PaginationServc.pages.length > 0" class="pagination">
                                            <!-- <li class="page-item" [ngClass]="{ disabled: PaginationServc.currentPage === 1 }">
                                <a (click)="getServerData(1)" class="page-link" href="#">Last</a>
                            </li> -->
                                            <li class="page-item" [ngClass]="{ disabled: PaginationServc.currentPage === 1 }">
                                                <a (click)="getServerData(PaginationServc.currentPage)" class="page-link" tabindex="-1" aria-disabled="true">{{
                                                    'auctionlist.grid-previous' | translate }}</a>
                                            </li>
                                            <li *ngFor="let page of PaginationServc.pages" class="page-item" [ngClass]="{ active: PaginationServc.currentPage === page }">
                                                <a (click)="getServerData(page + 1)" class="page-link"> {{ page }} </a>
                                            </li>
                                            <li class="page-item" [ngClass]="{ disabled: PaginationServc.currentPage === PaginationServc.totalPages }">
                                                <a (click)="getServerData(PaginationServc.currentPage + 2)" class="page-link">{{ 'auctionlist.grid-next' | translate }}</a>
                                            </li>
                                            <!-- <li class="page-item" [ngClass]="{ disabled: PaginationServc.currentPage === PaginationServc.totalPages }">
                                <a (click)="getServerData(PaginationServc.currentPage + 1)" class="page-link" href="#">Last</a>
                            </li> -->
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <h3 style="margin-top: 50px;">{{ 'bidderFinalInvoice.PayTheBill' | translate }}</h3>
            <div class="card">
                <div class="card-body">
                    <div style="display: flex;justify-content: space-between;">
                        <p class="card-text"> {{ 'bidderFinalInvoice.AwardCanceled' | translate }} </p>
                        <div>
                            <a href="" style="text-decoration: underline; margin-right: 5px;color: #08594D;font-size: 14px;">
                                {{ 'bidderFinalInvoice.InvoiceCopy' | translate }} </a>
                            <span class="icon-download"></span>
                        </div>
                    </div>
                    <div style="display: flex;justify-content: space-around;">
                        <button class="tab-btn card" [ngClass]="{'card-active': card}" (click)="switchPaymentToSADAD()">
                            <div class="card-body" style="width: 100%;">
                                <p style="font-size: 16px;margin-bottom: 0;">{{ 'bidderFinalInvoice.PaymentBySADAD' |
                                    translate }}</p>
                            </div>
                        </button>
                        <button class="tab-btn card" [ngClass]="{'card-active': !card}" (click)="switchPaymentToCard()">
                            <div class="card-body" style="width: 100%;">
                                <div style="display: flex;justify-content: center; margin-bottom: 10px;">
                                    <p style="font-size: 16px;margin-bottom: 0;padding-right: 15px;">{{
                                        'bidderFinalInvoice.CardPayment' | translate }}</p>
                                    <span class="icon-payment-plan"></span>
                                </div>
                                <p style="font-size: 14px;margin-bottom: 0;">{{ 'bidderFinalInvoice.Almost' | translate
                                    }}</p>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="btn-submit-grp">
                <div>
                    <button class="btn btn-outline-primary-light btn-md">{{ 'bidderFinalInvoice.Cancellation' |
                        translate }}</button>
                    <button class="btn btn-primary-light btn-md" style="margin-left: 10px;">{{
                        'bidderFinalInvoice.PaymentConfirmation' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>