<div class="col-12 mt-1">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb px-0">
            <li class="breadcrumb-item"><a [href]="getHomeUrl">{{ 'bidderAuctions.TrustServices' | translate }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                {{ 'bidderAuctions.Auctions' | translate }}
            </li>
        </ol>
    </nav>
</div>

<div class="col-12">
    <div class="row">
        <div class="col-md-12">
            <div class="heading">
                <h1 class="text-20 text-primary font-weight-medium">{{ 'bidderAuctions.Auctions' | translate }}</h1>
            </div>
        </div>
    </div>
    <div class="row text-center" *ngIf="showPageLoader">
        <div class="col-md-12 justify-content-start">
            <div class="alert-body text-center">
                <i class="alert-icon">
                    <svg class="et-spinner" width="64" height="64" xmlns="http://www.w3.org/2000/svg">
                        <g fill-rule="nonzero" fill="#32AD71">
                            <path
                                d="M32 11.871c-1.755 0-3.097-1.342-3.097-3.097V3.097C28.903 1.342 30.245 0 32 0s3.097 1.342 3.097 3.097v5.677c0 1.652-1.342 3.097-3.097 3.097z" />
                            <path
                                d="M32 64c-1.755 0-3.097-1.342-3.097-3.097v-5.677c0-1.755 1.342-3.097 3.097-3.097s3.097 1.342 3.097 3.097v5.677C35.097 62.658 33.755 64 32 64z"
                                opacity=".4" />
                            <path
                                d="M46.452 60.077c-1.033 0-2.065-.516-2.684-1.548l-2.787-4.852c-.826-1.445-.31-3.406 1.135-4.232 1.445-.826 3.407-.31 4.232 1.136l2.787 4.851c.826 1.445.31 3.407-1.135 4.233a2.913 2.913 0 01-1.548.412z"
                                opacity=".5" />
                            <path
                                d="M11.871 23.432a2.913 2.913 0 01-1.548-.413L5.47 20.232C4.026 19.406 3.51 17.445 4.335 16c.826-1.445 2.788-1.961 4.233-1.135l4.851 2.787c1.446.825 1.962 2.787 1.136 4.232-.62 1.032-1.652 1.548-2.684 1.548z"
                                opacity=".05" />
                            <path
                                d="M57.084 49.548a2.913 2.913 0 01-1.549-.413l-4.954-2.787c-1.446-.825-1.962-2.787-1.136-4.232.826-1.445 2.787-1.961 4.232-1.135l4.852 2.787c1.445.826 1.961 2.787 1.136 4.232-.517 1.032-1.549 1.548-2.581 1.548z"
                                opacity=".6" />
                            <path
                                d="M8.774 35.097H3.097C1.342 35.097 0 33.755 0 32s1.342-3.097 3.097-3.097h5.677c1.755 0 3.097 1.342 3.097 3.097s-1.445 3.097-3.097 3.097z"
                                opacity=".1" />
                            <path
                                d="M60.903 35.097h-5.677c-1.755 0-3.097-1.342-3.097-3.097s1.342-3.097 3.097-3.097h5.677C62.658 28.903 64 30.245 64 32s-1.342 3.097-3.097 3.097z"
                                opacity=".7" />
                            <path
                                d="M6.916 49.548c-1.032 0-2.064-.516-2.684-1.548-.826-1.445-.31-3.406 1.136-4.232l4.851-2.787c1.446-.826 3.407-.31 4.233 1.135.825 1.445.31 3.407-1.136 4.232l-4.851 2.787c-.413.31-.93.413-1.549.413z"
                                opacity=".2" />
                            <path
                                d="M52.129 23.432c-1.032 0-2.064-.516-2.684-1.548-.826-1.445-.31-3.407 1.136-4.232l4.851-2.787c1.445-.826 3.407-.31 4.233 1.135.825 1.445.31 3.406-1.136 4.232l-4.852 2.787a2.913 2.913 0 01-1.548.413z"
                                opacity=".8" />
                            <path
                                d="M17.548 60.077A2.913 2.913 0 0116 59.665c-1.445-.826-1.961-2.788-1.135-4.233l2.787-4.851c.825-1.446 2.787-1.962 4.232-1.136 1.445.826 1.961 2.787 1.135 4.232l-2.787 4.852c-.62 1.032-1.651 1.548-2.684 1.548z"
                                opacity=".3" />
                            <path
                                d="M43.665 14.968a2.913 2.913 0 01-1.549-.413c-1.445-.826-1.961-2.787-1.135-4.232l2.787-4.852C44.594 4.026 46.555 3.51 48 4.335c1.445.826 1.961 2.788 1.135 4.233l-2.787 4.851c-.619.93-1.651 1.549-2.683 1.549z"
                                opacity=".9" />
                        </g>
                    </svg>
                </i>
                <div class="alert-content">
                    <h5 class="text-black-50">{{ 'common.msg-loading' | translate }}</h5>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!showPageLoader" class="row justify-content-between no-gutters">
        <div class="col-md-9 justify-content-start">
            <div class="row no-gutters">
                <div class="col-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-md-12">

                                        <!-- filled -->
                                        <ul class="nav nav-fill p-0">
                                            <li class="nav-item">
                                                <a class="nav-link nav-link-tabs"
                                                    [ngClass]="{ active: selectedTab === 'All' }"
                                                    (click)="onTabSelection('All')">{{ 'bidderAuctions.All' | translate
                                                    }} ({{totcntforall}})</a>
                                            </li>
                                            <li class="nav-item border-left">
                                                <a class="nav-link nav-link-tabs"
                                                    [ngClass]="{ active: selectedTab === 'Ongoing' }"
                                                    (click)="onTabSelection('Ongoing')">{{
                                                    'bidderAuctions.OngoingAuctions' | translate }}
                                                    ({{totcntforongoingauction}})</a>
                                            </li>
                                            <li class="nav-item border-left ">
                                                <a class="nav-link nav-link-tabs"
                                                    [ngClass]="{ active: selectedTab === 'Upcoming' }"
                                                    (click)="onTabSelection('Upcoming')">{{
                                                    'bidderAuctions.UpcomingAuctions' | translate }}
                                                    ({{totcntforupcommingauction}})</a>
                                            </li>
                                            <li class="nav-item border-left">
                                                <a class="nav-link nav-link-tabs"
                                                    [ngClass]="{ active: selectedTab === 'Pending Selecting' }"
                                                    (click)="onTabSelection('Pending Selecting')">{{
                                                    'bidderAuctions.UnderGear' | translate }}
                                                    ({{totcntforundergear}})</a>
                                            </li>
                                            <li class="nav-item border-left">
                                                <a class="nav-link nav-link-tabs"
                                                    [ngClass]="{ active: selectedTab === 'Closed' }"
                                                    (click)="onTabSelection('Closed')">{{
                                                    'bidderAuctions.ClosedAuctions' | translate }}
                                                    ({{totcntforendedauction}})</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto justify-content-end">
            <button (click)="toggleFilter()" class="btn nav-tabs-btn h-100" style="color:#32ad71"
                [ngClass]="{'filter-active': showFilterForm }" type="button" id="dropdownMenuButton"
                aria-haspopup="true" aria-expanded="false">
                <span class="text-14 icon-filters"></span>
            </button>
        </div>
    </div>

    <div class="modal-content p-4 shadow-lg border mt-4" *ngIf="showFilterForm">
        <form [formGroup]="filterFormGroup">
            <div class="modal-header">
                <h3 class="modal-title text-20 text-primary font-weight-medium" id="exampleModalLabel">{{
                    'bidderAuctions.filter-title' | translate }}</h3>
                <button type="button" class="modal-close btn-close btn-sm" data-dismiss="modal" aria-label="Close"
                    (click)="toggleFilter()">
                    <span class="icon-close"></span>
                </button>
            </div>
            <div class="modal-body mb-3">
                <div class="col-12 row pr-0">
                    <div class="col-md-4 mb-3">
                        <label class="d-flex" for="validationCustom02">{{ 'bidderAuctions.AuctionReferenceNumber' |
                            translate }}</label>
                        <input type="text" maxlength="10" formControlName="prevRefNo" class="form-control"
                            placeholder="{{ 'bidderAuctions.AuctionReferenceNumber' | translate }}"
                            id="validationCustom01" [required]="true" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom04">{{ 'bidderAuctions.BiddingMethod' | translate }}</label>
                        <select class="form-control" id="validationCustom04" formControlName="auctionType"
                            (change)="changeSelect($event, 'auctionType')" [required]="true">
                            <option value="">{{ 'bidderAuctions.Select' | translate }} </option>
                            <option *ngFor="let product of dropValProducts">{{product | translate }}</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3"
                        *ngIf="selectedTab === 'All' || selectedTab === 'Pending Selecting' || selectedTab === 'Closed'">
                        <label for="validationCustom04">{{ 'bidderAuctions.AuctionStatus' | translate }}</label>
                        <select class="form-control" formControlName="auctionStatus"
                            (change)="changeSelect($event, 'auctionStatus')" [required]="true">
                            <option value="">{{ 'bidderAuctions.AuctionStatus' | translate }} </option>
                            <option *ngFor="let status of dropValStatus">{{status | translate }}</option>
                        </select>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="d-flex" for="validationCustom02">{{ 'bidderAuctions.AuctionStartDate' | translate
                            }}</label>
                        <input type="text" id="auctionStartDate" formControlName="auctionStartDate"
                            placeholder="{{ 'bidderAuctions.Auction-formDate-pholder' | translate }}"
                            (change)="onChangeStartDate($event)"
                            class="form-control calendar-control calendar-both-control" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom01">{{ 'bidderAuctions.AuctionEndDate' | translate }}</label>
                        <input type="text" id="auctionEndDate" formControlName="auctionEndDate"
                            placeholder="{{ 'bidderAuctions.Auction-formDate-pholder' | translate }}"
                            (change)="onChangeEndDate($event)"
                            class="form-control calendar-control calendar-both-control" />
                        <!-- <input type="text" formControlName="auctionEndDate" class="form-control" placeholder="{{ 'bidderAuctions.Auction-formDate-pholder' | translate }}" bsDatepicker [required]="true"> -->
                    </div>
                </div>
                <!-- {{filterFormGroup.value | json}} -->
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-outline-danger btn-md "
                    (click)="resetFilter()">
                    {{ 'bidderAuctions.filter-btn2' | translate }}
                </button>
                <button type="button" class="btn btn-primary-light btn-md" (click)="getAuctionList(1)">
                    {{ 'bidderAuctions.filter-btn1' | translate }}
                </button>
            </div>
        </form>
    </div>
    <div>
        <!-- Card group  -->
        <div class="card-grp">
            <ng-container *ngIf="auctionListData?.length > 0">
                <app-auction-card [auction]="rowItem" *ngFor="let rowItem of auctionListData"></app-auction-card>
            </ng-container>
        </div>
        <div class="mt-4 row margin-auto" *ngIf="auctionListData?.length > 0">
            <div class="mb-5">
                <nav aria-label="..." class="nav-pagination">

                    <ul *ngIf="PaginationServc.pages && PaginationServc.pages.length > 0" class="pagination">
                        <!-- <li class="page-item" [ngClass]="{ disabled: PaginationServc.currentPage === 1 }">
                            <a (click)="getServerData(1)" class="page-link" href="#">Last</a>
                        </li> -->
                        <li class="page-item" [ngClass]="{ disabled: PaginationServc.currentPage === 1 }">
                            <a (click)="getServerData(PaginationServc.currentPage)" class="page-link" tabindex="-1"
                                aria-disabled="true">{{ 'bidderAuctions.grid-previous' | translate }}</a>
                        </li>
                        <li *ngFor="let page of PaginationServc.pages" class="page-item"
                            [ngClass]="{ active: PaginationServc.currentPage === page }">
                            <a (click)="getServerData(page + 1)" class="page-link">
                                {{ page }}
                            </a>
                        </li>
                        <li class="page-item"
                            [ngClass]="{ disabled: PaginationServc.currentPage === PaginationServc.totalPages }">
                            <a (click)="getServerData(PaginationServc.currentPage + 2)" class="page-link">{{
                                'bidderAuctions.grid-next' | translate }}</a>
                        </li>
                        <!-- <li class="page-item" [ngClass]="{ disabled: PaginationServc.currentPage === PaginationServc.totalPages }">
                            <a (click)="getServerData(PaginationServc.currentPage + 1)" class="page-link" href="#">Last</a>
                        </li> -->
                    </ul>
                    <!-- <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item" aria-current="page">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link dot-link">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">15</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul> -->
                </nav>
            </div>
        </div>
    </div>
</div>