ul.nav.et-tabs.et-tabs-filled li a {
    max-width: inherit;
}

.nav-link {
    padding: 15px 24px !important;
}

.hide {
    display: none;
}

.ml-n2,
.mx-n2 {
    margin-left: 0rem!important;
}

.mr-n2,
.mx-n2 {
    margin-right: 0rem!important;
}