<!-- <div class="row">
    <div class="col-12"> -->

        <div class="card bg-primary text-white mt-1" style="height: 910px;" [ngClass]="textDir ? 'card-en' : 'card-ar'">
            <div class="card-body">
                <p class="text-22">{{ "auctionCommittee.ac-detail.latestOffers" | translate }}</p>


                <div class="list-card" *ngFor="let b of biddet">
                    <div class="text-body" style="display: flex;justify-content: space-between;">
                        <p style="margin: 0;">{{ b.BidderName }}</p>
                        <p style="margin: 0;">#{{ b.SlNo }}</p>
                    </div>
                    <p style="color: #414042;opacity: 0.61;font-size: 12px;margin: 0;">{{ getsince(b.BidSubmitOn,b.BidSubmitAt) }}</p>
                </div>


                <div class="mt-4 ml-3 row margin-auto">
                    <div class="mb-5">

                        <nav aria-label="..." class="nav-pagination">
                            <ul class="pagination">

                                <li class="page-item" [ngClass]="{ disabled: PaginationServc.currentPage === 1 }">
                                    <a (click)="getBidDetails(PaginationServc.currentPage)" class="page-link" tabindex="-1" aria-disabled="true">{{ 'auctionlist.grid-previous' | translate }}</a>
                                </li>
                                <li *ngFor="let page of PaginationServc.pages" class="page-item" [ngClass]="{ active: PaginationServc.currentPage === page }">
                                    <a (click)="getBidDetails(page + 1)" class="page-link">
                            {{ page }}
                        </a>
                                </li>
                                <li class="page-item" [ngClass]="{ disabled: PaginationServc.currentPage === PaginationServc.totalPages }">
                                    <a (click)="getBidDetails(PaginationServc.currentPage + 2)" class="page-link">{{ 'auctionlist.grid-next' | translate }}</a>
                                </li>

                            </ul>

                        </nav>
                    </div>
                </div>


            </div>
        </div>
    <!-- </div>

</div> -->